[2019-10-31 15:38] RobertDober commented on #300
nice pun Dave

we could even close the vector completely when parsing raw HTML by just checking for valid html tags or even simpler, counting different tags and stopping to parse when we hit, say, 4242 ;)

[2019-10-31 15:40] RobertDober commented on #300
@OvermindDL1 I am afraid user provided Markdown will never be safe :cry:

As far as I know, Earmark does a good job as much as most markdown converters to not to do anything stupid, but beyond that...

[2019-10-31 15:41] josevalim commented on #300
Hi @pragdave! I have decided to do some math:

The default atom limit is 1048576.

A combination of one letter plus letter+digits four times is enough to generate:

    26 * 36 * 36 * 36 = 1213056 combinations

Assuming each combination is is four bytes plus `</>` to terminate the tag, we need 7 bytes * 1213056 to exhaust the atom list, which is equivalent to a 7MB markdown document filled with HT

[2019-10-31 15:49] josevalim commented on #300
We could definitely check tags but no such luck when it comes to attributes. In my mind, the choice you did right now is the best. The atom should be gated behind a flag, as it is unsafe (or we do a pass on ExDoc side to turn everything from strings to atoms, that's not a problem either)!

[2019-10-31 16:01] pragdave commented on #300
I hate it when you're logical... :)

As an aside, why can't atoms be weak references? If an atom was an MD5 of
its name (we don't need to be secure), and the atom table cached the last
(say) 100,000 name/hash pairs, with some simple LRU purging, then we could
just regenerate the hash if the previously cached value had been flushed.

[2019-10-31 16:07] josevalim commented on #300
I think it is a solvable problem (atoms being weak references) so it is a matter of having someone do or prioritize the work (it is doable but not trivial).

[2019-10-31 18:41] RobertDober commented on #300
@josevalim as a matter of fact attributes are a **real** problem **now**, because they are stored as `Keyword` lists :fearful: .

So we definitely have to address the problem before making `as_ast` the default.

[2019-10-31 18:43] RobertDober opened #301 "Check, and correct if necessary if atom depletion attacks with html attributes are possible"
c.f. #300

[2019-11-01 09:15] RobertDober commented on #301
[code]

[2019-11-01 09:15] #301 closed

[2019-11-01 09:18] RobertDober opened #302 "Earmark.version returns a charlist"
A string is preferable

[2019-11-08 10:15] RobertDober commented on #298
actually this has nothing to do with lists, just blockquotes are parsed too rigourosly

[code]

[2019-11-08 10:44] RobertDober opened #304 "Blockquotes need too much indention to be included into a list"
This is the followup of #298

Earmark needs a blockquote to be indented 4 spaces to be inside the list

[code]

This is not conform to spec, https://babelmark.github.io/?text=-+li%0A++%3E+b

This might be fixed with #249

[2019-11-08 10:54] #298 closed

[2019-11-08 10:56] RobertDober commented on #304
Closed with #305, but beware of #304, sorry I need time I do not have to get the list processing up to GFM standards. :sob:

[2019-11-08 10:56] #304 closed

[2019-11-08 12:14] #302 closed

[2019-11-14 05:57] ZeLarpMaster opened #307 "Escaping inside codeblocks"
[The documentation](https://hexdocs.pm/earmark/Earmark.html#module-security) says

But how exactly do we do this?

I tried (as [you can see by yourself here](https://github.com/ZeLarpMaster/EarmarkTest)) escaping, not escaping, considering it raw, and not considering it raw, but none of them look good. Not considering it raw is obviously not what I want so what about the other 2 options?

If I don

[2019-11-14 16:39] RobertDober commented on #307
Can you provide a link to the corresponding code please?

However, escaping the Markdown is **not** the idea, but sanitizing the generated HTML.

In general, sanitizing HTML is not a trivial task and you should probably use a library.
As a Rails and Phoenix user I just use the frameworks' capabilities so I am not of great help.

If you rather want to modify Earmark's behaviour I suggest you use th

[2019-11-14 16:56] ZeLarpMaster commented on #307
Here's the link to the project I was using: https://github.com/ZeLarpMaster/EarmarkTest

So if I'm understanding this right, I should be using a lib like [phoenix_html_sanitizer](https://github.com/elixirstatus/phoenix_html_sanitizer) to filter the tags? I don't see it in the docs, but is there a list of tags which can be output by Earmark somewhere or should I read through the source code and mak

[2019-11-14 17:02] RobertDober commented on #307
I am not sure I do understand what docs you are talking about?

What list of tags should there be? All tags are output right now. Maybe the docs talking about the rendering of HTML inside markdown can be improved, PRs are certainly welcome :blush:, but I am not sure.

To my understanding, yes, you should use a tool of some kind, and if that tool has a problem with the HTML generated by Earmark you

[2019-11-14 18:35] ZeLarpMaster commented on #307
I was talking about Earmark's docs. The problem here is that I want to avoid XSS attacks, so I obviously want to filter out script HTML tags and any other kind of unnecessary HTML tags (like iframes). A list of what Earmark can output would be useful as a whitelist for sanitizing.

I think I'll use the AST instead. I was a bit unsure about using it since it's "experimental" and likely to change, b

[2019-11-14 18:49] OvermindDL1 opened #308 "Crash on certain type of message"
Running the minimized code of:
[code]

Crashes with:
[code]

In addition doing `Earmark.as_ast("<a>")` is returning `{:error, [{"a", [], []}], [{:warning, 1, "Failed to find closing <a>"}]}`, when as can be seen on github here as well works fine, it just auto-closes it, is there an option to override that in earmark to act like github's markdown?

[2019-11-14 18:50] OvermindDL1 commented on #308
But yeah, some people are having fun crashing one of my bots because of this bug now...  >.>

[2019-11-14 19:02] RobertDober commented on #307
That is great, that is what the AST is for, and the usability of such features depends a lot on early adapters.
Looking forward to your feedback.

[2019-11-14 19:02] #307 closed

[2019-11-14 19:04] RobertDober commented on #308
That I am sorry about and I shall try to find the time to fix this soon.
Thank you for adopting as_ast early.

Concernig the "<a>" well I am open minded (could not resist, sorry) about it, but I need to look into it, I will open a ticket for this as it is low prio, while this one is high prio.

[2019-11-14 19:10] RobertDober commented on #249
1.4.3 is an urgent bugfix and this one needs some time.

[2019-11-14 19:31] OvermindDL1 commented on #308
Yeah the `<a>` and so forth not being an error is minimal (it happens with any `<blahblah>` style tag), just a nice thing, the crash is the big thing here.  ^.^

[2019-11-14 21:18] RobertDober commented on #308
Seems you are using 1.4.1, this is fixed in 1.4.2

Can you confirm?

[2019-11-14 21:43] OvermindDL1 commented on #308
Ah I thought I was updated, I updated not long ago, my bad, it's fixed.  ^.^

Sorry for the noise!

[2019-11-14 21:43] #308 closed

[2019-11-15 06:47] RobertDober commented on #308
No problem

[2019-11-23 05:47] chulkilee opened #309 "Code fence with more than 3 backticks"
To include code with three backticks, GFM allows wrapping the code with more than three backticks.

From https://github.github.com/gfm/#fenced-code-blocks

For example:

[code]

This is rendered in GFM  as follows:

[code]

For now, I circumvent it with using `~~~` instead of using four backticks.

[code]

---

(originally reported to https://github.com/elixir-lang/ex_doc/issues/1108)

[2019-11-23 08:13] RobertDober commented on #309
I was not aware of this, thanks for the issue.
It should be easy to implement.

[2019-11-23 08:17] RobertDober commented on #309
That is because there are two bugs here as we do not check for the _indented with no more than 3 spaces_ either. :cry:

[2019-11-23 08:48] #309 closed

[2019-11-25 08:10] RobertDober opened #311 "AST Better doc"
RIght now the AST is not documented in the generated docs and its types are not exposed.

[2019-11-25 16:58] OvermindDL1 commented on #309
I'm curious where `~~~` comes from?  Traditionally in markdown the `~` is used for things like \~strikeout\~ for ~strikeout~ and so forth.  I've never seen it used for code fences?

[2019-11-25 17:43] RobertDober commented on #309
I am afraid not to know that answer. Gruber not even mentions ~```~ and I ignore the influences of markdown, maybe someone can enlighten us on the elixir forum?

[2019-11-25 18:28] chulkilee commented on #309
@OvermindDL1  I didn't know that but got it when reading GFM doc at https://github.github.com/gfm/#fenced-code-blocks

[2019-11-25 20:31] OvermindDL1 commented on #309
@chulkilee Ah, that's a github'ism!  Commonmark took a lot from GFM.  Interesting, I wonder why when repeated \`'s are so simple...

[2019-11-25 21:02] RobertDober commented on #309
Both are a pain to type, when you are French, LOL

[2019-12-04 09:51] arjan opened #312 "Earmark.as_plaintext/1"
Would you accept a PR for a function that strips markdown and returns the text without formatting? I found myself writing one, and it seems like a logical addition to me.

[2019-12-04 16:12] RobertDober commented on #312
depends, but probably you should release your own hex package that uses `Earmark.as_ast`
but I'll gladly have a look  keeping an open mind

[2019-12-04 20:12] arjan commented on #312
The code is fairly simple, to the likes of:

[code]

[2019-12-04 20:48] RobertDober commented on #312
I understand why this could go into Earmark, because it is too small for a package.

I guess I will merge this into Earmark but the idea is definitely to get it out of Earmark again and into a hex package kind of `EarmarkTransformers` (pun name of course), and that, once

(i) the AST is stable
(ii) more _standard_ transformations will be part of Earmark

Would that be ok with you?

The rationale i

[2019-12-04 20:49] RobertDober commented on #312
so in case you are preparing a PR please add two or three test cases into `test/acceptance/transform`.
Thx

[2019-12-05 07:09] arjan commented on #312
Awesome, I'll do that!

[2019-12-07 17:06] myrrlyn commented on #228
Hi; I am working on moving my website from the Ruby static site generator Middleman, which uses kramdown as its parser, to Elixir/Phoenix with Earmark. I have [some pages] which use

[code]

so that I can add some layout structure to a largely-text page.

I am interested in restoring? implementing? this behavior in Earmark, as this thread indicates that it may have previously existed and, as you n

[2019-12-08 11:37] RobertDober commented on #228
https://babelmark.github.io/?text=%3Cdiv+markdown%3D%22block%22%3E%0A%23+Markdown+Content%0A%3C%2Fdiv

I am not sure this is a mainstream feature and furthermore we have

[code]

So custom transformers can definitely be created and (as discussed in #312) and potentially moved outside Earmark.

Of course you are not too demanding, and a PR to create such a transformer would be welcome, actually I'd

[2019-12-09 16:43] RobertDober opened #314 "@compile inline: ???"
Can we boost performance with this? To be investigated.

[2019-12-17 23:14] RichMorin opened #316 "pony: support an include feature"
I would like Earmark to support some form of include feature. Problem is, there doesn't seem to be any accepted standard for the syntax. Here, for example, is the syntax used by Jekyll:

    {% include_relative filepath %}

And here is the syntax for DocFX Flavored Markdown:

    [!include[<title>](<filepath>)]

Meanwhile, I plan to add a syntax extension for this. So, I'd like to know what syntax

[2019-12-17 23:42] pragdave commented on #316
Be really careful here. Earmark is used for server side rendering, and
allowing files to be included could be a big security hole...

On Tue, Dec 17, 2019, 17:14 Rich Morin <notifications@github.com> wrote:

[2019-12-17 23:58] RichMorin commented on #316
Indeed, and I'm using it in exactly that use case.  However, I think I have
that sort of issue under control.  If something is implemented in Earmark,
a warning of some sort in the docs might be appropriate.

-r

[2019-12-18 00:28] pragdave commented on #316
Why not just write a separate preprocessor?

On Tue, Dec 17, 2019, 17:58 Rich Morin <notifications@github.com> wrote:

[2019-12-18 01:31] RichMorin commented on #316
That's kind of what I'm doing at the moment.  I already support a small number of extensions to Markdown and TOML; I'll just add this to the repertoire:

http://cfcl.com:64000/item?key=Areas/Content/HowTos/PA_Extensions/main.toml

-r

[2019-12-18 09:17] RobertDober commented on #316
I am afraid I am with @pragdave on this. Earmark shall remain as lean as possible and if you have been following some other issues we are really pushing this kind of functionality towards external tools.
IMHO Earmark shall do one thing, and that as well as possible, converting markdown to html.

BTW I have the feeling that supporting ex_doc must remain the primary goal even if we are happy that it

[2019-12-18 10:51] pragdave commented on #316
I do.

On Wed, Dec 18, 2019, 03:17 Robert Dober <notifications@github.com> wrote:

[2019-12-18 17:01] RichMorin commented on #316
Understood.  For the record, I have decided to support Jekyll's include syntax and (until I come up with a different use case) to restrict included files to the local directory.

-r

[2019-12-19 09:24] #316 closed

[2019-12-20 07:08] RichMorin opened #317 "handling of (some) double quotes is broken"
Earmark likes to generate matching sets of "smart quotes", but it doesn't always get them right.
The closing quote in the second instance below is actually another opening quote:

    iex(1)> foo = """
    ...(1)> for example, "_" and "-" ...
    ...(1)> """
    "For example, \"_\" and \"-\" ...\n"
    iex(2)> Earmark.as_html(foo)
    {:ok, "<p>For example, “_” and “-“ …</p>\n", []}

[2019-12-20 08:37] RobertDober commented on #317
Thank you for reporting this, looks like an extension of #280, I guess I need to increase the priority of this one.

[2019-12-20 08:38] RobertDober commented on #280
Will be covered by #317

[2019-12-20 08:38] #280 closed

[2019-12-20 08:39] RobertDober commented on #317
Imported test case from #280

       test/acceptance/html1/escape_test.exs:18

[2019-12-20 20:35] RobertDober commented on #317
Hmm this needs some major rewrite of the renderer, regexen do not seem to cut it.
Sorry

[2019-12-26 10:05] niku opened #318 "Can AST transform Inline html without escaping?"
# Description

I want to use inline html in a markdown. However it renders as escaped.

# How to reproduce

[code]

[code]

# Expected Behavior

Rendering html is as same meaning as using `Earmark.as_html/2`.

[code]

[code]

# Version

[code]

[2019-12-26 18:06] RobertDober commented on #318
Your expected behavior is not expected as we only treat HTML if the tags are in one line.

As a matter of fact, the transform of `<td>...</td>` is a special case a kind of fluke. Its behavior is not defined as documented here https://github.com/pragdave/earmark#limitations.

[2019-12-26 18:12] RobertDober commented on #318
BTW if you were interested in writing a transformer which leaves html containing nodes alone, it would be a nice little elixir lib useful for many, but I do not want to clutter Earmark with transformers, feature creep you know.

[2019-12-27 04:48] niku commented on #318
It makes sense.
I will create a lib myself handling such a expectation that I want.

Thanks for your quick response and advising to create a lib 👍

[2019-12-27 04:48] #318 closed

[2020-02-05 14:29] RobertDober opened #320 "Nested blockquotes not rendered correctly"
Currently:

[code]

Desired:

- https://babelmark.github.io/?text=%3E%3E-+one%0A =>
[code]
- https://babelmark.github.io/?text=%3E%3E%3E+hello%0A
[code]

[2020-02-05 15:28] #320 closed

[2020-02-26 10:28] josevalim commented on #300
Hi everyone, the AST format that Erlang choses contains atoms, but after looking at their AST, I am certain we will have to pre-process it, so it makes sense we have to pre-process Earmark AST too. Therefore, I am officially withdrawing this request. I actually like that, by simply returning the AST, Earmark can stay thin and just let people do whatever they want.

In any case, I would still sugge

[2020-02-26 10:28] #300 closed

[2020-02-27 08:57] RobertDober commented on #300
Makes perfect sense to distinguish by shape instead of type only.

My idea was that processing will become easier by using the same shape, but @josevalim is right (as so often) that instead of facilitating processing it facilitates errors.

I will open the issue myself @josevalim thank you for your input.

[2020-02-27 08:58] RobertDober opened #323 "Change comment nodes in ast to {:comment, text}"
as requested by @josevalim in #300

[2020-03-14 09:25] RobertDober opened #325 "Unclosed fenced code blocks do not issue errors"
[code]

[2020-03-14 17:48] RobertDober opened #326 "Rendering of inline tags [Bug is not in any released version]"
The following are not downwards compatible with 1.4.3 and neither with GFM

[code]

[2020-03-15 08:30] RobertDober commented on #326
**N.B.** see `@tag :wip` in `ast/html_test`

[2020-03-15 08:38] RobertDober opened #327 "Move all remaining regression tests into acceptance tests"

[2020-03-15 08:40] RobertDober opened #328 "Footnotes inside links do not work anymore"
Fix regression test #119

[2020-03-15 08:50] #312 closed

[2020-03-15 09:34] RobertDober opened #329 "Allow `as_html` to produce compact HTML."
The default AST->HTML Transform as foreseen for 1.5 renders like the following

[code]

I had not given that much thought yet but I reckon that this pretty printing is not really what we might want for ex_doc.

For that reason I think that I will implement

[code]

@josevalim would you prefer to use the `pretty: false` inside *ExDoc*?

[2020-03-17 15:58] #249 closed

[2020-03-17 18:38] RobertDober commented on #326
covered by #228

[2020-03-17 18:38] #326 closed

[2020-03-19 17:36] RichMorin commented on #228
Thanks; I'll try to kick the tires RSN.

-r

[2020-03-19 20:12] RobertDober commented on #228
I am not sure it is really what you want.  As mentioned above there is no markdown renderin of `inside` in

[code]

[2020-03-19 20:19] RobertDober commented on #228
as a reminder, it is just sooo mainstream not to do that

https://babelmark.github.io/?text=%3Cdiv%3E%0A++**inside**%0A%3C%2Fdiv%3E

[2020-03-22 19:51] #323 closed

[2020-03-23 16:58] myrrlyn commented on #228
It is very mainstream to not render content inside a bare HTML block; however, it is [roughly 5:4 in favor](https://babelmark.github.io/?text=%3Cdiv+markdown%3D%22block%22%3E%0A%0A++**inside**%0A%0A%3C%2Fdiv%3E) on rendering content inside an HTML block marked with the `markdown="block"` attribute. Notably, all the parsers described as "CommonMark compliant" choose to so render.

[2020-03-24 08:08] RobertDober commented on #228
@myrrlyn interesting indeed, maybe for 1.6?

[2020-03-26 10:10] wojtekmach opened #333 "as_ast and escaping"
Currently we have the following:

[code]

should as_ast escape too, if not as default perhaps at least as an option?

worth mentioning the ast->html does escaping:

[code]

We're using `as_ast` (very useful <3) in ExDoc and we ended up manually converting ast to html bypassing the transformer (it's adding extra whitespace as above) and thus we need to manually escape too.

[2020-03-26 11:22] wojtekmach commented on #333
Turns out it's better not to escape for ExDoc after all, we _want_ e.g. this unescaped:

[code]

so that we can process it later.

[2020-03-26 11:22] #333 closed

[2020-03-26 13:13] RobertDober commented on #333
I was thinking about this and opened an issue #329 I did not know that you are *already* using `as_ast` it was not supposed to be stable before 1.5

[2020-03-26 13:20] wojtekmach commented on #333
Technically we're not using it _yet_ but we have an open PR that we intend to merge soon: https://github.com/elixir-lang/ex_doc/pull/1132/files#diff-073b04a2864602a4686b68021fcf6ed5R40

We can probably wait for v1.5 but seems like the API is stable enough already?

One thing that @josevalim may have mentioned already that would be useful to us (but we're fine doing it ourselves) is returning tag n

[2020-03-26 15:08] RobertDober commented on #333
There was one change, on demand of @josevalim  #300 IIRC changing `{:comment, [], text}` to
`{:comment, text}` text being [string] (90% sure)

[2020-03-28 10:35] arjan opened #334 "Missing space between two links"
When creating two adjacent links, it seems a space is missing in the HTML rendering:
[code]
I would have expected a space between the two `<a>` elements. I think adding this space is according to spec, as the [Commonmark](https://spec.commonmark.org/dingus/) interactive demo does add one.

[2020-03-28 11:04] RobertDober commented on #334
thank you for reporting this, but is this space influencing rendering?

[2020-03-28 18:07] RobertDober commented on #329
**N.B.** It is also a bug as right now we add whitespace between elements where we should not, e.g.
between two links

[2020-03-28 18:15] RobertDober commented on #334
Furthermore this bug will be shadowed by a more profound bug in the 1.5 transformer which will add ws where it should not.
So let us fix this here too, Really Great Catch @arjan

[2020-04-08 22:02] robmadole opened #335 "Children inside table cell have reversed order"
With the following:

[code]

Passing this through `Earmark.as_html!/1` results in the `This is` and `broken` being reversed in order:

[code]

It looks like `Earmark.as_ast` is actually the culprit. I was able to `git bisect` it to 9127d91c0745a28d87bd61dd4484856e98d88cd7.

[2020-04-12 07:33] RobertDober commented on #335
Yoda talk, what's wrong with that? ;)
However not everybody likes Star Wars, so we'll fix that.

On a side note, you are not reporting this bug against the released version so in general I would need to know where it occurred, however you got lucky on this one as I am already aware of the problem :blush:

Thank you for reporting this, and you are absolutely right, the AST parser gets some `Enum.re

[2020-04-12 16:41] corybuecker commented on #329
Hi @RobertDober, I ran into this too and created a fork. I'd like to contribute it back in, but wanted to check my approach first.

I have added a new key to the [options passed into the `Transform` module](https://github.com/pragdave/earmark/blob/master/lib/earmark/transform.ex#L33). If `pretty` is false, it will override the indentation, setting it to 0, and prevent the addition of newline chara

[2020-04-13 11:14] RobertDober commented on #329
Hmm I'am afraid that we still want do add some newlines.
My idea was to define a list of tags, `<p>, <table>, <thead>...` which will be rendered like so
[code]
but as a matter of fact the output of 1.4.3 should be used as a guideline, but it is not perfect either

That said, I appreciate a PR but am extremely busy with my paid job right now and have no idea when I can have a look at it :sob:

[2020-04-13 14:10] robmadole commented on #335
@RobertDober thanks for taking a look. At first, a feature I thought this was but that is the path to the Dark Side...so report this I must. 😉

And no worries on the release version comment. The reason I ran into this is because I reached for the AST parser to do some Dark Side mind manipulation converting `a` to `router-link` in a Vue app. I think the bug exists in the AST parser pretty far back.

[2020-04-14 06:25] RobertDober commented on #335
... since the beginning and it is one of some road blockers for 1.5 where the AST will become official API,  but I guess you know all that.

[2020-04-18 11:58] wojtekmach opened #337 "AST metadata -> always quadruples, %{comment: true}"
First some background, in ExDoc currently for this module:

[code]

when generating docs, we are emitting the following warning which is useful to find and fix broken references:

[code]

I'd like to make the warning more precise and mention file:line like this:

[code]

To do that, I need to know where the warning happened within the markdown document.

Today, when parsing markdown into AST we ge

[2020-04-18 13:37] josevalim commented on #337
It feels like ExDoc should roll its own AST to HTML, which should be straight-forward, and we can prune any node that we add. Especially because it is likely that we will make the AST more tailored to ExDoc as more time passes.

[2020-04-18 14:09] wojtekmach commented on #337
due to other requirements, in ExDoc we already have our own way of transforming ast->html. This is mostly about markdown->ast, we need to get the extra information out of Earmark and put it into ast somehow.

[2020-04-18 14:41] josevalim commented on #337
Ah, I see!

[2020-04-18 15:09] RobertDober commented on #337
I would advice against adding pseudo attributes to the AST as we have annotations for this

https://github.com/pragdave/earmark#earmarktransformtransform2

so when parsing with the `:lnb` option I would rather spit out the following AST:

[code]

It might even be a good idea to default the `:lnb` option to true.

[2020-04-18 15:26] wojtekmach commented on #337
fantastic!

My only suggestion would be to consider not returning different AST shape based on whether an option is set or not; instead always return the same shape (4-tuple), just with empty annotations.

as in, Line NumBer? :) nitpick: unless you need to maintain backwards compat, I'd consider switching this to `:line` since that's what's in Elixir AST:

[code]
but at the same time it doesn't ma

[2020-04-19 10:32] RobertDober commented on #337
# ad Naming

oh I was just lazy please pick a name you would like, as long as it reads `line_number` ;)
Seriously now, I feel `line` is a missnamer, `lnb` is too short, so either `line_number` or `line_nb`

BTW Earmark also uses `line` for line_number, but I'd prefer to _expose_ a correct name.

# ad 4 tuples

Adding always an empty map, why not, however @josevalim had made a point concerning this

[2020-04-22 12:35] razuf opened #338 "Please publish the version 1.4.4 to hex.pm"
In my Elixir CI from Github: https://github.com/razuf/apa
I have the following warning:

Generated dialyxir app
warning: Code.load_file/1 is deprecated. Use Code.require_file/2 or Code.compile_file/2 instead
##[error]  mix.exs:106: Earmark.Mixfile.readme/1

warning: Mix.Local.path_for/1 is deprecated. Use Mix.path_for/1 instead
##[error]  mix.exs:90: Earmark.Mixfile.build_docs/1

If I look into th

[2020-04-22 13:01] RobertDober commented on #338
Unfortunately 1.4.4 will not be released because we have changed the AST API and 1.5 is not ready yet.

[2020-04-22 13:12] razuf commented on #338
Ah ok, thats why - it's fine for me to wait until 1.5 - it's only Warning in that CI - it's because of Elixir 1.10. ;-)

Thanks for fast response!

Do you need any help for 1.5? Is it issue #311 ? AST Better doc ?

[2020-04-22 13:19] razuf commented on #338
Maybe #317 ... but thats you are working on ... pease tell me if somewhere ...

[2020-04-22 17:28] RobertDober commented on #338
If it only were that simple (to qoute a chageling) https://github.com/pragdave/earmark/milestone/22

[2020-05-01 06:57] RobertDober commented on #338
Unfortunately for Earmark I am unsure when I can pursue the release of 1.5, I decided for this reason to backport the Mix issues and release 1.4.4

[2020-05-01 06:57] #338 closed

[2020-05-06 11:24] solomonhawk commented on #228
This is an interesting discussion and I was only mildly aware of the varying landscape of behaviors provided by different markdown parsers. Treating all content inside HTML tags as raw content makes a ton of sense to me, however it is incredibly convenient to be able to leverage the formatting shortcuts that markdown provides.

I am in favor of supporting this when `markdown="block"` is specified

[2020-05-06 20:03] RobertDober commented on #228
I understand why people want this, however it is very low on my priority list; sorry.

[2020-05-06 22:33] solomonhawk commented on #228
@RobertDober Is there someone you can point me to learn more about writing custom transformers? I poked around including the linked OR that implemented as_plaintext but am missing some context about how I'd use some custom transformers fn with ExDoc.

Thanks for chiming in

[2020-05-07 07:44] RobertDober commented on #228
That is because the missing link is, well, missing, in Earmark.
ExDoc is now using as_ast and then transforms, meaning you should look there.

Out of curiosity, is Earmark's Transformer difficult to understand? (which might not shock me too much)

[2020-05-07 15:42] solomonhawk commented on #228
I admit I haven't spent a ton of time looking into this. When I initially looked at transforms I found them approachable but I didn't see a clear integration point for adding custom transforms when using ExDoc. I'll take a look there!

[2020-05-07 17:24] RobertDober commented on #228
I cannot speak for ex_doc but _my_ transformer is not pluggable, just the simplest thing to do the job.

[2020-05-13 02:48] razuf commented on #338
Thanks Robert! Good luck for you and 1.5.

[2020-05-15 15:38] wojtekmach commented on #337
@RobertDober if 3 vs 4 element tuple is useful to differentiate between comment and non-comment nodes, I believe we the best way to go is to standardise on 4 element tuples and put `%{comment: true}` for comments. What do you think?

[2020-05-15 20:40] RobertDober commented on #337
Ok with me to have always 4 element tuples, for comments I am not sure but it is not important, whatever serves ex_doc best...

That all said I must emphasise that right now I can only spend minimal time on Earmark as I have found a job again and I have no idea of the ETA of 1.5. Sorry about that

[2020-05-17 21:39] wojtekmach opened #340 "** (FunctionClauseError) no function clause matching in Earmark.Helpers.AstHelpers.augment_tag_with_ial/2"
[code]

results in:

[code]

See https://github.com/elixir-lang/ex_doc/issues/1172 for more information.

[2020-05-18 09:52] RobertDober commented on #340
Thank you for analysing and reporting this, I'll try to allocate some time for this.

[2020-05-18 09:55] wojtekmach commented on #340
FWIW:

[code]

both fixes the bug AND is prettier in the output! But yeah, the bug might be triggered in some other ways so worth fixing.

[2020-05-18 10:08] RobertDober commented on #340
well that is great news as I have no time right now, ok for you to push it into 1.5, meaning, ETA uncertain?

[2020-05-18 10:17] wojtekmach commented on #340
sounds good to me! since it's easy to fix in the user code I don't think it's a big deal.

[2020-05-23 17:30] chazsconi commented on #329
I think a list of tags for pretty printing is required when rendering because having `\n` output between all tags currently causes `Elixir is b**e**st` to be rendered like this when transforming the ast:

[code]
Which will show with unwanted whitespace in a browser: i.e. "Elixir is b **e** st"

[2020-05-23 17:37] RobertDober commented on #329
@chazsconi of course, formatting tags like `em, strong..` should be rendered _inline_

[2020-05-26 09:22] fedme opened #341 "Question: Is there a way to extend the transformation from AST to HTML?"
I would like to provide a custom HTML renderer for certain markdown element types. For example, I would like to render links in some custom way.

I've searched through the docs and past issues but I could not find a documented way of achieving this.

I understand that I can use `Earmark.as_ast` to get the AST from the raw markdown and then `Earmark.Transform.transform` to transform the AST to HTML

[2020-05-26 13:26] RobertDober commented on #341
This has come up quite some times now and I understand that this is a good idea, so that was the good news, the bad news is that I have virtually no time do work on Earmark right now, and it does not look like I will have soon.

Let me rephrase this and put it into the 1.5.1 Milestone, but even for 1.5 which contains bugfixes and necessary AST changes I do not have an ETA. :(

[2020-05-26 13:32] RobertDober commented on #341
Alternative Idea, create an EarmarkASTTransformer project based on the v1.5 AST API and just leave (and maybe even deprecate) the current HTMLTransformer intact.
@josevalim @wojtekmach can I count 100% on `ex_doc` not using `as_html` anymore?

[2020-05-26 14:46] wojtekmach commented on #341
Yes. We're definitely only interested in ast output going forward.

[2020-05-26 22:00] fedme commented on #341
Thanks for answering so quickly! I would love to help but I am new to elixir and this task seems a bit complicated for my current skills...

[2020-05-27 08:48] RobertDober commented on #341
Appreciated if I had time to work on Earmark I would love to guide you but right now the code base is not in a friendly state, some backports etc...

si direbbe ch'é un gran' casino, ma noi, questo tipo di lingua non l'applichiamo, giusto? ;)

[2020-05-27 09:09] josevalim commented on #341
I honestly think the best course of action here is to document the AST, so anyone who wants to render it in their own way can do it based on its public format and Earmark doesn't have to worry about it. :)

[2020-05-27 09:42] fedme commented on #341
Yes, that's what I will do since I only need to render a few markdown elements (titles, text, links and images).

I will post here my custom AST renderer once it's ready, in case it's useful to anybody else.

In the future I think it would be nice to fallback to the default renderer for those elements that you don't need to customize.

Thanks again for the useful insights and I hope to help once I

[2020-05-27 09:48] RobertDober commented on #341
Your optimism belongs to you, but would you be interested to write a pluggable AST->HTML transformer and publish it to hex? Actually the AST spec is stable, just not implemented yet, I might sacrifice a weekend or two to backport it to 1.4.5, and can then concentrate on the bugs while you can do all the fun stuff in the transformer ;),

[2020-05-27 09:54] RobertDober commented on #341
@josevalim I guess I really have to find the time to do the little changes for `ex_doc` to get the pressure off Earmark.

[2020-05-27 10:44] RobertDober commented on #337
Ok so finally I'll take this on, I prefer to not have `%{comment: true}` but `%{meta: %{comment: true}}` because that is the only key reserved, everything else can be used by client code. Now if this is too clumsy I can change the contract on the AST, but it is quite ugly, I believe to reserve `:comment` and `:meta`

[2020-05-27 10:44] joaofcosta commented on #340
Hi 👋

I'm also encountering this same issue and I'm currently unable to generate docs for a phoenix app. I've managed to trace this to a single doc and here's sample documentation which can trigger this bug:

[code]

It seems to be a very specific case because using the same documentation but moving things around slightly makes it work again, for example, the following documentation works:

[code]

[2020-05-27 10:48] RobertDober commented on #340
@joaofcosta thank you for that detailed report, will turn out helpful for sure

[2020-05-27 11:03] wojtekmach commented on #340
Btw, remember code blocks should be indented with 4 spaces, this way they will be nicely printed in ExDoc, IEx, etc, as well as they won’t trigger the bug :)

[2020-05-27 11:05] wojtekmach commented on #337
Out of curiosity, what other keys beyond :meta do you expect to have?

[2020-05-27 12:05] RobertDober commented on #337
I apologize, you were to fast for me...
I realized that I will not be responible for the AST metadata any transformer should know what they are doing, I will get rid of `meta:` **at all**, the contract will be that the generated AST will contain `%{comment: true}` for comments and `%{verbatim: true}` for HTML blocks and that is that.

Sorry for having wasted your time.

[2020-05-28 10:07] wojtekmach commented on #337
Sounds good to me!

[2020-06-01 08:00] ahamez opened #342 "Trailing closing parentheses in URLs are discarded in href"
I spotted it on https://hexdocs.pm/mix/master/Mix.Tasks.Escript.Install.html: the link to the PATH variable on Wikipedia is `https://en.wikipedia.org/wiki/PATH_(variable`, without the ending `)`, whereas it should be `https://en.wikipedia.org/wiki/PATH_(variable)`, with the ending `)`.
At first I thought the bug originated in ex_docs, but after some investigation, I came to the conclusion that the

[2020-06-01 11:19] RobertDober commented on #342
Thank you for reporting this, looks bad, as I do not see an easy workaround before I fix this.

Well you could put the link URL encoded that should work, but obviously that is unacceptable, even mid term.

I'll try to squeeze this fix into 1.4.5...

[2020-06-01 11:20] RobertDober commented on #342
I mean this is really bad, nothing to do with us being neighbours ;)

[2020-06-01 11:28] RobertDober commented on #340
Pushing into 1.4.6 as #342 is more serious and no easy workaround exists.

[2020-06-01 11:29] RobertDober commented on #337
Pushing into 1.4.6 as #342 needs a hotfix

[2020-06-04 13:38] whilefalse commented on #334
Hi, I've noticed another instance of this, I'm guessing it's related. If I have some bold text followed by a space and then a link, I don't get the expected space:

[code]

But if I add an extra character in between the asterix's and the link, I get the space as expected.
[code]

[2020-06-05 20:05] maartenvanvliet opened #343 "Error parsing html with unquoted attrs"
See this commit for reproduction https://github.com/maartenvanvliet/earmark/commit/b6ee42024a5f20a0ff542b9a38b82f75457f7d1f

[code]

It results in
[code]

I've narrowed it down to the attributes in the html without quotes. It works when the quotes are added.

[2020-06-06 12:15] RobertDober commented on #343
Thank you for reporting this, I'll have a look at it ASAP, BTW do we agree that the quotes are needed?
That said the input still must be accepted and render something meaningful, as e.g.

[code]

[2020-06-06 15:16] #342 closed

[2020-06-06 15:19] #343 closed

[2020-06-06 16:42] #340 closed

[2020-06-07 10:41] maartenvanvliet commented on #343
Ignoring the unquoted attributes is fine. Thx!

[2020-06-07 14:01] leandrocp commented on #335
I believe I came to the same bug here https://github.com/elixir-ecto/ecto_sql/pull/231#discussion_r436284459, I'm leaving this comment in case it helps and also to be notified so I can help testing a fix.

[2020-06-09 16:58] doughsay opened #347 "Upgrading 1.4.4 -> 1.4.5 introduces Dialyzer error"
I cloned earmark to see if I could quickly get to the bottom of it, but it's a bit over my head.

Earmark itself produces a handful of dialyzer errors, but most of them don't seem to have an effect on a consuming application.  But one of them does now:

[code]

Not sure why this is the case, as the function does seem to exist...

[2020-06-10 07:45] tmjoen commented on #329
Did this get added to 1.4.5? Couldn't find anything in the changelog but my tests were suddenly failing:

[code]

[2020-06-10 07:56] RobertDober commented on #329
this is strange, I do not recall having done any work on this...

This ticket will stabilize the format of the rendered AST

[2020-06-10 07:57] RobertDober commented on #347
sorry about that, I do not use dialyzer yet but I'll try to get rid of this

[2020-06-12 09:35] wojtekmach opened #349 "Code blocks near list items are interpreted as text"
[code]

results in:

[code]

An easy workaround in the meantime is to change:

[code]

to:

[code]

P.S. I found this when running `cd /path/to/ex_doc && mix build` on Earmark 1.4.5, I'll use the workaround on ExDoc master soon.

[2020-06-13 14:11] RobertDober commented on #349
Thank you for this, I shall be able to allocate some, much needed, time for Earmark soon

[2020-06-13 14:13] RobertDober commented on #349
Oh but @josevalim already fixed this, just great! \o/

[2020-06-13 14:14] RobertDober commented on #349
However not

[2020-06-13 14:17] RobertDober commented on #349
This works:

[code]

GFM compatibility is quite a challange

[2020-06-13 14:24] RobertDober commented on #349
@wojtekmach I am not sure about the code block as text observation though, seems to me that no text is indented enough to be a code block, if I am wrong, sorry these GFM list indention rules have costed me my sanity oftentimes...

[2020-06-13 14:33] josevalim commented on #349
Yup, this is always extremely confusing to me too.

[2020-06-13 14:35] josevalim commented on #349
Although if we try out the example @wojtekmach gave on GitHub, it does highlight the URL as code. :)

[2020-06-14 06:41] RobertDober commented on #349
just checked with Babelmark

 https://babelmark.github.io/?text=*+List+item%0A%0A++Text%0A%0A++++*+List+item%0A%0A++Text%0A%0A++++++https%3A%2F%2Fmydomain.org%2Fuser_or_team%2Frepo_name%2Fblob%2Fmaster%2F%25%7Bpath%7D%23L%25%7Bline%7D%0A

and indeed this should be code, so we got 2 bugs here:

I'll open a different issue for the cut URL,  guess the babelmark URL is a good test case BTW ;)

And wil

[2020-06-14 06:49] RobertDober opened #350 "Some more complicated autolinks are cut"
As discovered in #349 some URLS in autlolinks are cut, here are two examples

[code]

[2020-06-14 09:55] #347 closed

[2020-06-14 09:55] RobertDober commented on #347
Actually I have seen this in 1.4.4 too, I am afraid I cannot fix all Dialyzer errors in this release but I got rid of two obvious ones.

HTH

[2020-06-15 17:11] doughsay commented on #347
I can easily ignore errors, so it doesn't bother me much; just wanted to raise the issue in case nobody was aware :smiley:

[2020-06-16 14:18] optikfluffel opened #351 "Html tags get escaped without newlines"
[code]

Is this intended behaviour?

[2020-06-16 17:18] RobertDober commented on #351
yes and ~documented I believe ;)~ unless I removed it, which I did

I will add this again to the docs, sorry

[2020-06-17 07:06] optikfluffel commented on #351
So there's also no option to enable something like this? Because I think it worked fine in earlier versions of Earmark and also works in almost any markdown tool or library I've seen so far. <strong>Github does too.</strong> (👈 `<strong>`)

[2020-06-18 06:59] RobertDober commented on #351
This was a deliberate design decision taken by @pragdave, I am not sure this is on my radar now, given the open issues.

Given GFM I am striving to better supporting pure autolinks and lists (which are still a pain) but I fail to see the value of this particular feature.

Now there are lots ans lots of things I do not see :wink: and if you can make a case for this feature I might put it on my back

[2020-06-18 07:01] RobertDober commented on #351
Oh and I forgot to explain, yes the parser was less strict on this in recent versions but that was more by accident.

[2020-06-18 07:10] optikfluffel commented on #351
Ok then, sorry to bother you.

[2020-06-18 10:13] RobertDober commented on #351
You did not bother me and I appologize if I gave you that impression, just being honest concerning my priorities.

I reopen this because it shall be documented so your ticker certainly had value.

Again sorry if I did not communicate well on this one.

[2020-06-19 08:30] #335 closed

[2020-06-19 08:45] #351 closed

[2020-06-19 09:08] RobertDober commented on #337
Finally got time to work on this @josevalim @wojtekmach is it ok for you to maintain that the comment node starts with the symbol `:comment` or would you prefer the string `"comment"` now that the fourth element will contain `%{comment: true}`

I did not overlook that we had discussed this already, or did I?

I can change that quickly before release so no stress with that, I guess you will be quit

[2020-06-19 09:08] RobertDober commented on #337
Finally got time to work on this @josevalim @wojtekmach is it ok for you to maintain that the comment node starts with the symbol `:comment` or would you prefer the string `"comment"` now that the fourth element will contain `%{comment: true}`

I did not overlook that we had discussed this already, or did I?

I can change that quickly before release so no stress with that, I guess you will be quit

[2020-06-19 09:24] wojtekmach commented on #337
I don’t have an opinion and either sounds good to me, I will be most likely  pattern matching on just `comment: true` anyway!

[2020-06-19 09:59] RobertDober commented on #337
so I'll keep the symbol

[2020-06-19 15:19] robmadole commented on #335
Excellent! Getting excited for the 1.5 milestone.

[2020-06-19 17:02] RobertDober commented on #335
1.4.6 :stuck_out_tongue:

[2020-06-21 04:08] eksperimental opened #353 "Problems parsing HTML code in Markdown file"
Originally reported here: https://github.com/elixir-lang/ex_doc/issues/1189#issuecomment-645032262

When parsing HTML code, it wlil leave the closing tag as part of the text,
here's an example.

[code]
You can see it in
[code]

https://github.com/elixir-lang/ex_doc/pull/1190 is the PR in ExDoc trying to close this bug.
Thank you.

[2020-06-21 08:24] RobertDober commented on #353
Thanks for the report, bad regression here :face_with_head_bandage:

[2020-06-21 12:12] #353 closed

[2020-06-21 15:40] eksperimental commented on #353
Awesome.

[2020-06-21 15:56] eksperimental commented on #353
hi @RobertDober,
Is there a way to parse recursively all the HTML passed to the string. such as in this example

[code]

I would like to get an HTML tree in `{"h1", [{"align", "center"}],
    ["Extra <span class=\"bold\">Page with HTML</span>"],`

Thank you.

[2020-06-21 17:28] RobertDober commented on #353
:fearful:  Everything is possible :wink:

But when and how is the question, this looks like quite a massive rewrite to me and I have still some bugs. Wat bugs (stupid pun) me is that I cannot myself estimate the priorities for `ex_doc`

So maybe Milestone 1.5, maybe only with a new option which might even allow to not parse HTML at all!!!

Personally I ~do not like~ hate, HTML inside markdown, but

[2020-06-21 17:29] RobertDober commented on #353
Please do so in a new ticket, I prefer that I see who had the idea of an enhancement so I would prefer if you could open a new ticket. Thx

[2020-06-21 17:36] eksperimental commented on #353
Well. main case is that before using AST in ExDoc it was supported, so it's a backward compatibility issue. Not a big one since we haven't reached v1.0, but something to have in mind.

The main reason for having it is because we need to escape special chars such as `<` and `>`, and the html would end up being escaped instead of being rendered. I was just asking because maybe there was an option in

[2020-06-21 18:39] RobertDober commented on #353
Actually that is not really so, the inner html was just parsed as text and rendered as text, do you do something fancy with the text nodes that are just html when rendering them?

I might see another problem here, the missing `verbatim: true` for oneline tags, which I have fixed, so if you escaped the html in the text nodes because of that missing meta information, which you should I guess, you sh

[2020-06-21 18:53] eksperimental commented on #353
The master version of doesnt work with ExDoc, because it expects 3-element tuples, but the verbartim info is in a 4th element.
I left two comments in your commit.

I only want to escape everything that is not HTML code.

[2020-06-21 19:00] RobertDober commented on #353
yep I replied there thx, all parsed html tags have this meta information, I forgot it for oneliners

[2020-06-22 02:58] eksperimental opened #356 "bug parsing HTML (<pre><code>)"
Two semantically equal expressions, but the second one fails.

[code]

[code]

[2020-06-22 07:33] RobertDober commented on #356
## Status Quo

Here is what kind of HTML Earmark supports, and I will update the documentation which is not good (was even missing lately)

- Oneline HTML Tags

[code]
which will render
[code]

- One level of a block

[code]

[code]
where both, `<tag>` and `</tag>` must be on their own line (original definition by Dave).
However your first example works as the result of permissive parsing, so mayb

[2020-06-22 07:35] RobertDober opened #357 "Document how HTML parsing works"
Spinoff from #356

The following shall go into the documentation:

Also check why oneline tags are broken? Did I miss a regression in #353?

------
Here is what kind of HTML Earmark supports, and I will update the documentation which is not good (was even missing lately)

- Oneline HTML Tags

[code]
which will render
[code]

- One level of a block

[code]

[code]

[2020-06-22 08:29] eksperimental commented on #356
I just found that when testing it, and thought I would be good to report it. there are no worries about regressions.
Thanks for the info.

[2020-06-22 09:43] RobertDober commented on #356
You have just named the game, I believe that all the issues you brought up are very valid and while investigating I have some hopes to recursively parse HTML with cleaner code, but not sure yet, however this cannot go into 1.4.6. but I will try to treat HTML nicely (against my will :wink:) in 1.5
simply because of GFM.

[2020-06-22 09:50] RobertDober opened #358 "Parse HTML recursively"
This would superseed #356 and is inspired by #353.

Basic idea

let the scanner be a little be more intelligent and scan the following line

`<div> hello<br /> <span lang="greek">αλφα</span></div>`

as1

[code]

[2020-06-22 10:00] RobertDober commented on #358
## Notes:

- Scanning will become slower, but parsing should become faster, given that scanning is done in parallel while parsing is not this should not have a negative impact of overall performance.

- Failing to close a tag somewhere will totally alter the rest of the output, however the error messages will indicate what to do.

[2020-06-23 16:33] sreyansjain commented on #357
Earmark.as_html!("<mark>Test</mark>")
produces
"<p>\n  &lt;mark&gt;Test&lt;/mark&gt;\n</p>\n"

Earmark.as_html!("<span>Test</span>")
produces
"<p>\n  &lt;span&gt;Test&lt;/span&gt;\n</p>\n"

It was fine in 1.4.4

[2020-06-23 16:36] sreyansjain commented on #357
In 1.4.4 Tweet embedding as is worked. But now its getting incorrectly parsed in 1.4.5

You can try with this
[code]

[2020-06-23 19:16] RobertDober commented on #357
@sreyansjain thank you for your comment

I do not think the current behavior or 1.4.4 is what we want, we want a oneline tag to be parsed as HTML

Concerning your Tweet example, that will definitely not work in 1.4.* but hopefully in 1.5 (c.f. #358)

[2020-06-23 20:33] nathanl opened #359 "Version 1.4.5 adds unexpected newlines in HTML"
Rendered HTML contains extra white space and newlines in version 1.4.5 as compared to 1.4.4.

Version 1.4.4:

[code]

Version 1.4.5

[code]

This is a minor problem, but the additional whitespace broke some tests in an application I work on, where we had expectations like

[code]

Maybe it should be listed as a breaking change in the notes?

[2020-06-24 07:21] RobertDober commented on #359
Thank you for the report, this will indeed be addressed in #329 but that is not obvious from the description so I will leave your issue open too.

[2020-06-24 07:29] RobertDober commented on #359
May I allow myself an unsolicitated remark: While I completely strive to issue consistent HTML and the switch to AST let me stray from that path, I did also believe that there was no contract about how the HTML looks like.

Again, I consider this radical change a bug, however....

I'd rather not test HTML textually but structurally, because that is where the semantic differences lie, might I sugge

[2020-06-24 09:22] RobertDober commented on #358
Here as an example what to strive for: [GFM output](https://babelmark.github.io/?text=%3Cspan%3E%3Cem%3Ea%3C%2Fem%3Ehello%0A%3Chr+%2F%3E%3Cstrong%3Eb%3C%2Fstrong%3E%3C%2Fspan%3E)

which is

[code]

[2020-06-24 14:41] nathanl commented on #359
@RobertDober Good points. I'll take a look at using Floki in our tests.

[2020-06-25 15:13] eksperimental opened #361 "Bug with line starting with HTML comment"
[code]

[2020-06-25 15:23] eksperimental opened #362 "spans are not parsed as elements, but as text"
[code]

[2020-06-25 15:26] eksperimental opened #363 "Text is lost after html elements"
Look in the second example how `CCC` is lost

[code]

[2020-06-25 17:07] RobertDober commented on #357
Also document how comments are parsed #361

[2020-06-25 17:08] RobertDober commented on #362
this is a doubleton to #357 but well spotted indeed.

[2020-06-25 17:08] #362 closed

[2020-06-25 17:09] RobertDober commented on #363
this behavior will be documented in #357 and will potentially resolved in #358.

[2020-06-25 17:09] #363 closed

[2020-06-26 02:02] eksperimental commented on #356
Would it be possible to have an option to leave a copy of the original HTML element in the metadata?
I think it would be best to delegate to another library, like Floki, at least I'm experimenting with that idea in ExDoc.
Thank you.

[2020-06-26 06:48] RobertDober commented on #356
Do you mean

[code]
--->
[code]
sure sounds like a sound idea to me.

[2020-06-26 09:19] #357 closed

[2020-06-26 10:49] RobertDober opened #364 "Whitespace after closing header"
`### foo ### ` note the trailing space, is parsed as
`{"h3", [], ["foo ### "], %{}}`

it is mainstream to parse it as

`{"h3", [], ["foo"], %{}}`

as can be seen on [babelmark](https://babelmark.github.io/?text=%23%23%23+foo+%23%23%23+)

[2020-06-26 13:29] eksperimental commented on #356
yes. exactly that!

[2020-06-27 15:56] yumaikas opened #365 "Space is emitted after a tag for link?"
So, I'm using earmark 1.4.5, and it seems to be emitting HTML that spits out spaces the body of an anchor tag. The image below shows the affect (as well as the results of spitting out the content in question as an AST. I'm looking into a way to fix things on my end, but yeah.

![image](https://user-images.githubusercontent.com/2996785/85926380-58878580-b85c-11ea-8d18-ec59a2741ec3.png)

[2020-06-27 16:47] RobertDober commented on #365
Please paste the markdown and the incorrect html into this ticket to allow me to reproduce the problem, thx.

[2020-06-27 16:50] RobertDober commented on #365
This is a duplicate of #359

[2020-06-27 16:50] #365 closed

[2020-06-27 22:15] yumaikas commented on #365
Ok. For now I've gone a little [Knuthy](https://www.johndcook.com/blog/2008/05/03/reusable-code-vs-re-editable-code/) and copied/rewritten the transform.ex in my own code to remove all of the extra whitespace. I'll keep an eye out for #359. Thanks!

[2020-06-28 08:27] RobertDober opened #367 "IAL in list items do not work"
Example
`"- Before\n{:.alpha .beta}"`

[2020-06-28 13:37] #337 closed

[2020-06-28 16:37] #359 closed

[2020-06-28 18:40] RobertDober commented on #349
I gotta study this one once more --> 1.4.7/1.5

[2020-06-28 19:22] #350 closed

[2020-06-29 14:37] RobertDober opened #371 "Still spurious WS after inline tags"
Examples:

[code]

[2020-06-29 16:24] RobertDober commented on #329
This is fixed with #371

[2020-06-29 16:24] #329 closed

[2020-06-29 16:35] #371 closed

[2020-06-30 05:02] Ziinc opened #373 "Markdown in footnotes are not converted to html"
input markdown
[code]
The main body gets converted, but the markdown text in the footnote does not.

[2020-06-30 07:45] RobertDober commented on #373
Obviously you are the only one using footnotes :wink: , you detected quite an old regression :fearful: , thank you for the report

[2020-07-01 14:04] RobertDober commented on #367
Fix in https://github.com/RobertDober/earmark_parser/issues/4

[2020-07-01 14:05] RobertDober commented on #373
Will be fixed in https://github.com/RobertDober/earmark_parser/issues/1

[2020-07-01 14:21] RobertDober commented on #364
will be fixed in https://github.com/RobertDober/earmark_parser/issues/5

[2020-07-01 14:29] RobertDober commented on #361
will be fixed with https://github.com/RobertDober/earmark_parser/issues/6

[2020-07-01 14:31] RobertDober commented on #358
will be implemented with https://github.com/RobertDober/earmark_parser/issues/7

[2020-07-01 15:30] RobertDober commented on #356
This issue should be obsoleted by #358 (which is https://github.com/RobertDober/earmark_parser/issues/7) and the _Verbatim Annotation Part_ is implemented by https://github.com/RobertDober/earmark_parser/issues/8

[2020-07-01 15:34] RobertDober commented on #349
shall be fixed with https://github.com/RobertDober/earmark_parser/issues/9

[2020-07-01 15:41] RobertDober commented on #334
The space is missing in the AST and both examples are the same error indeed, thank you both:

Therefor this will be fixed in https://github.com/RobertDober/earmark_parser/issues/10

[2020-07-01 15:44] #328 closed

[2020-07-01 15:45] RobertDober commented on #327
done

[2020-07-01 15:45] #327 closed

[2020-07-01 15:48] RobertDober commented on #325
will be fixed in https://github.com/RobertDober/earmark_parser/issues/11

[2020-07-01 15:49] RobertDober commented on #314
not worth it right now

[2020-07-01 15:49] #314 closed

[2020-07-01 15:50] RobertDober commented on #311
better, let's close this for now

[2020-07-01 15:50] #311 closed

[2020-07-01 15:54] RobertDober commented on #228
The latest issues and the almost universal acceptance of GFM as the de facto standard and the expectation coming with that I have decided to implement (or use a) HTML parser to recursively include the HTML into the AST

I close this issue in favor of #358

[2020-07-01 15:54] #228 closed

[2020-07-01 15:57] RobertDober commented on #214
The Plugin has been removed for quite some time now and the CLI will stay where it is as I have created the [`EarmarkParser`](https://github.com/RobertDober/earmark_parser)

This means that the CLI will remain with the library for now

[2020-07-01 15:57] #214 closed

[2020-07-01 15:59] RobertDober commented on #171
Needs https://github.com/RobertDober/earmark_parser/issues/12

[2020-07-01 23:11] samm81 opened #375 "v1.4.8 `function EarmarkParser.as_ast/2 is undefined (module EarmarkParser is not available)`"
I'm getting a rather strange error. I upgraded `:earmark` from v1.4.5 ⇒ v1.4.8 , and am now getting an error with `Earmark.as_html!/2` *only in a release*. It works fine with `mix phx.server`, but in the release I get this error:

[code]

I'm kinda flummoxed. I'll look into it more, but wanted to post this here first.

[2020-07-02 06:29] RobertDober commented on #375
:fearful: thank you for reporting this

[2020-07-02 06:40] RobertDober commented on #375
I have a hunch though, seems I _forgot_ to put `EarmarkParser` into applications (needs to be test covered).

Would be great if you could test (or tell me how to test, I'll gladly do my work :wink: ) with the current master from github, I could do a release any time

[2020-07-02 07:21] juulSme commented on #375
I have the same issue with 1.4.8 and I can confirm that adding `:earmark_parser` to extra applications in mix.exs fixes the issue.

[2020-07-02 07:31] RobertDober commented on #375
Thx a lot @juulSme hotfix release's coming up

[2020-07-02 07:33] #375 closed

[2020-07-02 07:37] juulSme commented on #375
np, keep up the good work!

[2020-07-02 07:41] RobertDober commented on #375
very kind of you  but I lack so much knowledge thankfully the community is very helpful

[2020-07-02 23:15] samm81 commented on #375
wow, thanks for figuring this out and patching it up so fast :+1: !

[2020-07-03 07:20] RobertDober commented on #375
Ty but all credit goes to @eksperimental and @juulSme

[2020-07-06 23:29] lud commented on #357
Hello,

I found that

[code]

Parses as

[code]

[2020-07-07 10:49] RobertDober commented on #357
This will be fixed in 1.4.10

[2020-07-18 03:58] kipcole9 opened #380 "Incorrect parsing of code example"
## Environment

* Earmark 1.4.9
* Earmark_parser 1.4.9
* Elixir 1.10.3
* OTP 22.3

## Current Behaviour
[code]
## Example
From a piece of production code:
[code]
## Expected Behaviour

No parser error.

[2020-07-18 06:46] RobertDober commented on #380
This is indeed an IAL extension and not text, it is also related to https://github.com/RobertDober/earmark_parser and not Earmark as `as_ast` is a delegator, it will become deprecated, then this will be clearer.

You need to escape the first accolade of the IAL

[code]

HTH

[2020-07-18 06:46] #380 closed

[2020-07-18 06:54] kipcole9 commented on #380
Apologies for sounding a bit slow but I'm confused as to why I need to escape anything in a code example that is a doctest? And similarly, I don't know what form such an escape would - nor indeed if it means my doctest would no longer work?

[2020-07-18 07:17] RobertDober commented on #373
fixed in EarmarkParser 1.4.10

[2020-07-18 07:17] #373 closed

[2020-07-18 07:19] RobertDober opened #381 "Deprecate usage of `Earmark.as_ast`"

[2020-07-18 08:26] #381 closed

[2020-07-18 10:01] RobertDober commented on #334
fixed with EarmarkParser 1.4.10

[2020-07-18 10:01] #334 closed

[2020-07-18 10:32] RobertDober commented on #380
It is indeed not obvious at all so no apologies needed.

IALs are an Earmark extension to markdown, and as `ex_doc` uses Earmark (now EarmarkParser) your code is just an IAL.

I did not explain this to you because I did not realize that you were redirected from an ex_doc issue, so I thought you knew what IAL was, never assume, (you know that old pun I guess).

Also please forgive me for having bee

[2020-08-01 20:19] sb8244 opened #382 "Spacing is removed between link and elements"
When I pass a string like `*Test* https://www.google.com` into the `as_html` function, I get back a result that doesn't have spacing:

Here is an example with many spaces added:

[code]

If the first element is just simple text, it includes the spaces:

[code]

This might be expected, but thought I'd report it in case it's a bug.

[2020-08-01 20:34] RobertDober commented on #382
Thank you for the report it is indeed an error, but not in Earmark but in EarmarkParser, I'll transfer the ticket.

[2020-08-13 13:55] dbernheisel opened #383 "Smartypants curly quotes are in inline code."
Using these versions:

[code]

and running this:

[code]

[code]
Notice the inline code still has smartypants curly quotes: `“Hello”`, which is incorrect.

As a comparison:

markdown-it:
![image](https://user-images.githubusercontent.com/643967/90142278-2cf82600-dd4a-11ea-93b9-1b516ca5f017.png)

[The smartypants spec (I guess this is the spec?)](https://daringfireball.net/projects/smartypants/)

S

[2020-08-13 14:07] dbernheisel commented on #383
Seems to be introduced in [earmark 1.4.7](https://github.com/pragdave/earmark/compare/v1.4.6..v1.4.7)

[2020-08-14 07:38] RobertDober commented on #383
Nice catch, thank you!

[2020-08-14 07:44] #383 closed

[2020-08-19 17:27] tidusIO opened #385 "Empty lines are removed in code blocks in a list element"
If I have the following markdown, we are loosing the empty lines:

`1. Create the file `src/screens/ColoredButtonsScreen.tsx` (you might have to create the new folders).
2. Inside it create the backbone of a basic React Functional Component, in fact:

[code]

Here are both rendered HTMLs:

`<code class="tsx hljs javascript"> <span class="hljs-keyword"><span class="hljs-keyword">import</span></span

[2020-08-19 20:51] RobertDober commented on #385
That is because you do not close your code block properly **four** ` instead of 3

However the error message is missing so I will open a different ticket for the missing error message and in EarmarkParser

Please close this issue if you are happy with this

[code]

[2020-08-19 20:55] RobertDober commented on #385
https://github.com/RobertDober/earmark_parser/issues/23

[2020-08-20 02:16] saschanuissl commented on #385
These 4 backticks are only here in my github example. I had some trouble here to put the list and the code block in another code block.

<img width="797" alt="Screenshot 2020-08-20 at 03 14 59" src="https://user-images.githubusercontent.com/5259847/90709103-57d70280-e293-11ea-8702-9ea6a58f131e.png">

Should be more clear with my screenshot.

<img width="1079" alt="Screenshot 2020-08-20 at 03 15 46

[2020-08-20 09:57] RobertDober commented on #385
Oh that's easy just indent the code with the backicks by at least 4 characters as I did below

[code]

and then please tell me what you expect as a result.

Thank you

[2020-08-20 11:16] saschanuissl commented on #385
**Code**
<img width="424" alt="Screenshot 2020-08-20 at 12 13 44" src="https://user-images.githubusercontent.com/5259847/90763431-99d96600-e2de-11ea-9145-25da9d6c6b56.png">

**Result**
<img width="437" alt="Screenshot 2020-08-20 at 12 13 19" src="https://user-images.githubusercontent.com/5259847/90763406-8b8b4a00-e2de-11ea-8cc6-9776a207f0e6.png">

**Expected**
<img width="490" alt="Screenshot 2020

[2020-08-20 14:29] RobertDober commented on #385
Ok got it!

Had to edit your comment to get to the erroneous input though

[2020-08-20 14:31] RobertDober commented on #385
This is definitely related to https://github.com/RobertDober/earmark_parser/issues/9 and will be fixed there

[2020-08-28 15:51] feifanzhou opened #386 "Footnotes inconsistencies (not recognizing; missing references; etc)"
Hello! I'm running into some issues with parsing footnotes. There's a couple of different problems I'm running into, each detailed below. I'm bundling them together because it feels like they might be related, but I'm happy to split them up if that turns out to not be the case.

I'm running `{:earmark, "1.4.10"}` on Elixir 1.10.2 on macOS 10.15.5.

## Base case (this works)
This example works as e

[2020-08-28 16:24] RobertDober commented on #386
Thank you for reporting this. Footnotes are a little brittle right now, please follow the ticket which will fix your issue [here](https://github.com/RobertDober/earmark_parser/issues/26)

[2020-08-28 16:24] #386 closed

[2020-08-28 16:36] RobertDober commented on #386
@feifanzhou Please be also adviced that footnotes inside lists do not work currently, however a fix shall be released with 1.5.0 for that (fix will be in https://github.com/RobertDober/earmark_parser/issues/9 - never mind the title)

[2020-08-29 18:00] feifanzhou commented on #386
Thanks for taking a look @RobertDober — have you shared any guidance on when the fixes for https://github.com/RobertDober/earmark_parser/issues/9 and https://github.com/RobertDober/earmark_parser/issues/26 will be fixed? Days/weeks/months? Just so I can plan a release for my project that is using this?

[2020-08-30 10:00] RobertDober commented on #386
So we are looking for 1.5.1 here I am about a month late for 1.5.0. Therefore we are definitely in a month range here.

I am not even sure yet if I will allow footnotes in all the cases you have presented, do not get me wrong it is my goal but I am not sure about it yet.

Sorry for the bad news

[2020-09-23 14:06] Ziinc opened #388 "Footnote url render bug"
input:
[code]

Resultant error:
[code]

Interestingly, it only occurs when the footnote only contains a url:
[code]

[2020-09-23 14:35] RobertDober commented on #388
Can you please post the full trace of your call, or are you using the CLI?

[2020-09-23 14:40] RobertDober commented on #388
Seems related to https://github.com/RobertDober/earmark_parser/issues/26

[2020-09-23 14:44] Ziinc opened #389 "Footnotes get duplicated if referenced multiple times"
Input
[code]
Expected output, brackets are subscripts:
[code]
Actual output:
[code]

[2020-09-23 20:23] RobertDober commented on #389
Thank you for reporting this too, again,  please post the AST or HTML output.

[2020-10-08 03:04] wmnnd opened #390 "HTML parsing block (url-encoding tags)"
Hi there, after upgrading from `1.4.1` to `1.4.10`, one of my tests started failing. Earmark now seems to have a problem parsing an empty HTML tag.
It seems like the bug was introduced in Earmark `1.4.4`; `1.4.3` doesn’t exhibit this behavior.

`<a href="https://example.org/html-link"></a>` was previously correctly parsed (i.e. left untouched).
Now `Earmark.as_html` changes it to `<a href="https:/

[2020-10-08 07:23] RobertDober commented on #390
Thank you for reporting this, very nice to track down the exact version, which might indeed be very helpful.

That said I cannot reproduce the bug, probably I missunderstood something in the description

[code]

Am I missing some context here?

[2020-10-08 10:02] wmnnd commented on #390
Here is the behavior in 1.4.5:

[code]

Here is the same code in 1.4.4:
[code]

[2020-10-08 14:01] RobertDober commented on #390
Oh I see now, thank you for your troubles.

Actually this is not a bug, HTML is not recognized unless in its own line, the implementation was too lenient < 1.4.5

I apologise for the earlier lazy implementation, but I am afraid there is not much I can do now w/o introducing a regression against the spec (while the _regression_ you experienced was more of a fix).

I completely understand that this

[2020-10-08 14:52] wmnnd commented on #390
Thanks for looking into this!

But are you sure the spec requires a new line for *all* HTML elements?

John Gruber’s spec specifically says *only* block-level elements require a new line.

– https://daringfireball.net/projects/markdown/syntax#html

And Github has an example that is almost identical to mine in their spec for GFM:

– https://github.github.com/gfm/#example-636

[2020-10-08 18:44] RobertDober commented on #390
Firstly you are correct and secondly you are 100% correct...
Such bad wording from YHS. I should have written _docs_ instead of _specs_

https://github.com/pragdave/earmark#html-blocks

This means that I consider the docs as specs, however it is a moving target and I intend to define how earmark parses HTML in 1.5 please keep updated on that.

IIANM this behavior is pretty much what you want, http

[2020-10-08 19:52] wmnnd commented on #390
Thanks for the clarification. I will stick with.1.4.4 until this has been resolved :+1:

[2020-10-09 12:29] #390 closed

[2020-10-13 18:38] alexgleason opened #391 "Option to minify HTML output"
We're using Earmark in [Pleroma](https://git.pleroma.social/pleroma/pleroma), a self-hosted social media platform, to allow users to write posts in Markdown.

Pleroma is federated, so it has to handle posts from other ActivityPub implementations. Sometimes these implementations will use newlines instead of `<br>` tags to indicate line breaks, so we apply `white-space: pre-wrap;` on the text conten

[2020-10-14 15:56] RobertDober commented on #391
Sorry for this inconvenience, this will be fixed but I had foreseen to do that later because so far nobody was really impacted (ex_doc does not use the transformer anymore).

I cannot promise to get this into 1.4, it really depends on my upcoming schedule.

A PR would be great the goal is to have quite compact, but reasonable HTML, something like not indented with line breaks before and after bloc

[2020-10-14 15:59] RobertDober commented on #391
Oh BTW I was not thinking about an option, this should be the default behavior IMHO

[2020-10-14 16:22] RobertDober commented on #391
However I was talking about something completely different, 😓

I was talking about rendering Markdown to HTML, not HTML, please note that, that kind of input is not even supported (it kinda works by chance)

[code]

Please see https://github.com/pragdave/earmark/issues/390 and https://github.com/pragdave/earmark#html-blocks

As mentioned this shall be handled https://github.com/RobertDober/earmark

[2020-10-14 16:25] alexgleason commented on #391
Solving it with Markdown it HTML is what we're trying to do. My example above was just to demonstrate a case with extraneous spaces, but the issue is mainly about newlines added from Markdown to HTML output. Thank you!

[2020-10-14 19:05] RobertDober commented on #391
IIUC we have two issues
- Rendering is bogus because of two much whitespace (which is a bug)
- HTML is not totally parsed (which is specified) and might lead to unexpected results, will go away with EarmarkParser's issue https://github.com/RobertDober/earmark_parser/issues/7

Therefore in theory I can fix the first bug if I have time 😨  (or could accept a bug request)

Can you confirm please?

[2020-10-14 19:26] alexgleason commented on #391
Yes, you're correct. The issue is extraneous newlines. Thank you!

[2020-10-28 20:16] oliverswitzer commented on #341
@fedme were you able to create that custom AST parser? Am running into a similar issue that would require modifying the way the AST is transformed into html.

[2020-10-28 21:05] fedme commented on #341
@oliverswitzer I didn't have much time to implement an elegant solution, so what I did was to copy the `Transform` module from this repo and modify it with the additional transformations I needed. Then I simply used the transform function from my module rather than from this repo.

You can see my ugly hack [here](https://www.github.com/fedme/blanks/tree/master/lib%2Fblanks%2Fmarkdown%2Ftransform.e

[2020-11-18 19:55] feld commented on #391
Hello, checking in on this

[2020-11-18 20:53] rinpatch commented on #391
I have a draft commit for this https://github.com/rinpatch/earmark/commit/2e8b4dc893438eba9874c011611235e924ab3b72, it works perfectly in my testing, however causes 110 tests to fail due to expected fixtures containing newlines. Unfortunately my attempts to automate the fixture rework ran into some edge cases and modifying it all manually is not my idea of fun to say the least. I might get back to

[2020-11-19 09:34] RobertDober commented on #391
@rinpatch can you please make a PR against branch i391_minify_html, I will gladly have a look

[2020-11-26 09:12] #391 closed

[2020-11-26 13:53] gknedo opened #395 "Earmark.as_ast mess up with the order of a formatted text inside a link"
**Sample code**
[code]

**Expected Output**
[Link to **GitHub**](https://github.com)

[code]

**Current Output**

[code]

[2020-11-26 14:14] #395 closed

[2020-11-27 08:47] RobertDober commented on #395
yeah this has been fixed in the meantime ;)

[2020-11-27 16:05] RobertDober commented on #382
fixed on EarmarkParser side

[2020-11-27 16:05] #382 closed

[2020-12-08 11:36] RobertDober opened #398 "walk ast helper and ast postprocessing option"
Today:
implementing a custom transformer means doing the following, in pseudo code
[code]
where `mytransformation`  has no access to built in helpers or transformers

Tomorrow:

`Earmark`  will expose visitors and reducer to offer an event based or purely functional traversal

E.g.

[code]
allowing not to have a catch all pattern in the mapper (slower)

[code]

For structural change examples, plea

[2020-12-12 20:57] stefanchrobot opened #399 "Extra newline generated in HTML"
Hey, why the extra newline inside `<h1>`? This seems like a regression. Our unit tests started failing.

[code]

[2020-12-12 21:46] RobertDober commented on #399
I am sorry it does, I'll have a look as soon as possible.

I do not want to vary the output just for fun of course but I do not consider that kind of behavioural change a bug.

That said, I'll try to accommodate you as much as possible as this behaviour was not planned, given my schedule I would suggest though to make your tests a little bit more tolerant towards formatting.

It is often times con

[2020-12-12 22:17] RobertDober commented on #399
I just checked the code, and the tests, the pending "\n" has been there for a long time, from which version did you upgrade?

But I must reject this issue, sorry.

Apart from the idea of parsing the HTML maybe you can resolve your issue with the new `compact_output` option

[code]

[2020-12-12 22:17] #399 closed

[2020-12-17 17:30] tmjoen opened #400 "HTML gets stripped"
Hello!

There looks to be a slight problem in version 1.4.13:
[code]

Everything after the first tag seems to get stripped.

After reverting to 1.4.4 (the previous version I used):

[code]

[2020-12-17 18:22] RobertDober commented on #400
This is expected and documented behavior.
https://github.com/pragdave/earmark#limitations

That said 1.5 aims to parse full HTML.

[2020-12-17 18:28] #400 closed

[2021-02-11 11:26] fschoenfeldt commented on #234
FYI, there's a tool for Elixir: https://github.com/sebastiandedeyne/yaml_front_matter

[2021-02-14 07:31] josevalim commented on #398
Hi @RobertDober, the approach here is to usually have a `traverse` function that works like a reduce.

    EarmarkParser.traverse_ast(ast, acc, fn node, acc -> ... end)

The nice thing about the traverse is that if you want to traverse the ast only to collect some information and not modify it, you can!  But if all you need it as a map you can have this:

    def traverse_ast(ast, mapper) do

[2021-02-15 09:46] RobertDober commented on #398
Thank you @josevalim seems the triviality of the implementation of the map eluded me :wink

[2021-02-19 17:50] RobertDober commented on #398
@josevalim just had some time to review the code, I did some work to assure that `walk_ast` was not recursive, I'll need some time to come up with a non recursive reducer... should be doable ;)

[2021-02-21 15:38] RobertDober opened #403 "warn if illegal keyword options are provided"
Now

[code]

Then

[code]

[2021-02-21 17:07] #398 closed

[2021-02-21 18:02] #403 closed

[2021-05-10 23:40] ZeLarpMaster commented on #307
@jdmarshall I know those things don't make sense. I was trying to make it work at all, not trying to make it work perfectly when I wrote this issue.

I ended up [forking this repo and doing the change I needed](https://github.com/ZeLarpMaster/earmark/commit/35c9661d6647059e507c0278347e21d92351c417). I tried the AST way (I see I have some commits on my project where I had started with that), but en

[2021-05-11 21:26] adkron opened #405 "HTML Escape only works with spaces around tags"
[code]

I would expect the tags to be escaped even if there isn't a space in front of the tag.

[2021-06-08 20:51] romenigld commented on #141
I am having this warning's as well with the versions :

[code]

when I run docs:

[code]

[2021-06-08 21:02] RobertDober commented on #141
I'll gladly explain if you show me `lib/assinante.ex`

[2021-06-09 15:58] romenigld commented on #141
I installed this versions:
[code]
and don't warn anymore...

[2021-08-12 20:45] lanodan opened #406 "Unexpected `\n` in compact output"
Might this be caused by the cheating mentionned briefly in <https://github.com/pragdave/earmark/issues/391#issuecomment-708601922>?

For example with ``Earmark.as_html!("hello\nworld", compact_output: true)``, earmarks renders it as ``"<p>hello\nworld</p>"`` while it should end up as ``"<p>hello world</p>"``.

[2021-08-28 15:48] RobertDober opened #407 "Allow customisation of links with a function that returns attributes as a function of its URL"
As discussed [here](https://elixirforum.com/t/earmark-elixirs-markdown-converter/25208/69)

[2021-08-28 16:06] RobertDober commented on #406
IIRC there is no difference in the semantics of the both,correct?
We are not at all aiming to be Common Mark compatible.

I will have a look if this is an easy _fix_ though.

[2021-08-30 15:44] #407 closed

[2021-09-01 09:11] RobertDober opened #409 "Integrate EarmarkParser 1.4.16"

[2021-09-01 09:32] RobertDober opened #410 "add an --eex option to the CLI to allow for EEx expansion before converting markdown"
A part from many _potential_ use cases, there is one YHS servant needs:

Creating one html document from many markdown files

For that matter, if the `--eex` option is provided the CLI shall call `EEx.eval_file(...)` and then pipe the output into `Earmark.as_html!`

[2021-09-01 13:48] RobertDober opened #411 "Redesign of `Earmark.CLI`"
- isolate all output into `main`
- expose all but the output fonctionality in `run`
- Put CLI under testing again

Related to #410

[2021-09-01 14:45] RobertDober opened #412 "Refactor Options"
- remove unused fields (`renderer:`)
- expose helpers (all Options related code from outside, e.g. CLI shall become a helper)
- test coverage (now @ 80%) --> 100%

[2021-09-01 16:41] RobertDober opened #414 "Push test coverage"
Recent efforts have shown that refactoring is britle with the current CC

Let us aim for 90% (from 70%) and then we can add the badge too 😏

[2021-09-01 16:42] #412 closed

[2021-09-01 20:05] #414 closed

[2021-09-04 13:46] #411 closed

[2021-09-13 19:21] #410 closed

[2021-09-20 07:30] RobertDober opened #418 "Remove enclosing `<p>` tag with an option, say `--inner-html`"
This is useful when `Earmark.as_html!(..., inner_html: true)` is called in an `EEx` template (in my use case a Phoenix app) and goes into an inline element

E.g.

[code]

[2021-09-28 07:31] #418 closed

[2021-09-28 07:46] RobertDober opened #420 "expose EarmarkParser's annotations option"

[2021-09-28 16:42] RobertDober opened #421 "map_ast cannot change content"

[2021-09-28 20:14] #420 closed

[2021-09-28 20:14] #421 closed

[2021-10-12 17:30] deepankar-j opened #424 "Compiler warning: :eex dependency is not declared"
Using earmark v1.4.16, I get the following warning during compilation.  It appears that `:eex` might be missing from `mix.exs`.

[code]

[2021-10-16 07:42] #409 closed

[2021-10-16 07:43] RobertDober commented on #424
thank you for reporting this

[2021-10-16 07:50] RobertDober opened #425 "Add a mix task that exposes Earmark in an EEX template"
This easy to implement feature would allow to make some static pages by including Markdown

[code]
We should add  `eex: true` to the options and the binding of `earmark` recursively (can this be done?) and
we have a static page generator

[2021-10-16 09:37] RobertDober opened #427 "Fix issue of PR#423 heredoc incomp with 1.11 and probabley 1.10"
Add 1.10 and 1.11 to check this out

[2021-10-17 07:28] RobertDober opened #429 "Illegal command line option is not caught but causes a loop in the CLI"

[2021-10-17 07:32] RobertDober opened #430 "When the CLI is run on a simple HTML file the end tag is missed"
Example:

[code]

[2021-10-19 16:27] maennchen opened #432 "Wrong formatted HTML for `mix release`"
Moved from https://github.com/elixir-lang/ex_doc/issues/1407

## Problem

There seems to be something off with the Markdown Compiler. When writing a list inside of a paragraph of a list, the paragraph will be part of the inner list `li` instead of being a `p` inside of the outer list `li`.

https://github.com/elixir-lang/elixir/blob/adff27d277d07cf0a31e418c6e6f6f6995127636/lib/mix/lib/mix/tasks/re

[2021-10-19 19:46] RobertDober commented on #432
Thank you for your thorough report @maennchen unfortunately I do not have an ETA for a fix,
this is AAMoF an [EarmarkParser issue](https://github.com/RobertDober/earmark_parser/issues/45)

I got used to the fact, that the rudimentary support for complex lists does not seem to cause problems, and therefore was not very motivated ...

I will link to this issue in the above mentioned ticket so that y

[2021-10-19 19:47] #432 closed, assigned to nobody

[2021-10-24 23:11] kipcole9 opened #435 "Compile error on Elixir 1.11 & Elixir 1.12"
## Summary

With `ex_doc 0.25.5` and `earmark 1.4.16`, the following errors occur:

1. On Elixir 1.11 `earmark` does not compile
2. On Elixir 1.12 `earmark` produces compiler warnings however neither remediation (1) or (3) appear to work. I have not yet added `:eex` as a dependency since that is built into Elixir and shouldn't be required?

These errors do not appear with `earmark 1.4.14`.

## Con

[2021-10-27 06:35] #435 closed, assigned to RobertDober

[2021-10-29 20:46] RobertDober opened #438 "Implement Smarty Pants Rendering and remove the smarty pants options for Earmark Parser"

[2021-10-30 06:59] #438 closed

[2021-12-06 08:18] RobertDober opened #440 "Deprecate usage of Elixir 1.10 and 1.11"

[2021-12-17 16:44] dwellmind opened #441 "Option to define the links target"
I suppose rendering HTML with links with a target (here `_blank`) is a commun case.

I wrote this after looking the documentation.

[code]

It works. However, it is a bit verbose and makes us dive into Earmark internals.

Do you think an option (e.g. named `links_target`) is conceivable?

[2021-12-18 21:07] RobertDober commented on #441
Hmm IIRC this has been discussed already and rejected because oftentimes the target of the link depends on the type/domain of the target link.
That is why the above approach which is extensible to provide more control.

Please also be aware that the option would not go into `Earmark`  but `EarmarkParser`.

Again if IIRC I repeat myself: Maybe a set of predefined processors in a different lib would

[2021-12-18 21:08] RobertDober commented on #441
Même pas pour un Breton désolé :cry: Kenavo

[2021-12-18 21:09] RobertDober commented on #441
BTW I am sorry that from the docs it is not clear that these are not internals but exposed with a well defined, alas complicated API, to be used by the expert user.

[2021-12-19 15:11] #441 closed

[2021-12-19 16:10] dwellmind commented on #441
I understand, it just felt weird to me.

Kenavo!

[2022-01-07 20:59] conradfr opened #442 "Exception raised with Earmark.as_html!/2"
Hello,

Since upgrading from v1.4.15 (with all versions up to) v1.4.19 I get this error when using Earmark.as_html!/2

[code]

Thanks.

[2022-01-07 21:19] christhekeele commented on #442
Was just going to report this. `EarmarkParser` version `1.4.19` released today crashes on all APIs. It appears `EarmarkParser` changed an API to use `MapSet`s without co-ercing inbound options using the old list format.

Repro:

[code]

[2022-01-07 21:23] conradfr commented on #442
Ok that may explains why I couldn't totally fix it by reverting to a previous version. In v1.4.15 I get an empty string and an exception in all superior versions.

So if the bug is not strictly in Earmark I guess I'll close this issue.

[2022-01-07 23:19] christhekeele commented on #442
I think though this is a bug in `EarmarkParser`, or at least a breaking contract more worth of a minor version bump, we should keep this as an open issue since there is a mitigation: changing the [dependency version](https://github.com/pragdave/earmark/blob/master/mix.exs#L10) from `{:earmark_parser, ">= 1.4.18"}` to `{:earmark_parser, ">= 1.4.18 and != 1.4.18"}` will prevent quite a few breaking

[2022-01-08 00:19] conradfr commented on #442
I re-opened for visibility and opened a corresponding issue on earmark_parser board. Let's see how this goes.

[2022-01-08 07:13] RobertDober commented on #442
I appologize, releasing EarmarkParser I did not realize that Earmark will fetch the newest version I will fix this in an Earmark Release ASAP

[2022-01-08 07:24] RobertDober commented on #442
Release fix in 1.4.20

[2022-01-08 07:24] #442 closed

[2022-01-08 11:55] conradfr commented on #442
Thanks.

[2022-01-12 13:41] cheerfulstoic commented on #421
Did you end up making this work?  I can't seem to transform content with `map_ast` either

[2022-01-12 16:33] RobertDober commented on #421
I guess so what's your problem?

However I will probably not have time to work on this for weeks, sorry.

[2022-01-14 15:04] cheerfulstoic commented on #421
Not a big deal 😄 .  I was trying to take some markdown files that I had and use `Code.format_string!/2` to format Elixir code blocks.

[2022-02-14 01:30] simoncocking commented on #442
We're somehow tripping over this error now, running `earmark` `1.4.20` and `earmark_parser` `1.4.19`. It appears there is no `earmark_parser` `1.4.20` on Hex; should there be?

[2022-02-14 01:40] christhekeele commented on #442
@simoncocking it looks like `1.4.20` got un-released 5 days ago? https://hex.pm/packages/earmark_parser/audit_logs

[2022-02-14 01:43] simoncocking commented on #442
Well that'll certainly do it!! 😅

[2022-02-14 07:55] RobertDober commented on #442
no

[2022-02-14 07:55] RobertDober commented on #442
YHM messed up big and is working hard to get 1.5 out

[2022-02-14 23:26] simoncocking commented on #442
Took me quite a while to figure out what YHS meant 😂 Appreciate your hard work, from our perspective there's no urgency as we're able to roll back to 1.4.15 and await the real fix 😉

[2022-02-15 11:00] RobertDober commented on #442
@simoncocking good to know

[2022-04-21 13:43] thiagomajesk commented on #405
Same problem here!

[code]

[2022-04-21 15:00] RobertDober commented on #405
Just two important points:

HTML is only parsed partially but 1.5 should probably get you the desired behavior. The behavior above should be clearly documented IIRC tags need to start a line, if not a PR would be welcome :)

Markdown can be unsafe and Earmark will not detect unsafe Markdown, so please be careful with what you render

I will close this for that reason

[2022-04-21 15:42] thiagomajesk commented on #405
Hey @RobertDober, I'm not sure I follow, isn't the syntax we provided valid markdown? Is this a problem with HTML escaping or not? Also, could you please let this open until we can make sure the correct behavior (or documentation) is expected for `1.5`? TBH, It's not clear to me that this is a matter of earmark detecting unsafe markdown, but rather escaping those tags correctly.

[2022-04-21 15:57] RobertDober commented on #405
No this is by design html tags are only recognized when starting a line, if I leave this open it still will not change, so I prefer to have it closed.

[2022-04-21 16:02] thiagomajesk commented on #405
Ok, so what you are saying is that this is the expected behavior for the current version of earmark, but for 1.5 it will recognize the HTML tags properly? If that's the case, and you rather keep the issue closed, is there a place we can follow progress on this front?

[2022-04-22 05:49] RobertDober commented on #405
I am afraid I missunderstood what you really want as the OP wants the tags to be escaped when they are already escaped, so now we have

[code]
rendered as HTML
[code]
rendered as text with `&lt;` (this is uncommon or non standard if you will) but Earmark never claimed to be standard, that said...

1.5
All HTML is rendered as HTML as GFM does

But I have no idea of the ETA of 1.5

[2022-04-22 13:49] thiagomajesk commented on #405
From what I understood the problem is not related to having tags escaped, but actually escaping HTML tags. If you run both examples on IEx, you'll see that HTML tags simply are not escaped correctly. There's nothing to do with HTML already being escaped in the source.

Take my previous examples:

[code]

The first one works properly because there isn't a space between the content and the tag. It s

[2022-04-22 16:55] RobertDober commented on #405
Well I just have no resources available right now, what I might be able to do though is to implement this behavior:  https://babelmark.github.io/?text=+%3Cstrong%3Evalue%3C%2Fstrong%3E
in that case I will open an issue in EarmarkParser, not here.
And hopefully it's a quick fix

[2022-04-23 08:16] RobertDober commented on #405
https://github.com/RobertDober/earmark_parser/issues/102

therefore this can be closed with a release using EarmarkParser 1.4.26

[2022-04-30 06:57] RobertDober opened #446 "Allow map_ast to replace content"
see https://github.com/RobertDober/earmark_parser/issues/104

Maybe this is easy but I need to investigate

[2022-05-01 07:10] RobertDober commented on #446
fixed in just released 1.4.25

[2022-05-01 07:10] #446 closed

[2022-05-01 17:35] crertel opened #447 "Guidance on splicing in raw HTML"
Hello again!

I hate to be a bother--would you happen to know offhand an easy way of splicing HTML back in during AST traversal? I have a blob, and my current best guess was to feed it into Floki (which has a slightly different AST structure, one fewer field on the node tuples).

[2022-05-01 19:45] RobertDober commented on #447
No problem
So you would need to do some rendering before finishing the traversal?

Maybe an example?

[2022-05-02 03:34] crertel commented on #447
So, what I'm doing is baking in some syntax highlighting using the [highlight](http://www.andre-simon.de/doku/highlight/en/highlight.php) tool. This tool takes some text and emits HTML; I use [Rambo](https://www.hex.pm/packages/rambo) to run that tool and feed it the source code that I'd like to have converted to syntax-highlighted HTML. I get the HTML back, and I'd like to replace my `<code>` blo

[2022-05-02 03:36] crertel commented on #447
The current approach looks basically like this:

[code]

  (I also still have no idea what the `meta`/4th tuple element is for!)

[2022-05-02 09:35] RobertDober commented on #447
just a quick thought

in your first approach when you inject the HTML as a child node, have you tried to set meta to `%{verbose: true}` (or similar, need to check what EarmarkParser.as_ast returns for html tags

[2022-05-02 09:37] RobertDober commented on #447
for exactly that reason, and annotations and to add your own `custom:` key which will never be used by the Parser as a contract

[2022-05-26 19:46] nacengineer opened #448 "Handle unclosed tags in markdown"
First, thanks for such an awesome library!

I came across this one which is similar to issue #61 while building an internal app to parse our Gitlab Repo Readme's via an API.

Apparently in HTML4.01 it's acceptable to have certain tags optional closed. TBH this was a complete TIL despite having done web dev for a few years. 😳 I'm not even sure if this is something I would recommend adding to earmar

[2022-05-27 06:52] RobertDober commented on #448
Sorry @nacengineer but you are talking to an elderly person, so maybe you could expalin what TIL means (I got TBH TBH) ;)

That said this is a parser issue but also out of interest, do you have real use cases where markdown contains that kind of old HTML, I would hate to support that unless there is a real good reason.

[2022-05-27 21:41] nacengineer commented on #448
LOL no problem @RobertDober it means "Today I learned".

In this case, it was to parse a Readme.md on for the errbit library for an internal application. Although note that github and gitlab both parsed it fine. I submitted a MR with errbit with the closing tags but note this is current and valid HTML (albeit insane).

As far as I know, it's not a deprecated standard, it's just optional. I think i

[2022-05-27 21:49] nacengineer commented on #448
Here it is in the current specs. Again. Insanity.

https://www.w3.org/TR/2011/WD-html5-20110405/syntax.html#optional-tags

[2022-05-28 18:36] RobertDober commented on #448
insane indeed, so I will close this as I do not indent to implement this

[2022-05-28 18:36] #448 closed

[2022-06-11 16:49] tomconroy opened #449 "Entities and inline HTML"
There is a regression since 9127d91c0745a28d87bd61dd4484856e98d88cd7. I compare output to the previous commit below (from 32b6ded)

[HTML entities should not be escaped within markdown blocks](https://daringfireball.net/projects/markdown/syntax#autoescape)

[code]

Note that ampersands *should* be escaped if they're not part of an HTML entity as they do currently.

[code]

Similarly, [inline HTML

[2022-06-13 19:53] RobertDober commented on #449
@tomconroy thank you for this report, unfortunately I cannot give you an ETA on this :(

[2022-06-14 17:16] RobertDober commented on #449
seems the default options got mixed up

[code]
sorry about that, but now I wonder if it makes sense to _repair_ this, given for how long this switch had been introduced and my conclusion is: sorry, no

No it is explicitly not allowed in 1.4 this is a design choice made from the beginning, it should be _fixed_ in 1.5 if I ever will find the time for 1.5 :(

[2022-06-14 17:16] #449 closed

[2022-08-10 09:28] thorsten-de opened #450 "configuration :sys_interface not set for :earmark (Earmark.from_file!/2)"
Using `Earmark.from_file!/2` with regular markdown files (*.md) results in following error:
[code]

This happens when used both at compile-time and at runtime in IEx. So far, there  is no mention about it, so I guessed it is a configuration error on my side. Bootstrapping a new mix app and including the current earmark from hex yields the same results. Am I missing something?

P.S: Renaming the fi

[2022-08-10 10:00] RobertDober commented on #450
Thank you for reporting this I'll have a look when ASAP (which might be ALAP, alas)

[2022-08-11 08:24] RobertDober commented on #450
@thorsten-de guess I need a little bit more info here, please provide me with the complete input and output
of your problelm

A quick check was ok for me
[code]

[2022-08-11 10:09] thorsten-de commented on #450
That's interesting and maybe I am missing something obvious in my configuration, since if it wouldn't work at all, this issue should have been already reported.

So, this is my dev environment:
- elixir 1.13.4-otp-24
- erlang 24.3.4.2
- provided by asdf on manjaro (arch) linux, kernel 5.10.135-1
- also tested with elixir 1.3.4-otp-25 and erlang-25.0.3, same results

I added earmark to my mix.exs:

[2022-08-11 11:32] RobertDober commented on #450
oh I see I need to test this in an application that uses Earmark, not Earmark by itself, ty for the details.

[2022-08-11 11:38] RobertDober commented on #450
goes without saying

[2022-08-11 19:10] RobertDober commented on #450
fixed in 1.4.27 which I just released

[2022-08-11 19:10] #450 closed

[2022-09-16 19:49] sodapopcan commented on #447
So I just had this exact issue.  I was finally able to solve it though it's convoluted and not battle-tested.

Here's the whole thing:

[code]

I hope that was somewhat coherent!

@RobertDober, do you feel this is something that could belong in Earmark (hopefully with nicer code) or would the complexity not be worth it?  I feel it would be nice to be able to seamlessly integrate with highlighting

[2022-09-18 08:41] RobertDober commented on #447
My guess would be that you need:

[code]
which will insert a node between any two ast nodes for which predicate_fn holds?

I am not sure this is a good idea, as this would be opening a can of worms. My idea of exposing the transformation functions was to encourage the creation of libraries of a higher abstraction level and not to engulf the Earmark library for all users and would maybe also allow

[2022-09-21 17:16] sodapopcan commented on #447
I'm sorry, re-reading I worded my question horribly.  I merely meant solve the tag spacing issue to enable integration with highlighters, not actually explicitly integrate with them!  I haven't come back to this yet since I got things working but you've given me some good info to look into when I do.  I can try and verify if this is on floki's side or not---wasn't trying to create work for you :)

[2022-09-21 19:36] RobertDober commented on #447
No worries, I think our exchange is cool, I too got confused about the missing space issue, but it is in Floki I am quite sure, however maybe it is not an issue in HTML (however I doubt it), anyway if I kept this open it was to encourage you to pitch your ideas, just that I do not have a lot of time for this :(

Bye for now

[2022-11-03 19:50] joisig commented on #398
Not sure it's useful but in case it is, I'm a happy user of Earmark 1.4.19 (will upgrade soon!) and implemented the following walk-and-modify function (public domain, feel free to use however you like):

[code]

[2022-11-04 18:04] RobertDober commented on #398
@joisig as mentioned in the ML I will look at this ASAP but just a question, is this not already possible (`Earmark.Transformer.map_ast_with/3 and 4)[https://github.com/pragdave/earmark/blob/947b9acbc446c32433098f5118bb6921773213c2/lib/earmark/transform.ex#L309]

[2022-11-04 19:45] joisig commented on #398
Hi @RobertDober I may have misunderstood, but I didn't think that function and the related ones would let you modify the structure of the AST, whereas what I suggested does (for an example see https://elixirforum.com/t/earmark-elixirs-markdown-converter/25208/112). Sorry if I wasted your time, and of course no rush to incorporate any of this, just wanted to provide it for anybody who might want to

[2022-11-04 20:20] RobertDober commented on #398
No you are right there are no structure modifying transformations, but I was thinking about them, I will read the forum post in detail

sounds interesting

bye for now

[2022-11-05 06:45] RobertDober commented on #398
@joisig this is definitely worth a Pull Request, ideally with some tests.

May I make some suggestions (but I can implement them myself if you do not have time)

- do not use the guard clauses `is_function` on recursive calls, e.g.

[code]

- replace `{_i, _a} = some_call(...)` by `some_call(...)`
- add a catch it all error case to the `case process_item_fn.(item, acc) do` as we call a client func

[2022-11-05 06:50] RobertDober commented on #398
ah about the last point, seems José does not agree with me ;)

[2022-11-07 12:11] joisig commented on #398
Sure, will be happy to work this up into a pull request with tests and addressing your comments, and send to you in the next few days.

[2022-11-07 13:59] joisig commented on #398
@RobertDober see https://github.com/pragdave/earmark/pull/454

[2022-11-10 06:44] RobertDober commented on #398
I do not understand @joisig your PR has been merged already here #455 did I miss something?

[2022-11-10 09:31] RobertDober commented on #398
indeed I will probably move your code into a different module and might refactor before merging it into master again, this will not devaluate your contribution which is also duely noted in the `RELEASE.md`
hope you are fine with this

[2022-11-10 09:50] joisig commented on #398
@RobertDober I'm absolutely fine with that, thanks!

[2022-11-29 14:11] eproxus opened #457 "Multiple images with links are not parsed correctly"
When using markdown images with links, `ex_doc` incorrectly parses them when they are in one paragraph.

## Input

[code]

Full example: https://github.com/eproxus/unite/blob/v0.4.0/README.md

## Result

<img width="852" alt="Screenshot 2022-11-29 at 12 04 55" src="https://user-images.githubusercontent.com/112878/204513068-2995c4c2-3261-44c0-9d71-d6bc25267c69.png">

### HTML

[code]

## Expected

[2022-11-29 14:11] eproxus commented on #457
See https://github.com/elixir-lang/ex_doc/issues/1635

[2022-11-29 19:12] RobertDober commented on #457
This is a parser issue

[2022-11-30 07:15] RobertDober commented on #457
@eproxus thank you for reporting this I will open the issue in the parser

[2022-11-30 07:15] #457 closed