[2014-07-20 08:44] alco opened #2 "Parsing the contents of `inline block` and tables"
This does not produce a proper table

[code]

because of the pipe inside an inline block. Is it really "specified" by the "spec" (whichever "spec" defines table syntax) to act that way?

Intuitively, it is more appropriate to strip any symbols inside ` and ` of any special meaning, similar to how `*`, `_`, and others work.

[2014-07-20 17:40] #2 closed, assigned to nobody

[2014-08-02 20:11] josevalim opened #3 "0.1.7 causes failures on ExDoc test suite"
Just run `mix deps.update earmark` on ExDoc and you will get:

[code]

[2014-08-02 21:23] #3 closed, assigned to nobody

[2014-08-12 23:31] knewter opened #4 "Breaks on cowboy readme"
So there's an exception thrown if you try to render the current README markdown for the cowboy project.

I've attached the exception and there's a reproduction (just run the tests) here: https://github.com/knewter/earmark/tree/feature/breaks_on_cowboy_readme

Just thought that might be useful.  I can't dig into it right now but I'd be willing to later...

[code]

[2014-08-13 00:19] #4 closed, assigned to nobody

[2014-08-16 12:51] ericmj opened #5 "Rendering of tables with escaped pipes \| is broken"
See: http://elixir-lang.org/docs/master/elixir/Kernel.Typespec.html.

The escaped `\|` are not treated correctly. It would be even better if we could have the `|` inside the code back-ticks without having to escape them.

[2014-08-17 19:08] pragdave opened #7 "Create documentation"
I need to write a guide to the markdown we support.

[2014-10-30 17:05] lau opened #12 "Exception with doctest"
The two lines below causes and earmark exception when used with doctest.

Works with doctest, but causes earmark exception:

[code]

[code]

Indenting the second line with 2 additional spaces prevents earmark exception. But causes doctest exception because doctest expects the indentation to be the same for both lines:

[code]

[2014-11-07 04:11] #12 closed, assigned to nobody

[2014-12-28 20:19] alco opened #13 "Incorrect rendering of numbered lists"
Rendering [this list](https://gist.githubusercontent.com/alco/4207ba8d61e734a6c2a4/raw/5e77c222fed3a947cc1b3a0cfc91527823680b9a/gistfile1.txt) produces the following HTML output (tested on master):

[code]

I call this incorrect because the majority of Markdown implementations out there handle this list as expected. Try pasting the text above into [Babelmark](http://johnmacfarlane.net/babelmark2),

[2015-01-01 04:56] pragdave commented on #13
I understand the issue.

However, I dont understand why the source needs to be indented the way it
is.

The simplest and most compatible fix is to indent as

asdasddsa

1. asdads
    asdsadas

2. asdasdsad
    asdasdasd

Dave

On Sun, Dec 28, 2014 at 2:19 PM, Alexei Sholik <notifications@github.com>
wrote:

[2015-01-01 11:44] alco commented on #13
@pragdave

See this section http://daringfireball.net/projects/markdown/syntax#list.

Indenting slightly helps lists to stand out from the ordinary paragraphs.

In Elixir, we want lists to be nice (we don't want to be lazy).

[2015-01-01 21:56] pragdave commented on #13
I understand. But you can still use hanging indents, as long as the
indentation of the block is less than 4 characters.

I have some family issues at the moment, and I won't have time to make
changes. So as a short term measure, my suggestion is to simply bring the
indentation closer to the margin.

(Or, I'll take a PR :)

Dave

On Thu, Jan 1, 2015 at 5:44 AM, Alexei Sholik <notifications@github.c

[2015-02-03 12:43] eksperimental opened #15 "add support for: links in headings"
Hi Dave,
I don't know if this is part of the markdown features, or something is missing,
but i think it will be usefull to allow links inside headers.

[code]

Every implementation featured in babelmark2 is supporting this:
http://johnmacfarlane.net/babelmark2/?normalize=1&text=text%0A%0A%23%23+This+is+the+heading+%5BPygments%5D(http%3A%2F%2Fpygments.org%2F)%0A%0Amore+text%0A%0A%23%23+%5BPygments%

[2015-02-03 12:46] eksperimental opened #16 "add earmark to babelmark2"
A server needs to be set up with earmark, but I think it will be a good asset to have it in [Babelmark2](http://johnmacfarlane.net/babelmark2/)

info on how to add it: http://johnmacfarlane.net/babelmark2/faq.html#how-can-i-add-my-markdown-implementation-to-babelmark-2

[2015-02-10 23:12] prio opened #17 "Parsing error"
The following text causes a parsing error,
iex(33)> Earmark.to_html("F\nF\n=")
** (FunctionClauseError) no function clause matching in Earmark.Block.parse/2
    lib/earmark/block.ex:56: Earmark.Block.parse([%Earmark.Line.SetextUnderlineHeading{level: 1, line: "="}, %Earmark.Line.Blank{content: "", line: ""}], [%Earmark.Block.Para{attrs: nil, lines: ["F", "F"]}])
    lib/earmark/block.ex:49: Earmar

[2015-03-19 23:14] ericmj commented on #12
@pragdave This is still raising exceptions. Is that intended?

[2015-03-20 03:19] pragdave commented on #12
Nope (obviously).

But I haven't had time to look recently.

I'll add it to my queue.

On Thu, Mar 19, 2015 at 6:14 PM, Eric Meadows-Jönsson <
notifications@github.com> wrote:

[2015-03-25 16:41] #5 closed

[2015-03-25 17:17] #17 closed

[2015-03-25 17:20] pragdave commented on #16
At the risk of channelling DHH, please feel free. I personally don't have the bandwidth to maintain another server.

Dave

[2015-03-25 17:20] #16 closed

[2015-03-25 17:23] pragdave commented on #15
I thought hard about this when you posted the ticket. I've decided I don't really like the idea. To my mind, headings are for internal navigation, not external. They act as targets, not as links.

[2015-03-25 17:23] #15 closed

[2015-03-25 17:43] #13 closed

[2015-03-25 17:50] eksperimental commented on #15
thanks anyway for considering it

[2015-04-14 16:12] lowks opened #19 "Test fails on MacOS"
Hi I am running on MacOS 10.10.2
Elixir version 1.0.4
When I try running the tests using `mix test --trace` I get the following one failure:

[code]

[2015-04-15 00:35] pragdave commented on #19
Thanks for this.

Actually, looking at the test, it was clearly wrong to test against the intermediate form—the correct test is the second part, which tests the output. This is because footnote support is an option which is handled post-parse.

I've pushed an update that removes the failing assertion.

[2015-04-15 00:35] #19 closed

[2015-05-08 10:45] josevalim opened #21 "& is not being escaped inside code blocks"
Reported here: https://github.com/elixir-lang/ex_doc/issues/210

I will send a pull request with a fix soon.

[2015-05-08 16:48] #21 closed

[2015-05-21 14:24] mxhold opened #24 "Strange escaping behavior"
I originally noticed a line in [the Phoenix docs](http://hexdocs.pm/phoenix/Phoenix.Controller.html#accepts/2) about accepting a wildcard media type:

[code]

that renders as:

[code]

Not too surprising... it looks like they forgot to escape the asterisks.

But when I tried to fix it:

[code]

It rendered the exact same way!

Here are some other examples of things that render differently in Earma

[2015-05-25 13:05] mxhold commented on #24
Oh whoops I think I got confused about how escaping is supposed to work.

`Earmark.to_html("Hello \*/\* world")` *should* produce `Hello <em>/</em> world` since you're only escaping the asterisks, not the slashes before them.

`Earmark.to_html("Hello \\*/\\* world")` correctly produces `Hello */* world`! No bug here.

[2015-05-25 13:05] #24 closed

[2015-06-18 05:36] mysteriouspants opened #25 "Add Math tags support"
A certain [Markdown-with-benefits parser](http://kramdown.gettalong.org/) supports parsing mathematical content like so:

[code]

This is then emitted in a format that a JavaScript tool called [MathJax](http://www.mathjax.org/) can process into lovely typeset equations. The alluded-to Markdown parser accomplishes this by emitting code like the following:

[code]

It's a neat feature and I use it a

[2015-06-19 16:13] mschae opened #26 "Wrong curly parens if surrounded text ends with a tag."
Hey Dave,

unfortunately we stumbled upon this bug:

[code]

That test should pass (I think) but it doesn't as the result of this is:

[code]

What happens is that `Earmark.Inline.smartypants/1` receives the following snippets: `a "` `test` `"`. The last snippet is matched to `“` rather than `”`.

Unfortunately that's where I am striking out right now...

[2015-06-20 01:22] pragdave commented on #25
Chris:

I'm a big fan of LaTeX math.

I wonder though if it would be better to find a more generic way to support it. If Earmark supported plugins, we could have an extension syntax which could invoke any of a number of different plugins.

For example, the math extension could register itself and declare it was using the "$" prefix. Then you could write

    «$ 1 \over 2 »

or somesuch syntax to i

[2015-06-20 01:29] pragdave commented on #26
Hmm.. tricky.

Let me think about that.

In the meantime, a workaround would presumably be to move the quotes inside the bold?

[2015-06-20 07:12] mysteriouspants commented on #25
I think plugins are a great idea, particularly when you consider that plugins could be added on a domain-specific basis: ExDoc could add a syntax for linking to other documentation similar to C#'s `<see cref=""/>` feature for linking to other documented code elements; Wikis could add their own wikilinks and TOCs; I think it opens the door to all kinds of fun things.

How might one go about making

[2015-06-22 12:46] mschae commented on #26
Thanks for looking into this Dave!

Definitely a workaround but it's easy to come up with examples where that's not an option. Any way I can help with the fix?

[2015-06-24 00:50] eksperimental opened #27 "Indented lines within Lists"
There is a bug in the parser,
you can see it here
http://elixir-lang.org/docs/master/elixir/File.html#read/1
https://github.com/elixir-lang/elixir/blob/e3e8aec7bfa3ca8a060f679f9580bc7f40ae0a78/lib/elixir/lib/file.ex#L219-L225

the problem happens when inside a list (I guess it happens with both ordered and unordered), there is a line that has been indented with 4 spaces or more, the line will be t

[2015-07-02 20:18] olgeni opened #29 "Tag latest version"
Hi,

Version 0.1.17 is listed on hex.pm, but the latest tag here is v0.1.8. Was anything left uncommitted?

It would be great to have the latest code available. Thanks!

[2015-07-02 20:34] pragdave commented on #29
I think it's all up to date. I normally don't tag releases. I did for a little while here as an experiment, but it didn't stick :)

[2015-07-02 20:34] #29 closed

[2015-07-02 20:36] olgeni commented on #29
Do you know where hex.pm version numbers come from? :)

[2015-07-02 20:39] pragdave commented on #29
mix.ex

On Thu, Jul 2, 2015 at 3:36 PM Giacomo Olgeni <notifications@github.com>
wrote:

[2015-07-02 20:46] olgeni commented on #29
There it is. Thanks!

[2015-09-03 03:57] milmazz commented on #27
@eksperimental This issue report appears that can be closed because the problem was in Elixir's documentation, right?

[2015-09-03 03:59] pragdave commented on #27
Yes

[2015-09-03 03:59] #27 closed

[2015-09-11 07:57] eksperimental opened #30 "backticks are not interpreted inside HEADINGS"
The code in question:

[code]

earmark will convert the code above to:

[code]

while the rest of the implementations will do:

[code]

We use this feature in the [Elixir website itself](http://elixir-lang.org/getting-started/case-cond-and-if.html#if-and-unless). I was just trying to use it in ExDoc, and bumped into this.

Just for the record, 100% of the implementation in bablemark2 are intepreti

[2015-09-25 07:44] eksperimental opened #35 "Smarty pants: apostrophe get transforms into a wrong quote"
https://github.com/elixir-lang/elixir/blob/e48ecf47095582a946469d6b572594b4ccfd7721/lib/elixir/lib/application.ex#L148
[code]

gets transformed into
http://elixir-lang.org/docs/master/elixir/Application.html#fetch_env!/2

![earmark_aposthrope](https://cloud.githubusercontent.com/assets/9133420/10095416/e44e04b8-6393-11e5-9eea-8a14806934dc.png)

When there is a single quote in a word, denoting an a

[2015-10-19 15:25] RobertDober commented on #26
Hi
I am trying to figure this out ;).
Seems to me that the fix would be the same for this problem, if it is one, not sure.

[code]

If that is the case a more context aware `Earmark.Inline.smartypants/1` could do the trick, right or do I miss some block element context?

KR

[2015-10-19 17:04] pragdave commented on #26
I dropped the ball on this. I just commuted a failing test, and I'll have a
look for a fix. I someone finds one first, please let me know :)

On Mon, Oct 19, 2015 at 10:25 AM, Robert Dober <notifications@github.com>
wrote:

[2015-10-19 17:32] #35 closed

[2015-10-19 17:32] pragdave commented on #26
I've push a somewhat tacky fix

[2015-10-19 17:32] #26 closed

[2015-10-19 19:43] RobertDober commented on #26
I wanted to fix this `test/inline_test.ex ==> test/inline_test.exs` I'll make a PR for this but no issue unless you want one for your workflow

[2015-10-22 01:33] mememori opened #37 "Inlined code is escaped from implicit list when the pipe ("|") character is used"
[code]

Note through that if the code is on the same line as a explicit list item, this bug won't happen (although the result might mean a humongous line)
[code]

[2015-10-22 17:37] RobertDober commented on #30
Hmm Backticks seem just to be an example for **all** inline markup in Headers. Again as a reference

http://johnmacfarlane.net/babelmark2/?text=%23%23+Valid+for+all+_inline_+markup

while

[code]

[2015-10-23 16:16] #30 closed

[2015-10-23 16:25] eksperimental commented on #30
thanks a lot @RobertDober

[2015-10-26 17:51] RobertDober commented on #37
I do not think it has anything to do with the `<code>`

Pinned it down to:

[code]

[2015-10-26 18:02] pragdave commented on #37
I think this may be because  of a bug introduced a while back.

Eric requested a change to the way pipes were handled to fix something in
the existing docs (perhaps to do with tables), and it's possible it may
have had some unintended consequences.

Right now I don't have any time to dig in, though.

Dave

On Mon, Oct 26, 2015 at 12:51 PM, Robert Dober <notifications@github.com>
wrote:

[2015-10-26 18:09] RobertDober commented on #37
Thx, I'll have a look at it...

[2015-10-26 20:46] RobertDober commented on #37
I feel my fix might be ok and I will send the PR
 @pragdave understood that the merge might take some time

[2015-10-27 03:17] #37 closed

[2015-10-27 18:32] RobertDober opened #40 "Unescaped < and inline html"
I am not sure if this is a bug indeed.

Anyway, without inline html `<` is perfectly transformed

[code]

That changes if the line contains html

[code]

An indication that it is a bug is maybe the following transformation, note the additional space

[code]

Any opinions?

[2015-10-27 21:31] pragdave commented on #40
I’m guessing it is interpreting it as the self-closing tag

<max<br/>

Perhaps the regexp that matches tags should have a [^<] in it?
​

On Tue, Oct 27, 2015 at 1:32 PM, Robert Dober <notifications@github.com>
wrote:

[2015-10-28 06:16] RobertDober commented on #40
Logical conclusion, Dave, it is also interpreted as an opening tag in this context

[code]

will look at it as soon as possible.

[2015-10-30 16:44] RobertDober opened #41 "Horizontal Rules create incorrect HTML"
[code]

should be

[code]

[2015-10-30 19:21] jrmithdobbs opened #42 "Please add licensing information outside of README"
Could you please add an explicit LICENSE file with reference to apache license 2.0 ?

[2015-10-31 07:05] RobertDober opened #43 "Code block loses indent of first line"
[code]

should be

[code]

c.f. http://johnmacfarlane.net/babelmark2/?text=+++++++++++++++++++++++++a%0A+++++b

[2015-10-31 08:22] RobertDober opened #44 "Inline HTML with attributes wrapped into a <p> tag"
As shown below that applies to empty tags, one line tags, and block tags

[code]

[2015-10-31 10:56] RobertDober opened #45 "Impossible for trailing _ to be escaped from emphasisizing if there is another _ in the word"
The following is not a problem as such I guess
[code]
however escaping does **not** help

[code]

The workaround is to use `&#95;` instead of the trailing  `_`, not ideal ;(

[2015-10-31 10:59] RobertDober commented on #45
I found a better workround though

[code]

[2015-10-31 14:19] RobertDober commented on #44
After looking at output from other converters (http://johnmacfarlane.net/babelmark2/?text=%3Cdiv+class%3D%22a%22%2F%3E%0A) I am not sure if this is an issue?

[2015-11-15 23:48] mschae opened #47 "Error when encoding faulty text"
Hey,

I noticed a high error rate and tracked it back to this:

[code]

This is the text (which is faulty) that we are trying to encode:

[code]

[2015-11-17 16:56] RobertDober commented on #47
Hmm I am having difficulties reproducing this by copying the above text, looks more like an encoding issue in your files.

Here is the output from v0.1.19
[code]

Could you provide more information please.

[2015-11-19 20:35] tubedude opened #48 "Error parsing multi-line quoted text containing asterisk."
This error came up in a PR in [ericmj/decimal](https://github.com/ericmj/decimal/pull/23) (The comment is outdated and therefore hidden).

[This code](https://github.com/ericmj/decimal/blob/master/lib/decimal.ex#L5-L6):

[code]

generates the following html:

[code]

![decimal_ _decimal_v1_1_1-dev-error](https://cloud.githubusercontent.com/assets/1635127/11283400/afbf42e2-8eeb-11e5-8372-f41924b4ca

[2015-11-20 17:19] RobertDober commented on #48
This is not an error but a design choice as explained in the README.

Two workarounds come into mind immediately

[code]

For what it is worth, about 30% of the markdown implementations on Babelmark (http://johnmacfarlane.net/babelmark2/?text=%60sign%0A*+expression%60) agree with Dave's interpretation.
Not sure how the second renders. Maybe it is just best to rearrange the doc so that the line doe

[2015-11-20 17:24] RobertDober commented on #48
oops that reveals another issue

[2015-11-20 17:27] RobertDober opened #49 "Multiline code blocks not recognized for multilien single backquotes"
As shown [here](http://johnmacfarlane.net/babelmark2/?text=%60sign%0A+and+expression%60) Earmark is about the lone implementation not to convert multi line single backquotes into code blocks

[code]
[code]

[2015-11-20 17:28] RobertDober commented on #49
Related to #48 or even a doubleton of #48, not sure.

[2015-11-20 17:29] RobertDober commented on #48
@tubedude sorry if I missread your issue, you meant #49 not the `<ul> issue` right?

[2015-11-20 23:35] tubedude commented on #48
Yes @RobertDober I think this issue is related to the backquotes enclosing a multiline text.
I agree with you that this issue and #49 are the same.

[2015-11-21 18:55] #44 closed

[2015-11-21 18:58] RobertDober commented on #49
Doubleton of #48

[2015-11-21 18:58] #49 closed

[2015-11-21 19:00] RobertDober commented on #45
I believe that for now escaping the first _ is acceptable.

[2015-11-21 19:00] #45 closed

[2015-11-21 20:48] #40 closed

[2015-11-21 20:48] #41 closed

[2015-11-21 20:48] #43 closed

[2015-11-22 12:16] RobertDober commented on #42
@pragdave would this LICENSE file suit you?

[code]

[2015-11-22 19:30] pragdave commented on #42
What do you think of the MIT license?
On Nov 22, 2015 6:16 AM, "Robert Dober" <notifications@github.com> wrote:

[2015-11-22 19:45] RobertDober commented on #42
I like it. But than we would not be aligned with Elixir anymore, if that was not your goal and you prefer MIT I will change to MIT. Your call.

[2015-11-22 23:15] pragdave commented on #42
That's a good point. Let's stick with your original Apache, then.

Many thanks

Dave

On Sun, Nov 22, 2015 at 1:45 PM, Robert Dober <notifications@github.com>
wrote:

[2015-11-23 01:58] eksperimental commented on #42
May I ask what are the intentions behind maintaining the same license as elixir?

[2015-11-23 02:14] pragdave commented on #42
Earmark is fairly tightly bound to elixir, as i is used to create its
documentation (both in exdoc and in iex). It struck me that it would be
easier for the two to share a license.

But I can be persuaded otherwise.

On Sun, Nov 22, 2015 at 7:58 PM, eksperimental <notifications@github.com>
wrote:

[2015-11-23 16:16] RobertDober commented on #42
@eksperimental personally I am really happy with any Open Source License. I just thought that Dave's decision to use the same license as Elixir makes it a no-brainer for any user interested in the legal implications of using Earmark, which seems good. However I am very interested in any reasoning why a different license might be better.

[2015-11-24 05:22] Ch4s3 opened #50 "Error parsing lists with code snips"
The following breaks:
[code]
And shows up as:
<img width="687" alt="screen shot 2015-11-24 at 12 21 50 am" src="https://cloud.githubusercontent.com/assets/1943540/11358538/6a964b44-9241-11e5-9972-dabb8e1d987f.png">

**edit to show actual markdown, as I forgot I was typing into a markdown editor

[2015-11-24 06:00] RobertDober commented on #50
Seems you want to reopen this issue for the correct project, this is *Earmark* not Rails.

[2015-11-24 06:14] Ch4s3 commented on #50
No, I use Earmark for a blog backed by Elixir. I just noticed this while moving over an article from my old blog that just happens to be about JRuby and Rails. I did intend to post here.

Here's the page view:

[code]

and relevant partial:
[code]

[2015-11-24 06:26] RobertDober commented on #50
Please give us something to work with. Which markdown input breaks what and how?
I cannot reopen the issue without that information.

[2015-11-24 06:32] Ch4s3 commented on #50
Oh sorry, I didn't notice that it didn't escape.
[code]
This should be exactly what I used. I think the problem is with the +'s for the list. Here's a [link](https://gist.githubusercontent.com/Ch4s3/66ff107f92a05a29b4ac/raw/226e6832aea8e5a006aa50e8a1d26ef28b526bdb/jruby_rails.md) to a raw gist of the whole doc.

[2015-11-24 07:31] RobertDober commented on #50
No problem I might have guessed. I was not very inspired.
In the meantime, in case you have control over the input you could replace the triple backticks with single ones, but I guess you can't.
I'll have a look as soon as possible.

[2015-11-24 13:55] Ch4s3 commented on #50
I can definitely do that in the meantime. I'll see if I can figure out the issue, but I'm still pretty new to elixir, no promises.

[2015-11-24 16:46] RobertDober commented on #50
Dave's code is worth studying by all means. I am about to fix this with #48 (as I will probably treat pairs of ``` that are not fences and pairs of ` equally) so it is a little bit unlikely that I will accept a PR for this one. But that said I do not want you to discourage to make one, I just warn you not to be dissapointed as I am working on this now.

Anyway the issue report is appreciated, even

[2015-11-24 16:50] Ch4s3 commented on #50
Cool. I'll poke around the code over the holiday and maybe look for other opportunities. Yeah, Dave's work is pretty amazing.

[2015-11-25 06:16] RobertDober opened #51 "Fenced Code Block triggered by Inline Code Block"
While
[code]
should be an inline code block (réf: http://johnmacfarlane.net/babelmark2/?text=%60%60%60%60+a+%60%60%60%60)

it is interpreted as a fenced code block generating this
[code]

Very much related to #48 and #50

[2015-11-30 17:36] RobertDober commented on #48
@pragdave I just pushed a development branch that fixes #48, #49 & #51. However the code is not one that I would happily merge it into master.
I need your wisdom here :). But is this the right place to discuss the code quality and design choices I have made? (or rather not made, I tried to respect your design as much as possible)

[2015-11-30 19:31] #47 closed

[2015-12-05 20:47] #42 closed

[2015-12-27 17:15] RobertDober commented on #51
Closed with commit 55828d1131581554712849bbacd82a88568ba66c

[2015-12-27 17:15] #51 closed

[2015-12-27 17:16] RobertDober commented on #50
closed with 55828d1131581554712849bbacd82a88568ba66c

[2015-12-27 17:16] #50 closed

[2015-12-27 17:17] RobertDober commented on #48
Closed with 55828d1131581554712849bbacd82a88568ba66c

[2015-12-27 17:17] #48 closed

[2016-01-01 18:28] RobertDober opened #55 "Trailing WS at end of first line of Link Ref Definitions is changing semantics..."
While

[code]
produces a link,

[code]
Note the space after `"title"`

does not.

[2016-01-15 07:37] seantanly opened #57 "[Version 0.2.0] ```elixir ```` and [MIT](LICENSE.md) external file support broken in README.md"
Thanks for constantly improving earmark.

The above is still working in 0.1.19 but is broken in 0.2.0.

```elixir ``` isn't being recognise as a code block and link parsing support for external file such as [MIT](LICENSE.md) isn't working anymore.

[2016-01-15 07:57] RobertDober commented on #57
I am not sure what you mean with the above.

[code]
?

Can you please indicate the input and the expected output.

Thx

[2016-01-15 08:06] seantanly commented on #57
Examples below are taken from what is generated from 0.1.19 output,

[code]
should transform to
[code]

[code]
should transform to
[code]

In version 0.2.0, they are being parsed as text with no transformation.

[2016-01-15 08:09] seantanly commented on #57
I forgot to mention this is in the context of generating docs using `ex_docs` while relying on earmark for markdown parsing.

[2016-01-15 09:27] RobertDober commented on #57
I get seemingly correct results

[code]

[2016-01-15 10:01] seantanly commented on #57
When I ran mix docs, I get

[code]

Could this be related? There isn't any of those warnings on 0.1.19.

[2016-01-15 10:08] RobertDober commented on #57
That is something I have seen, meaning that some docs are just not correct markdown. I do not think it is related at all.

I'd love to help but I really do not see the issue here yet. Please provide a test case I can chew on.

BTW the HTML code you provided as an example was not generated by Earmark 0.19, is this correct?

[2016-01-15 10:12] seantanly commented on #57
Here's one of the projects that I'm working on, which the error occurred. I had the same issue with another project.

https://github.com/seantanly/elixir-combination

Can you git clone it, change the mix.exs earmark version to 0.2.0 and run `MIX_ENV=docs mix docs` on it?

Thanks for taking the time to work on this. Really appreciate it. :)

[2016-01-15 10:41] RobertDober commented on #57
that is a good idea, thx

[2016-01-15 10:55] seantanly commented on #57
On a related note, the id or #anchors generated by earmark follows the capitalization of the headings, whereas GitHub lowercases all of them.

Because of this capitalization disagreement, the intra-document links can't work on both github generated view of the markdown flies and the (hex)docs generated by earmark. We had to choose one or the other.

I would very much appreciate if earmark can gene

[2016-01-15 10:57] RobertDober commented on #57
I reproduced the problem, finally :)
Thanx for reporting this.

Concerning the anchors I am not sure yet, but you might want to check this issue out https://github.com/elixir-lang/ex_doc/issues/508

[2016-01-15 11:14] seantanly commented on #57
Great! :)

As for elixir-lang/ex_doc#508 it's not really the same issue. Allow me to clarify.

Earmark is already generating the id for the headings, just not agreeing with GitHub on the capitalization. GitHub lowercases the entire id while Earmark maintains the capitalization. Therefore the same URL #fragment can't work for both.

For example, https://github.com/seantanly/elixir-combination which

[2016-01-15 12:31] RobertDober commented on #57
Thx for the explication. Would you care to open an issue?

[2016-01-15 17:16] seantanly commented on #57
Sure!

Previously I was confused that Earmark is generating the id attributes for the headers. Upon closer inspection at the output/code, I realized ex_doc is responsible for that.

I'll open this issue on ex_doc. Thanks.

[2016-01-15 17:49] seantanly commented on #57
Raised this on pull request https://github.com/elixir-lang/ex_doc/pull/510

[2016-01-16 02:45] remiq opened #58 "XSS vunerability"
Hi,

I've just tested this (http://stackoverflow.com/questions/1690601/markdown-and-xss/6823393#6823393) in Earmark 0.2.0 and the output is vunerable.

How to recreate:

    Earmark.to_html """

    """

results in `"<blockquote><p>hello <a name=\"n\"\nhref=\"javascript:alert('xss')\"><em>you</em></a></p>\n</blockquote>\n"` which includes `<a href="javascript:alert('xss')">you</a>`.

[2016-01-16 02:49] remiq commented on #58
7 out of 12 markdown implementations have the same issue:
http://johnmacfarlane.net/babelmark2/?text=%3E+hello+%3Ca+name%3D%22n%22%0A%3E+href%3D%22javascript%3Aalert%28%27xss%27%29%22%3E*you*%3C%2Fa%3E

[2016-01-16 07:50] RobertDober commented on #58
Thanx for the report I am going to look into this.

[2016-01-16 10:45] seantanly commented on #57
Thanks for releasing 0.2.1 which fixed the problem. :)

[2016-01-16 10:45] #57 closed

[2016-01-16 11:45] RobertDober commented on #57
So this was already fixed, I did not do anything. Must have been a consequence of #56. The thank you for the release goes to @pragdave

[2016-01-16 11:47] seantanly commented on #57
@pragdave Thanks! :)

[2016-01-18 20:09] RobertDober commented on #58
@remiq just for your information and in case you'd care to share your thoughts: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!topic/elixir-lang-talk/kSgQ1tWJQe4

[2016-01-20 16:25] redvers commented on #58
Markdown standard requires that HTML be passed right through if it meets certain criteria:

"An HTML block is a group of lines that is treated as raw HTML (and will not be escaped in HTML output)"
-- http://spec.commonmark.org/0.24/#html-blocks

Including <script>:  http://spec.commonmark.org/0.24/#example-132

And that's the intent!
"Text between < and > that looks like an HTML tag is parsed as a

[2016-01-20 16:44] RobertDober commented on #58
@redvers Your feedback is most welcome. The more I read and think about this I feel that maybe it is not Earmark's responsability to filter XSS. However in that case the burden would fall upon `ex_doc`, right, did you mean that with docpatch? Probably an XSS html filter should be written for Elixir/Erlang, I was asking a question on the ML on this, no result so far ;(.
I really shall not take any

[2016-01-20 17:02] pragdave commented on #58
I agree with what you say—it isn't our job.

I also don't really support CommonMark—I think it's missing the point.

So I'm very happy with things as they are.

On Wed, Jan 20, 2016 at 10:44 AM, Robert Dober <notifications@github.com>
wrote:

[2016-01-20 17:06] RobertDober commented on #58
Thank you @pragdave I will close the issue and add a note to the dox.

[2016-01-20 17:06] #58 closed

[2016-02-23 19:20] alakra opened #59 "On providing options for rendering fenced code blocks"
In some code highlighting libraries, I have seen requirements expecting that the class name of a code block be prefixed with `language` like so:

[code]

In its current form, earmark doesn't appear to allow anything that doesn't match the regex pattern `\w*` when plucking the language type from the fence block token.  This eliminates hyphens from being matched so I can't do something like the foll

[2016-02-23 19:51] RobertDober commented on #59
I guess it is useful and if it does not harm we should change the rgx. Maybe one day somebody will create a language named e.g. `better-language` and we would be ready :wink:  . Could you make a PR please, so that I can have a look. Thx.

[2016-02-23 20:33] alakra commented on #59
@RobertDober Thanks for hearing me out. I'll put out a PR shortly.

[2016-02-25 17:51] alakra commented on #59
See https://github.com/pragdave/earmark/pull/60

[2016-02-25 18:55] #59 closed

[2016-02-25 18:56] RobertDober commented on #59
closed with PR #60

[2016-02-29 10:45] mikekreuzer opened #61 "Embedded img tags (maybe all self closing/void tags) aren't handled"
eg `<img src="whatevs.png"></img>` works, but `<img src="whatevs.png">` is valid html, but fails

[2016-02-29 10:57] mikekreuzer opened #62 "Possible enhancement? Maybe have a bang version and a regular error returning version"
Maybe the current version could be a bang function, and we could also have something that reported errors?

`current_result = Earmark.to_html! content`
`{:ok, result} = Earmark.to_html content`

etc
cheers, and ta for your work on this from someone who's been looking at Elixir for all of minutes! Mike

[2016-02-29 14:15] RobertDober commented on #62
The idea pleases me, however that kind of backward incompatible change cannot be done without a major release. For that reason I will need to have to wait for Dave to give me a green light for a major release. Given the current activity that seems unlikely in the near future though.

Maybe I can add a different method but that would be less idiomatic. An option could do a smooth transition to a ne

[2016-02-29 14:23] RobertDober commented on #61
You are making a valid point, need to check this out before deciding on implementation. Of course that concerns all void tags. According to the HTML5 spex we are accepting the incorrect format and refute the correct one (https://www.w3.org/TR/html5/syntax.html#void-elements). Again this cannot be totally fixed for backwards compatibility before a major release.

However the goal would be to accept

[2016-02-29 18:19] pragdave commented on #62
Maybe leave the existing, but start warning that it is deprecated. Add two
new calls: as_html and as_html!.

Dave
​

On Mon, Feb 29, 2016 at 8:15 AM, Robert Dober <notifications@github.com>
wrote:

[2016-02-29 20:03] RobertDober commented on #62
Agreed

[2016-03-01 18:03] RobertDober commented on #62
Actually this is quite a rewrite. I am thinking about changing Earmark.Line to Earmark.Token and to split lines up into tokens, writing rather a lexer, for some time now. Seems that this change would benefit of such a redesign but I have not thought it through to the end yet.

[2016-03-02 07:46] mikekreuzer commented on #62
From little things big things grow. :-)

[2016-03-20 07:48] RobertDober commented on #62
Having taken on new professional responsibilities I have much less time for Earmark now ;(. So I will concentrate on bugfixes and smaller issues.

[2016-03-20 08:37] mikekreuzer commented on #62
No worries, so it goes.

[2016-03-20 09:51] RobertDober commented on #61
@mikekreuzer Thank you Mike for your empathy on #62. However I had some time to "fix" this one, I guess. So before merging the branch I thought I ask your opinion on this one, and Dave's too.

1. There was not really any problem with the generated HTML just an incorrect error message, do you agree?

1. I got rid of the error message for the tags which make "sense" in Markdown, like `img`, `hr` and

[2016-03-26 01:09] mikekreuzer commented on #61
Sorry slow reply (I broke my arm & keeping up the pace is trickier than usual.)

1. No - when I got an error to standard out I also got markdown as output, not html. Just tested that with 1.2.3 and while:

`markdown = "<img></img>\n\nsome other stuff"`
`IO.puts "----"`
`html = Earmark.to_html(markdown)`
`IO.puts "----"`
`IO.puts html`

gives:
`----`
`----`
 `<img></img><p>some other stuff</p>`

if

[2016-03-26 09:21] RobertDober commented on #61
Sorry for the arm, it is a hassle, I know, hope it's healing fast

Thx for your input, I see now how the html is incorrect

branch **master**:

[code]

unfortunately my bugfix is not complete yet as

branch **61-void-elements**

[code]

only got rid of the error message ;(

Hopefully finding some time next week...

[2016-04-10 13:30] #61 closed

[2016-05-07 02:02] eksperimental opened #66 "Output file:line_no of offending line when missing backquotes"
I'm getting

and I have no idea where to look at.
If it would mention the file name,  at least I would know where to look at.

[2016-05-07 05:57] RobertDober commented on #66
@eksperimental some context might come in handy. Running `mix hex.docs` I might guess, but on which project?

[2016-05-07 06:21] RobertDober commented on #66
@pragdave can you please wait with the release of 0.2.2 for this fix. I guess ex_doc might want to take advantage of the possibility to pass the filename into `.to_html`

[2016-05-07 12:26] eksperimental commented on #66
It was run against the elixir project. So no mix env

[2016-05-07 13:46] RobertDober commented on #66
oh I understand, it is in the nature of the bug that no context can be given ;(.

[2016-05-07 14:25] eksperimental commented on #66
I google this issue, and I found that in the #elixir-lang irc channerl @KronicDeth shared that  he has been bitten by it as well.. I wonder if he was also not passing any context..

[2016-05-07 14:34] RobertDober commented on #66
Sorry @eksperimental if I was not clear. You cannot pass the filename to Earmark right now and the line number is not added either to the warning message. I was talking of the context of the bug report, completely unrelated.
To be clear, the fix will:
* allow to call `Earmark.to_html(md_string, %Earmark.Options{filename: "hello.md"}`
* will add the filename and the line number to error messages.
*

[2016-05-07 14:37] RobertDober commented on #66
The above fix will have you count lines in your elixir sources. I was thinking that we could also allow a line number mapping to be passed into `.to_html` which could translate the line number from the markdown input to the line number in the original elixir file. I would be very interested in any POVs on this idea.

[2016-05-15 20:04] #66 closed

[2016-06-01 21:19] eksperimental opened #70 "Bug in link using parthesis"
check the [Wikipedia article on PATH](https://en.wikipedia.org/wiki/PATH_(variable))

It will link to `https://en.wikipedia.org/wiki/PATH_(variable`

[2016-06-01 21:24] eksperimental commented on #70
for testing ideas:
http://meta.stackexchange.com/questions/13501/links-to-urls-containing-parentheses

[2016-06-04 05:49] RobertDober commented on #70
Thx for the report, nice example ;).

[2016-06-04 08:06] #70 closed

[2016-06-04 08:09] RobertDober commented on #70
@eksperimental concerning the release of this I would like to know how important this fix is to you. That is because we are in a refactoring pgase right now. I still believe that we could release the code as it is correct but overly complicated. So if this is not important maybe we will release better code later. Thank you for your input.

[2016-06-04 11:11] eksperimental commented on #70
There is no rush for the release. Thanks for the fix

[2016-06-04 17:19] RobertDober commented on #70
good to know, thx

[2016-06-06 04:44] crertel opened #71 "What's the holdup on 1.0.0?"
So, what's left to get this to 1.0.0?

It's a little worrying to see such a widely-used package that is still nominally in pre-release status.

[2016-06-06 04:52] #71 closed

[2016-06-06 04:54] RobertDober commented on #71
I closed this issue because I do not want an open issue which is not going to be "fixed". Now if @pragdave wants to answer your question he still can.

[2016-06-06 14:57] crertel commented on #71
@RobertDober I disagree that this issue can't be "fixed".

If we can identify a set of release criteria (say, docs, test coverage, whatever), then we can start work on those, get a PR that works, bump the issue, cut the release on Hex, and *then* close the issue.

[2016-06-06 15:25] pragdave commented on #71
I personally don't see a compelling need to make a 1.0 release, as I don't
see it making any difference in terms of use.

Remember, 0.x is not prerelease. Computer folk always count from 0 :)

On Mon, Jun 6, 2016 at 9:57 AM, crertel <notifications@github.com> wrote:

[2016-06-06 16:08] whatyouhide commented on #71
Just to give more context to this (even if I'm not a part of the development of earmark, just chiming in here 😃): quoting from [semver.org](http://semver.org):

[2016-06-06 16:21] pragdave commented on #71
Ah, good point.

I'm cool with it going to 1.0, but I'd ask Robert to handle the timing.

Dave

On Mon, Jun 6, 2016 at 11:08 AM, Andrea Leopardi <notifications@github.com>
wrote:

[2016-06-06 16:21] RobertDober commented on #71
Just as a side note. We are very concerned about API stability inside 0.x.* and I really feel that this is commonly expected from 0.x releases all over OSS.

[2016-06-06 16:36] crertel commented on #71
Thanks folks! I'm happy to help if there's any scut work you need done (docs, tests, whatever).

[2016-06-06 16:41] RobertDober commented on #71
@crertel I was thinking for quite some time to have a test suit that assures the same behavior on some large input files, ideally some ex_doc input from important Elixir projects as Elixir, hex, phoenix you name it. Earmark has quite a complete test suite so maybe this could go somewhere else.
E.g. a github project called something like EarmarkNonreg.
This can become difficult if we compare naivel

[2016-06-06 19:54] crertel commented on #71
You could probably do something using one of the headless browsers setups...it's probably easiest just to compare to see if the generated DOM trees are identical.

[2016-06-06 19:58] pragdave commented on #71
the dom trees won't be identical if we use different tags and attributes....

On Mon, Jun 6, 2016 at 2:54 PM, crertel <notifications@github.com> wrote:

[2016-06-06 21:03] crertel commented on #71
Ah, sorry--I figured the point was to duplicate the trees from the common mark tests. :)

[2016-06-07 06:28] RobertDober commented on #71
DOM tree comparison would take us a long way though. I have some difficulty to imagine that the DOM tree will change a lot with bug fixes and new features. Small changes might easily be changed manually in the test suite. Concerning rendering that might be a future improvement when/if we find the correct tools.

[2016-06-08 15:33] mschae opened #72 "Wrong quotes in links"
Hey Dave,

possibly related to #26:

When using quotes inside of a link, they come out as both backwards. The first one should be forward:

Correct:
[code]

vs. wrong:

[code]

Thanks

[2016-06-10 05:31] #72 closed

[2016-06-23 20:29] eksperimental commented on #66
thanks for the fix Robert, but it is still not working in Elixir, I will open a new issue, because maybe it's only related to Elixir.

[2016-06-23 20:37] eksperimental opened #77 "Missing backquotes in Elixir Project not giving the right context"
related to #66
I'm running against Elixir master (v1.4.0-dev)
https://github.com/elixir-lang/elixir/tree/226438f68b0c2438345f7db72a3e8033d29173b2

You will get three errors when you run `make docs_elixir`

[code]

and there is no way I can figure out where the error is happening.
by running a regular expression, I found an offending line

https://github.com/elixir-lang/elixir/blob/226438f68b0c2438

[2016-06-24 06:39] RobertDober commented on #66
@eksperimental surprising it has been extensively tested. You might also want to test with the `deprecate-multiline-code` branch which is an idea we have been having. I do not know if Dave will eventually go into this direction as it is quite non-standard. Your feedback is appreciated.

[2016-06-24 06:43] RobertDober commented on #77
I guess it is what I explained in #66, but maybe I am wrong. I can only count the lines in the block which is passed to `Earmark.to_html` which is *not* the entire file, correct? So I would need a start line in %Options{} to be passed in. I had a quick lock into `ex_doc` not a trivial thing but possible for sure (but ex_doc will become less converter agnostic). I apologize for bad communication he

[2016-06-24 06:57] RobertDober commented on #77
Need to add the `%Options{start_linenumber}` in order to allow the implementation of https://github.com/elixir-lang/ex_doc/issues/561to be possible.

[2016-06-24 06:59] RobertDober commented on #77
@pragdave I believe this should go into 1.0.0, this must be nerving on large code bases.

[2016-06-24 15:07] eksperimental commented on #77
thank you @RobertDober for looking after this issue.

[2016-06-24 15:08] eksperimental commented on #77
Indeed @RobertDober, it certainly is!

[2016-06-24 15:25] eksperimental commented on #66
that doesn't work either :-(
I get a whole bunch of errors like this,

are deprecated

Multiline code blocks are quiet common in Elixir

oh.. one thing, there's a typo in your branch name
"deprecate-multline-code",
it's missing an "i"

thank you

On Thu, 23 Jun 2016 23:39:20 -0700
Robert Dober <notifications@github.com> wrote:

[2016-06-25 10:28] RobertDober commented on #66
@eksperimental  oh thanx I will fix that, however if multiline inline code is so common I guess we will not be able to ever deploy that branch ;(

[2016-06-25 10:52] #77 closed

[2016-06-30 18:20] RobertDober opened #78 "Escaped Escape still escapes backticks"
So while \`\\\\\` should be a backslash in an inline code block, it is parsed as an escaped backtick and the code block is pending.

[code]

see also https://github.com/elixir-lang/elixir/issues/4914#issuecomment-229709244

[2016-07-04 18:09] RobertDober opened #79 "Warnings on unclosed backquotes in a line"
I have learnt that emitting that kind of warning by default would be quite a nuisance. However fixes for issues #66 and #77 do not make much sense if a multiline code block was not closed some n lines above and Earmark can only inform you about the last left open. E.g.
[code]
I see only one solution, we add an option to `%Earmark.Options{warn_on_unclosed_backquotes: false}`

In the CLI it can be s

[2016-07-04 18:10] #78 closed

[2016-07-05 17:49] mschae commented on #72
Thanks so much for fixing this a while ago! Any ETA on when to expect 1.0?

[2016-07-05 19:56] RobertDober commented on #72
@mschae unfortunately not yet, I will try to get through to @pragdave for a release, master is ready for 1.0.0 so I hope he will find time soon.

[2016-07-05 20:52] pragdave commented on #72
Oh, sorry.

I hadn't realized. I still saw some activity.

Is it ready to go now?

On Tue, Jul 5, 2016 at 2:56 PM, Robert Dober <notifications@github.com>
wrote:

[2016-07-06 06:11] RobertDober commented on #72
No problem Dave. Yes we are ready. The open issues will have to wait :). Thank you

[2016-07-06 16:39] pragdave commented on #72
'tis done.

Robert—thank you so much for shepherding the code to this point. It would
not have got here without all your hard word.

Dave

On Wed, Jul 6, 2016 at 1:11 AM, Robert Dober <notifications@github.com>
wrote:

[2016-07-06 21:35] crertel commented on #72
Thanks again fellas!

[2016-07-07 17:31] RobertDober commented on #71
So finally I started working on the test suite https://github.com/RobertDober/Earsuite

[2016-07-07 19:09] crertel commented on #71
Yay! Need help?

[2016-07-07 21:12] RobertDober commented on #71
@crertel sure, with pleasure

[2016-07-09 12:15] PragTob opened #81 "Changelog update"
Hey there,

thanks for earmark! :) I can see there was a maintained changelog once upon a time, which is great. Especially with the recent major version bump an overview of potentially backwards incompatible changes would be great to have!

Thanks + cheers,
Tobi

[2016-07-09 15:58] RobertDober commented on #81
I'll try to reconstruct it from the git history.

[2016-07-09 16:53] #81 closed

[2016-07-09 17:33] RobertDober opened #82 "Remaining compiler warnings"
[code]

[2016-07-09 17:34] #82 closed

[2016-07-09 17:35] RobertDober commented on #82
with commit d01338f387e4f57e108d203c5e7a6b4e7c220345

[2016-07-09 21:02] PragTob commented on #81
Thank you!

[2016-08-12 21:39] RobertDober opened #85 "Indented fenced code blocks misindented"
Issue for

https://github.com/pragdave/earmark/pull/84

Mainly to have a regression test for the PR.

[2016-08-13 01:34] jonnystorm commented on #85
Submitted for your approval: regression tests in https://github.com/pragdave/earmark/pull/84/commits/63ccc36baa31beb739359f9fc152dfe4a270e9b9.

[2016-08-28 05:32] RobertDober opened #86 "README.md current format does not support readme tasks anymore"
Probably enough to move

below the batches section, and remove duplicate doc in `README.md`

[2016-08-28 09:58] #86 closed

[2016-09-12 03:08] milmazz opened #88 "Anchor links inside parenthesis"
Working on a new feature for `ex_doc` I notice the following behavior with Earmark:

[code]

When the expected result is: `<p>(the same ones accepted by <a href=\"#configure/1\">configure/1</a>)</p>`

Doing the same thing with [Markdown](https://github.com/devinus/markdown) produce the following result:

[code]

Another example can be found in [ExUnit.html#start/1](http://elixir-lang.org/docs/mast

[2016-09-12 06:20] RobertDober commented on #88
Thanks for the report. For the record the minimal input triggering the bug
[code]

[2016-09-12 10:45] RobertDober commented on #88
Hmm maybe a different bug, we will see
http://johnmacfarlane.net/babelmark2/?text=%5B%5Btext%5D(link)%5D

[2016-09-12 11:00] milmazz commented on #88
@robertdober I think is this one:

http://johnmacfarlane.net/babelmark2/?text=(%5Btext%5D(link))

[2016-09-12 11:02] RobertDober commented on #88
@milmazz yep that is the original one, http://johnmacfarlane.net/babelmark2/?text=%5B%5Btext%5D(link)%5D seems very much related, not sure yet though

[2016-09-13 09:51] RobertDober opened #89 "Link inside brackets not recognized"
http://johnmacfarlane.net/babelmark2/?text=%5B%5Btext%5D(link)%5D should be converted to a link

[2016-09-14 09:51] RobertDober commented on #85
wontfix is for v1 of Earmark, in v2 it might be easier to implement this.

[2016-09-15 07:32] RobertDober opened #90 "title in links too permissively parsed (' ... ") considered a quoted string"
http://johnmacfarlane.net/babelmark2/?text=%5Btext%5D(link+%22title%27)
and
http://johnmacfarlane.net/babelmark2/?text=!%5Btext%5D(link+%22title%27)

Do not fix before 2.0 but a DEPRECATION warning might be issued before, as this might break current use cases.

[2016-09-17 16:04] #55 closed

[2016-09-27 17:46] #88 closed

[2016-09-27 18:07] RobertDober commented on #89
However parsing
```[text(inner)](outer)```
http://johnmacfarlane.net/babelmark2/?normalize=1&text=%5B%5Btext%5D(inner)%5D(outer)
can be interpreted as
[code]

and is so by 17 babelmark converters or as

as (the unfortunate)
[code]
and is so by Earmark 1.0.1 and 4 other converters, or as

[code]

and is so by 5 converters.

I tend to agree with the majority.

[2016-09-29 20:12] ericmj opened #93 "Last item in lists is not wrapped in <p>"
You can see the formatting issue on https://hex.pm/docs/tasks#hex_publish.

[2016-09-29 20:34] RobertDober commented on #93
Frankly I cannot. Can you provide markdown input and expected html output?

[2016-09-29 20:36] ericmj commented on #93
You can see the some of the text of the text in lists is bold and some is not. If you cannot see it on the website you can inspect the source.

Here is the markdown: https://github.com/hexpm/hex/blob/master/lib/mix/tasks/hex/publish.ex#L39-L52

[2016-09-29 20:58] RobertDober commented on #93
I succeeded to extract an offending case

[code]

[2016-09-29 21:09] ericmj commented on #93
I was meaning to find a reproducing case but got bogged on an unrelated issue. I am sorry for making you find it.

Thank you @RobertDober :heart:

[2016-09-30 05:13] RobertDober commented on #93
np @ericmj I just needed to read the title...

[2016-09-30 17:18] #89 closed

[2016-09-30 17:19] RobertDober commented on #89
oh I added issue so the automatic close did not work

[2016-10-02 10:43] RobertDober commented on #93
I kinda have a fix for this, honestly the semantics of list items in paras goes a little over my head right now.
Neither from the code, nor from experiments on Babelmark I managed to really understand when to put them and when not.

Therefore, for starters I decided all <li> are wrapped in <p>s if one is, somehow defying the parser's semantics in the renderer. Ugly and maybe incorrect.

@pragdave

[2016-10-03 03:08] pragdave commented on #93
My understanding is that the <p>s are added if there is a blank line after
the item.

On Sun, Oct 2, 2016 at 5:43 AM, Robert Dober <notifications@github.com>
wrote:

[2016-10-03 07:51] RobertDober commented on #93
Thank you Dave I will review the code a little more to be sure to not have violated that principle. After merging this issue branch it might be a good idea to release 1.0.2.

[2016-10-03 07:54] ericmj commented on #93
Don't you always have to terminate the list with a blank line after the last item?

[2016-10-03 11:52] RobertDober commented on #93
@ericmj that is true, and BTW, if you are interested in  technical details, it was the source of the bug, as the parser did not put the "spaced" flag on the last list item, never. And it is this __never__ which still bugs me.

I guess one can trust the tests and the code is releasable in case the bugfix is urgently needed. Otherwise I'd like to investigate some further, but that will take some tim

[2016-10-03 11:53] ericmj commented on #93
A bugfix is not needed urgently so on my part please take your time.

[2016-10-03 12:19] RobertDober commented on #93
thx, well noted

[2016-10-03 21:33] sickill opened #95 "Opening html tag at the beginning of line closes paragraph"
iex(1)> Earmark.to_html("foo\nbar baz")
    "<p>foo\nbar baz</p>\n"
    iex(2)> Earmark.to_html("foo\n<b>bar</b> baz")
    "<p>foo</p>\n<b>bar</b> baz"
    iex(3)> Earmark.to_html("foo\nand <b>bar</b> baz")
    "<p>foo\nand <b>bar</b> baz</p>\n"

Result 1 and 3 are correct, however 2 doesn't seem to be. It shouldn't(?) close `<p>` before `<b>` (at least this is how other markdown parsers behave).

[2016-10-04 06:32] RobertDober commented on #95
Thanx for the report, nice catch.

[2016-10-04 09:35] sickill commented on #95
@RobertDober I used a workaround (moving last word from prev line in my text to the beginning of the line with tag). Fortunately I fully control the markdown text here, and it was the only place where it bite me so no rush.

[2016-10-04 14:47] RobertDober commented on #95
@sickill appreciated

[2016-10-06 17:47] RobertDober commented on #93
I did some research here are three possible behaviors.

1. wrap a `li`'s content into a `p` if there is a space before **or** after the item.
(many implementations do that)

1. Wrap with`p` in case **any** line has a space before **or** after the item.
(some, and amongst them commonmark, which is a surprise to me, do that)

1. For minimal backward incompatibility wrap with `p` if an item is follow

[2016-10-07 03:42] campezzi opened #96 "Prism.js compatibility for `code` blocks in specific languages"
[Prism.js](http://prismjs.com/) expects code blocks for a specific language to have a class of `language-some_language_name`, for example `language-elixir`. By default, Earmark's `HtmlRenderer` module creates those blocks with a class that does not contain the `language-` prefix. I have worked around this by defining a custom `PrismRenderer` module which is essentially a copy/paste of `HtmlRendere

[2016-10-07 06:04] RobertDober commented on #96
I would not do that for the simple reason that you would need to follow up on each bug fix. And the approach per se would mean that there would be n earmark_youknow_it renderers out there.

I believe that the Prism use case is quite common btw. Maybe we can just add an option like that

[code]
and the according command line option of course.

Would that scratch your itch? It should be a very easy

[2016-10-07 06:14] campezzi commented on #96
Yup, I agree. The option approach would work for me - I thought about suggesting that, but I thought it could be a bit odd as that option only applies to the `HtmlRenderer`. If you feel like that's OK, I'd be glad to take a look and send a PR!

[2016-10-07 06:27] RobertDober commented on #96
@campezzi great.

 FYI, many if not most options are used by the renderer, e.g. `gfm`, `smartypants`.

[2016-10-10 04:43] eksperimental opened #97 "wrongly convert links when "))" is used"
[code]
generates

[code]

when it should be
[code]

[2016-10-10 06:31] RobertDober commented on #97
@eksperimental thanx for the report, this was fixed with #88 and shall be released soon.

[2016-10-10 06:31] #97 closed

[2016-10-10 07:52] #93 closed

[2016-10-10 07:58] RobertDober commented on #93
@pragdave I guess we have enough in the 1.0.2 milestone to release. Do you agree? Thank you in advance.

[2016-10-10 12:03] eksperimental commented on #97
Thank u Robert

[2016-10-10 12:30] RobertDober commented on #97
FYI The release is ready hopefully Dave finds some time soon :)

[2016-10-10 15:41] pragdave commented on #97
Et voilà!  v1.0.2 is published.

Thank you so much Robert for shouldering the work on this.

Dave

On Mon, Oct 10, 2016 at 7:30 AM, Robert Dober <notifications@github.com>
wrote:

[2016-10-10 18:47] RobertDober commented on #97
Merci beaucoup Dave :smile:

[2016-10-13 03:46] milmazz opened #99 "Tuple with atom breaks conversion"
How to reproduce this error:

[code]

[2016-10-13 06:24] RobertDober commented on #99
That one hurts, thanks for the report.
Tech note: Happens only if tuple is alone in line (ignoring ws) and atom is first.

[2016-10-13 06:27] RobertDober commented on #99
@milmazz if you need an (ugly) workaround you can put a space between { and :
[code]

[2016-10-13 07:43] RobertDober commented on #99
@pragdave personally I like IALs (used them with Kramdown several years ago). However Kramdown and Maruku are the only implementations on Babelmark to implement them. Do you want me to implement them or to remove them?

[2016-10-13 13:43] milmazz commented on #99
@RobertDober Thanks for taking care of this, I'll try to put this temporary workaround in the [conversion process of the Elixir Getting Started Guide to EPUB](https://github.com/elixir-lang/elixir-lang.github.com/issues/860). Thanks!

[2016-10-13 14:51] pragdave commented on #99
I don't think so. I like them, and there are many other constructs that
would "break" the conversion (such as starting a paragraph with an
asterisk).

However, it shouldn't crash the conversion the way it does. Perhaps if the
thing inside the IAL isn't handled, we could revert to treating it as plain
text?

On Thu, Oct 13, 2016 at 8:43 AM, Milton Mazzarri <notifications@github.com>
wrote:

[2016-10-13 15:04] RobertDober commented on #99
@pragdave happy to implement rendering IALs and eliminating the crash of course. @milmazz that will not be a workaround then. Although I guess that we will render your use case as text ultimately I suggest you use the escaped syntax because the rendering of `{:text}` will become error prone as depending on the context...

As IALs are so uncommon I will definitely update the README. I might need so

[2016-10-14 07:30] #99 closed

[2016-10-14 07:32] RobertDober commented on #99
@pragdave you might want to check the README changes; I tried to write simple English, but...

[2016-10-14 18:31] pragdave commented on #99
You are talking with the person who in a school French exam translated *cane
à pêche*
as *tin of peaches*.  Your English is phenomenal.

I pushed some trivial updates.

Thanks again for everything.

On Fri, Oct 14, 2016 at 2:32 AM, Robert Dober <notifications@github.com>
wrote:

[2016-10-18 08:43] RobertDober commented on #79
I'll close this in the hope that unclosed backquotes will become deprecated in v1.1 and removed in v1.2.

[2016-10-18 08:43] #79 closed

[2016-10-20 09:56] RobertDober commented on #96
@campezzi I do not want to push you, only wanted to know if you are working on a PR.
If not let me know please I will implement this enhancement as I believe it is quite valuable.
But I just do not want to step on your toes.

[2016-10-20 12:43] campezzi commented on #96
Ended up getting flooded in other projects and pushed this down on the priority list. If you think it's an important feature to have right away, go for it! I'll only have time to revisit it in a couple of weeks or so. Thanks for asking though!

[2016-10-20 12:54] RobertDober commented on #96
@campezzi thx for your feedback. I'll assign it to myself and hopefully will get it done soon.

[2016-10-20 13:35] #95 closed

[2016-10-21 10:34] #96 closed

[2016-10-21 14:57] RobertDober opened #103 "two unclosed tags crash Earmark"
[code]

[2016-10-22 07:07] #103 closed

[2016-10-29 10:18] RobertDober commented on #25
Trying to play around with these ideas a little bit. Definitely for the plugin support.

[2016-10-29 10:22] RobertDober commented on #25
@mysteriouspants `$`in the first col are rare, but `$$` might be more readable and is easier to type than `\$`, so I vote for `$$`too.

[2016-10-29 15:47] RobertDober opened #106 "Plugins"
This is a spinoff of #25.

[2016-11-03 05:45] #62 closed

[2016-11-03 05:45] #106 closed

[2016-11-03 05:53] RobertDober commented on #25
As #106 is now closed Math support shall be implemented in a plugin.

[2016-11-03 05:54] RobertDober commented on #7
Hmm I believe it is pretty well documented now.

[2016-11-03 05:54] #7 closed

[2016-11-03 05:55] RobertDober commented on #90
* Deprecate in 1.1.
* Remove in 1.2.

[2016-11-03 05:58] RobertDober opened #108 "Remove support for Elixir versions < 1.3"
* Deprecate in 1.1
* Remove in 1.2

[2016-11-03 08:53] mikekreuzer commented on #62
:-)

[2016-11-10 00:23] dummey opened #109 "Keep README.md in sync with latest version on hex."
This may be an edge case that doesn't need to be covered, but the current README.md docs uses:
` html_doc = Earmark.as_html!(markdown)` while the latest version on Hex (1.0.3) is still using `to_html`.

Another option is to fill in the *Dependency* section with a concrete version.

[2016-11-10 01:02] ericmj commented on #109
Another option would be to include the readme in the docs. That way hexdocs will have the readme for the latest version on hex and github will have the readme for the development version.

[2016-11-10 07:00] RobertDober commented on #109
@dummey no it is not an edge case it could be quite confusing, ty for the report.
@ericmj and adding a note to the README that the relevant version is at hex. Would make life easier.

[2016-11-10 07:28] RobertDober commented on #109
@ericmj basically the README are the docs so I went with this simple fix/kludge. But I am open for ideas.

[2016-11-12 06:58] #109 closed

[2016-11-17 00:31] dummey opened #110 "Creating Lists with 2 space indents"
Is it possible to create lists with 2 space indents instead of 4/tabs?

[code]

Produces:

- hello
- bye
  - maybe
  - how?

[2016-11-17 07:51] RobertDober commented on #110
I hope so :smiley:

[2016-11-17 07:52] RobertDober commented on #110
@dummey oh another question, did you have an issue with tabs?

[2016-11-22 00:21] dummey commented on #110
Tabs seem to be working fine.

For spaces, I have a suspicion that https://github.com/pragdave/earmark/blob/master/lib/earmark/line.ex#L135 may be part of the puzzle.

I'll create some additional tests so we can work from the same set of assumptions.

[2016-11-22 07:27] RobertDober commented on #110
@dummey tabs ok, good
You are correct, however I cannot change this to two spaces as it is used for code blocks.
Dave did a very clever thing to implement list levels with 4 spaces, he just reparsed indented code.

I have not figured out an easy way to use this reusing technique w/o breaking code blocks, and start to believe the best way is to dump it and parse list item content non recursively.

[2016-11-28 17:14] RobertDober opened #112 "Aid for plugin standalone escripts."
It would be nice that somone (me) who creates a plugin, or someone else who just wants to use plugins (still me) could create a standalone escript wich wraps `Earmark` and any given number of plugins.

Basically the code is simple

[code]

However we still need to get all the command line options into `%Earmark.Options{}` and maybe we should allow plugin specific command line options too (needs an

[2016-12-07 01:28] dummey commented on #110
It's not really bugging me that much, I was just helping clean up some of the Phoenix docs and ran into the issue.

I happen to also be looking for a job, but I'll take a stab at this with my free time.

https://github.com/dummey/earmark/commit/88676ea493bc725a29c520f04760878457923c92

[2016-12-10 18:51] RobertDober commented on #110
@dummey well I got it fixed in branch i110_double_spaced_lists, but this code needs some heavy refactoring so do not hesitate to share any work you have done.

[2016-12-10 21:16] RobertDober opened #114 "Order lists incorrect start number"
http://johnmacfarlane.net/babelmark2/?text=*+a%0A++2.+b%0A++++2.+x

says it all

[code]

shall become

[code]

The `start` attribute is missing right now.

 And yes only cheapskate gets this right, well according to my humble opinion.

[2016-12-13 19:22] #110 closed

[2016-12-13 19:35] dummey commented on #110
Ooo yay! I took a peek at your code and I was going down a different (and
likely wrong) path with the problem. Thanks for the hard work on it!

On Tue, Dec 13, 2016 at 1:22 PM, Robert Dober <notifications@github.com>
wrote:

--
Incoherently,
Ricky Ng

[2016-12-14 19:56] #114 closed

[2016-12-19 03:39] ggerico opened #118 "Earmark.to_html nil"
When nil is passed to Earmark.to_html, you got the following error
** (FunctionClauseError) no function clause matching in Earmark.parse/2

You may add a pattern matching this eventuality.

 stacktrace:
lib/earmark.ex:289: Earmark.parse(nil, %Earmark.Options{breaks: false, code_class_prefix: nil, do_sanitize: nil, do_smartypants: nil, file: "<no file>", footnote_offset: 1
, footnotes: false, gfm:

[2016-12-19 14:54] RobertDober commented on #118
I fail to see the value of this. Is it common practice to intercept that kind of error message with something different, can you cite some examples?
IMHO the doc is enough but I am listening.

[2016-12-19 17:47] ggerico commented on #118
in phoenix controllers tests, when you pass an empty model to test the route, this error will occur. That's it.
[code]
Here a quick work around I put in the view:
[code]

[2016-12-19 19:32] whatyouhide commented on #118
I think rendering `nil` to `""` is a very application-specific behaviour and I don't think it's something that the library (earmark) should do. As for a better error message, it's not very common to have libraries intercept bad arguments to improve error messages and the most common way to go is just to express the "happy path" (`when is_binary(...)` for example) and let the function call fail wit

[2016-12-20 00:22] ggerico commented on #118
Yes, it's indeed "very application specific", but Phoenix is quite popular.
Thanks for the shorter version ~

[2016-12-20 00:22] #118 closed

[2016-12-27 03:55] sodiumjoe opened #119 "footnote markers inside list items are broken"
[code]

[2016-12-27 06:56] RobertDober commented on #119
Thx for the report, I thaught we got that base covered, but no :cry:

[2016-12-28 18:40] RobertDober commented on #119
Some other cases, **not** list related

* Undefined footnotes
[code]

* Malformed footnote definitions

[code]

[2017-01-22 12:02] #119 closed

[2017-01-22 14:47] RobertDober commented on #108
and deprecate Elixir <1.4 (to be removed in 1.3)

[2017-01-22 22:41] sodiumjoe commented on #119
I see this made it into the latest release. Thanks! When do releases get published to hex?

[2017-01-22 23:17] pragdave commented on #119
About 12 seconds ago... :)

On Sun, Jan 22, 2017 at 4:41 PM Joe Moon <notifications@github.com> wrote:

[2017-01-23 03:18] sodiumjoe commented on #119
hm, still only seeing `1.1.0`

[code]

[2017-01-23 03:27] sodiumjoe commented on #119
nm, looks like `1.1.0` is the one i want, i was looking at the release tags on github, which appear not to match up

[2017-01-23 11:28] RobertDober commented on #119
I believe I pushed the v1.1 release tag?

[2017-02-01 11:04] RobertDober opened #123 "Fix glitch in return value of `Earmark.as_html`"
https://github.com/pragdave/earmark/pull/122
and
https://github.com/elixir-lang/ex_doc/issues/669

[2017-02-02 20:30] RobertDober commented on #123
which of course is a regression of #62

[2017-02-02 21:12] #123 closed

[2017-02-12 17:02] brainlid opened #126 "Feature Idea, feedback: Task Lists in GFM"
I would like the Github flavored markdown feature of "Task Lists" to be supported in Earmark.

* https://help.github.com/articles/basic-writing-and-formatting-syntax/#task-lists
* https://help.github.com/articles/about-task-lists/

I am willing to try implementing it. I am proficient with Elixir.

I would like:

* to find out how open the project is to receiving it as a PR
* to get an idea of the

[2017-02-13 01:02] brainlid opened #127 "bug in list item block detection, nested lists detection is incorrect"
The following markdown incorrectly gets compiled to the following html.

The problem is that the first sub item is starting a new block but it ends up incorrectly grouping the blocks. So "level 3 - 2" ends up being a sibling of "level 2 - 1".

[code]

[code]

Which ends up looking like this:

<ul>
    <li>
        <p>Level 1</p>
        <ul>
            <li>
                <p>level 2 - 1</p>

[2017-02-13 09:55] RobertDober commented on #127
Tank you for reporting this

[2017-02-13 14:57] RobertDober commented on #127
Regression from 1.0

[2017-02-13 15:23] RobertDober commented on #127
As this regression was as des by implmenting 2 Space indent one can workaround the bug with 4 space indent before I fix it

[2017-02-13 20:56] brainlid commented on #127
Thanks for the workaround. That does work pretty well for me.

[2017-02-13 20:57] brainlid commented on #126
I'm using an alternative approach, so I don't need to create this feature myself now.

[2017-02-13 20:57] #126 closed

[2017-02-15 22:25] TheRickTM opened #128 "Creating Tables"
I can't get the table format to work properly. Am I missing something when trying to render as html without any options for tables?

[2017-02-17 18:31] #127 closed

[2017-02-17 19:03] RobertDober commented on #128
Can you describe your problem? It works fine for me

[code]

[2017-02-17 19:17] TheRickTM commented on #128
Thanks for your response. My issue was around having text leading up to the table. I needed an additional break for it to work.

[code]

[2017-02-17 19:21] #128 closed

[2017-02-18 16:06] RobertDober commented on #128
I am glad you made it work. I will add the information to the README, as tables are not standard (if such a thing exists) Markdown.

[2017-02-18 16:20] RobertDober commented on #108
I just removed support for Elixir <1.4 altogether fro master. What do you think @pragdave , is this too harsh?

[2017-02-20 02:15] pragdave commented on #108
Not harsh, I don't think.

On Sat, Feb 18, 2017 at 10:20 AM, Robert Dober <notifications@github.com>
wrote:

[2017-02-20 15:53] RobertDober commented on #108
Great Elixir is moving fast and supporting 1.4.x and upcoming 1.5 with 3 versions of OTP is what we will do from now on.

[2017-02-20 15:53] #108 closed

[2017-03-01 04:24] exterm opened #131 "IAL for a tags doesn't work"
Hi, I just wanted to add a `target="blank"` to a link and noticed that it doesn't work.

According to Kramdown syntax, `[nice link](http://www.google.com){:target="blank"}` should work, but earmark just renders the curly braces and their content as plain text. When I but the curly braces on the next line, like
[code]
The target attribute is added to the enclosing `p` tag instead.

[2017-03-01 04:25] exterm commented on #131
Thank you for the brilliant open source library :+1:

[2017-03-01 07:35] RobertDober commented on #131
Thank you for your kind words.
Concerning the issue I am afraid I have to close it.
It seems that Maruku, Kramdown and Earmark agree on this, the IAL atts go to the surrounding `p` tag https://johnmacfarlane.net/babelmark2/?text=%5Ba%5D(http%3A%2F%2Fw.com)%0A%7B%3A+.blank+%7D

Given that for once all three implementations agree I guess we better keep it that way.
IAL is great, and I really appreci

[2017-03-01 18:51] exterm commented on #131
So there's no way of adding attributes to `a` tags?

See https://johnmacfarlane.net/babelmark2/?text=[a](http%3A%2F%2Fw.com){%3Atarget%3D"_blank"} for a version that works in Kramdown, but not in earmark. Although most implementations seem to disagree with Kramdown. But as you mention Kramdown in your documentation, I expected this to work in earmark too.

[2017-03-01 20:17] RobertDober commented on #131
Hmm I really do not know. Would be nice to have but I will need some time to see if it is not too punishing and to consider some other cases.
But you have succeeded in convincing me that there might be a way, so I'll reopened it. But honestly I am not sure if and when...

[2017-03-01 21:29] exterm commented on #131
That's OK, I have a very nasty `String.replace` workaround for that right now, it would just be nice to be able to remove that some time in the future :)

[2017-03-05 14:10] #131 closed

[2017-03-07 17:58] RobertDober commented on #90
* Depreacte in 1.2
* Remove in 1.3

[2017-03-09 05:51] RobertDober opened #135 "Switch `--wrap` for `earmark` escript"
The escript `earmark` produces only a fragment of a static HTML5 webpage.

It might be useful to allow for the provision of some command line switches like, e.g. `--wrap` and/or `--lang`, `--title` to produce something like the following EEx template, in the context of `content` and `options` available in `Earmark.Cli`:

               <!DOCTYPE html>
               <html lang="<% options.lang %>"

[2017-03-09 07:52] RobertDober commented on #135
Using `EEx` might be tricky because of circular dependencies, maybe we need to generate the header by _hand_.

[2017-03-17 09:07] jamiecurle opened #137 "Footnotes: odd behaviour after an error."
Firstly, Earmark is super useful and a great resource so thanks for spending your time on it.

I forked this repo this morning to try and get to the bottom of a footnote issue (_a footnote with single word does not save_) and in doing so I have uncovered something that is perplexing me.

Open up an console in the Earmark directory (_running off master_) with `iex -S mix` and you can use these step

[2017-03-17 11:31] RobertDober commented on #137
Thank you for your feedback.

Let me answer your two questions.

First of all the `bar-baz`vs. `bar baz` issue. Working with Dave's code I assumed (I know, I know) that it was done on purpose, but looking at the following Babelmark output I am not sure anymore.

If you want to open an issue for it, I will look into it and ask Dave if this is ok with him.

Now the spoofy one, well it is quite simpl

[2017-03-17 11:38] RobertDober commented on #137
And now with two words

foo[^1] again

[^1]: bar baz

[2017-03-17 11:45] jamiecurle commented on #137
Thanks for the speedy and in depth reply,  that all makes sense.

I will open up an issue about the single word footnotes.

[2017-03-17 12:35] #85 closed

[2017-03-17 12:35] #25 closed

[2017-03-17 12:54] RobertDober commented on #137
Actually it really does not cost anything to stop the Agent in `as_html` and `as_html!` so I keep this one open for that enhancement.

[2017-03-17 21:41] RobertDober commented on #137
I have allowed plugins to call `Earmark.as_html` and can therefore not shut the message agent down.  Well that tougth me a lot again about state, I thought it was safe to introduce state, but troubles are lurking around every corner when you do so. For now I won't fix it therefore. :cry:

[2017-03-28 04:15] walterbm commented on #126
@RobertDober I would be willing to work on this feature if the project maintainers think adding Tasks Lists is a good idea.

Some pointers on where to begin would be greatly appreciated though.

[2017-03-28 07:21] RobertDober commented on #126
@walterbm It would be a nice feature to have for some applications, however, thinking about Earmark's main job, which is creating exdoc in HTML format, I believe it is not such a great idea.

Firstly, we would break backwards compatibility, and secondly task lists are not used in Elixir code documentation very often ;).

We also strive for some GFM/Common Mark compatibility, although we have table

[2017-03-29 04:54] walterbm commented on #126
@RobertDober sure, I would be glad to help create a plugin for Task Lists.

From looking through the current documentation it seems that plugins require the markdown lines to be prefixed with `$$`. Would it be possible to make a plugin for GFM tasks lists `- [ ]` with no prefix? If so, how could I integrate such a plugin into Earmark's current plugin system?

[2017-03-29 08:23] RobertDober commented on #126
@walterbm Right now that is not possible, because of the simplicity of the plugin feature. I have no problem to make plugin backwards incompatible changes, and have already thought about better syntax. I could imagine the following syntax
[code]
Now your plugin will get the lines between `$$>` and `$$<` passed in and you could e.g. preprocess the task list and then call Earmark.as_html yourself on

[2017-04-10 18:15] notriddle opened #139 "Support CommonMark-style hard line breaks?"
In CommonMark, and the current version of GFM, a hard line break can be made without trailing white space, using a backslash escape:

    Roses are red\
    Violets are blue\
    Rhyming is hard\
    Let's add support for popular Markdown extensions

<http://spec.commonmark.org/0.27/#example-291>

[2017-04-10 20:08] RobertDober commented on #139
Good news I like it, and we should have it.

Bad news I am really lacking time right now.

Anyway thank you for reporting this.

[2017-04-12 05:14] RobertDober commented on #139
@pragdave I have checked this with Babelmark and Github and it was easy to implement the exact behavior in #140 . I implemented this **only** for `gfm: true`. Do you agree with this feature?

[2017-04-12 13:36] notriddle commented on #139
Sure, no problem there!

[2017-04-12 14:02] RobertDober commented on #139
Actually I was asking @pragdave

[2017-04-24 08:35] aspett opened #141 "[Question] What does "Illegal attributes ignored in IAL" mean?"
I'm getting a bunch of errors when running `mix docs` on a project I'm working on:

[code]

But I'm not sure what the cause of this issue is. It seems to be occurring from this package. Any tips appreciated

[2017-04-24 08:36] aspett commented on #141
A sample typespec I think might be related is:

`@spec start_link() :: { :ok, pid }`

[2017-04-24 08:52] RobertDober commented on #141
Thank you for reporting this, however the string that you are suspecting is not per se responsible for this
[code]
If your project is public I'd gladly have a look, are you (is ex_doc) using v1.2 of Earmark?

[2017-04-24 08:58] aspett commented on #141
Hi Robert, thanks for getting back so quick! Sure, the repo is https://github.com/aspett/slackirx_new
A couple of the files appearing in those warnings, here: https://github.com/aspett/slackirx_new/blob/master/apps/relay/lib/relay/location_service/irc/supervisor.ex
and
https://github.com/aspett/slackirx_new/blob/master/apps/relay/lib/relay/dispatch.ex

Yes, I'm using ex_doc 0.14 (with earmark 1.2)

[2017-04-24 09:33] RobertDober commented on #141
Hmm seems like `ex_doc` splits the line here, because
[code]

I am sorry but this will take some time and right now I do not even have a workaround for you.

If I am guessing correctly the noise to stderr is not even your biggest problem `{:ok, pid}` should be missing
from your generated docs.

[2017-04-24 09:44] aspett commented on #141
Interesting! Oddly, I'm not seeing any missing return types so far. I phrased the issue as a question, as I noticed the warnings didn't seem to be having an effect on the general output- so wasn't sure why the warnings were appearing.

No stress, it is not a significant issue right now :). Thank you for looking into it

[2017-04-24 12:36] RobertDober commented on #141
I'll need some time with this, glad that the impact is minor.

[2017-05-03 08:36] andreaazzini commented on #139
News about this feature?

[2017-05-03 08:38] RobertDober commented on #139
I will ping Dave

[2017-05-03 16:04] RobertDober commented on #139
Got the green light from Dave and merged.

[2017-05-03 16:04] #139 closed

[2017-05-13 13:27] sickill opened #143 "Doesn't detect code block right after list"
Hey, I noticed that when I put my indented code block after a list (doesn't matter how many empty lines between them) it doesn't render the code block properly:

[code]

Adding any text between list and code block fixes it:

[code]

[2017-05-13 13:33] sickill commented on #143
As a workaround I tried:

[code]

But it adds extra leading and trailing empty lines to my code snippet.

[2017-05-14 08:06] RobertDober commented on #143
@sickill Thank you for your report, hopefully getting to work on a fix soon.

[2017-05-14 15:29] RobertDober commented on #143
I was a little fast with this one, actually GFM does what you want and that about is it.

The best I could do is to parse the code as suggested by you **iff** the  `gfm: true` option is set.

But it definitely is not a bug.

I believe that the following markdown should be standard an shoudl do what you need:
[code]

[2017-05-14 15:38] RobertDober commented on #143
I was a little fast with this one, actually GFM does what you want and that about is it.

The best I could do is to parse the code as suggested by you **iff** the  `gfm: true` option is set.

But it definitely is not a bug.

I believe that the following markdown should be standard an shoudl do what you need:
[code]

[2017-05-14 17:31] sickill commented on #143
Thanks, this does the trick. Not sure whether the behavior I described is a bug or not, but I'm fine with closing this issue.

[2017-05-15 07:59] RobertDober commented on #143
Glad that helped.

I will leave the issue open, because if the `gfm: true` option is given it might be nice to behave exactly as GFM behaves ;).

Quite happy though that I can treat it low priority.

-----
Some background info in case you are interested:

Most implementations do the same thing as `Earmark`.

As you might know there is no strict _definition_ for markdown, although _commonmark_ trie

[2017-05-19 22:12] russmatney commented on #141
@RobertDober following up - any headway or maybe starting direction/recommendation on a PR for this? Agree the issue is minor, though it's throwing for quite a few warnings for my project.

[2017-05-20 08:28] RobertDober commented on #141
@russmatney I believe that `Earmark` itself cannot do anything about it. It is passed IALs when it should not.
I did not succeed in analyzing ex_doc though.

Whatever detailed information you could provide on this would help a lot.

This is still fantasy but I see the following possible _solutions_, assuming that it is `ex_doc` which passes an incorrect Markdown (but only incorrect in the sense th

[2017-05-25 17:56] pareeohnos opened #145 "Feature idea: Output manipulation"
Apologies if this is something earmark can already do, or there is a way around it but I couldn't find anything on it.

I'm woking on an application that is using earmark, and I want to be able to add links to a page that are anchors to the headers produced by earmark. As far as I can tell, as of right now I would basically need to produce the HTML, and then edit the result manually which is fine

[2017-05-27 10:37] RobertDober commented on #145
Do I understand correctly that what you eventually want is this?

[code]

[code]

I like the 💡 👍

IIUC you would like to achieve this with _Renderer_ _Plugins_ instead of a fixed option?

[2017-05-27 10:57] RobertDober commented on #141
Just found some time to try to reproduce this with the latest ex_doc version 0.16.1.

Seems the good folx at ex_doc have solved this already 👍 .

Can we close this issue?

[2017-05-27 15:16] pragdave commented on #145
Can't you do this with an inline ial?

On Sat, May 27, 2017 at 5:37 AM, Robert Dober <notifications@github.com>
wrote:

[2017-05-27 17:29] pareeohnos commented on #145
@RobertDober Yeah that's exactly it. Some way I could add a plugin which would simply let you manipulate the already generated html (or a pre HTML structure). I guess it could provide two options. One whereby headers are automatically given an id that is auto-generated based on its content which would cover my requirement personally, and a second that provides a more comprehensive way of manipulat

[2017-05-27 23:36] russmatney commented on #141
@RobertDober Yes, it can be closed. On further investigation, looks like the warning was correct after all, as some my docstrings were indeed formatted incorrectly. Fixed that and now it runs clean. Thanks for taking a look!

[2017-05-28 00:01] aspett commented on #141
I just updated `ex_doc` to `0.16.1` in my application and ran `mix docs` again, but still get these warnings.

[2017-05-28 00:02] aspett commented on #141
@russmatney Do you have an example of the incorrect formatting?

[2017-05-28 07:01] RobertDober commented on #145
@pareeohnos I think it might be nice to have something like that. I was studying the code (bad memory) and
it might be nice to add something like `Earmark.as_tree(..., %Options{})` as some transformation of the internal block structure. There are many possible variations about the degree of output format agnosticism, it is such a pitty, IIANM, that there is no standardized (or even close) Markdown

[2017-05-28 09:14] RobertDober commented on #141
@aspett Are we still talking about slackirx_new, I tried to update to ex_doc 0.16.1 but that was not a success
[code]

[2017-05-28 09:32] RobertDober commented on #141
@aspett However I found a workaround for you, just add whitespace inside the accolades `@spec start_link() :: { :ok, pid }`

It is definitely not an Earmark bug though, please report it to ex_doc.

[2017-05-28 09:32] #141 closed

[2017-05-28 16:53] russmatney commented on #141
@RobertDober the docs error you're seeing (re: `:version key`) [has been reverted](https://github.com/elixir-lang/ex_doc/commit/69be41bb0b0d54819bf2452fc44e54d9b9e95e54) on master, and is likely unrelated.

@aspett the invalid doc string was an exposed tuple: `{}`. The diff for fixing it read as follows:

[code]

At this point I believe the original warnings I saw were working correctly, and I mis

[2017-05-28 17:19] pareeohnos commented on #145
Ah that might be a better approach! I'm currently parsing the resulting HTML to determine the headers that are there, but if given an AST type structure before the HTML then I can manipulate the headers to add id's, AND get a list of those headers in one go, that would be much better!

I wouldn't expect a very quick turn around don't worry :) would be happy to help out with this as well. Could alw

[2017-05-31 06:49] RobertDober commented on #145
I have created a new branch `as-ast-implementation` that shall serve to try to implement this.

I have generated, _failing_, tests in `test/ast` that are generated from the acceptance tests (with Floki, hence the somehow strange attribute syntax but we can easily convert to `Keyword` later.

@pareeohnos if you want to participate in this, PRs vs. this branch would be very welcome of course.

[2017-05-31 07:00] pareeohnos commented on #145
@RobertDober awesome thanks, I'll take a look and start trying to integrate it with my project :)

[2017-05-31 07:18] RobertDober commented on #145
@pareeohnos not sure I was clear enough, there is **only** the spec right now.

[2017-05-31 08:07] pareeohnos commented on #145
@RobertDober yeah I got that don't worry. Sorry I meant more I'll change my dependency, and start filling in the holes as I go :) too tired to speak clearly at the moment 😄

[2017-06-06 06:48] qcam opened #147 "`Earmark.Global.Messages` not started"
My application uses Earmark in compile time and some times I get this error.

[code]

Have anyone encountered this before? Perhaps we need a way to supervise the agent?

[2017-06-07 05:43] RobertDober commented on #147
Thank you for reporting this. Unfortunately I am only an OTP beginner, but the decision to use an agent for error messages has been taken because failure is acceptable (within certain limits of course).

My questions to you are: Is the occasional failure a nuisance and shouldn't the use of the error agent go away, once the transformed markdown is correct?

[2017-06-07 08:04] ericmj commented on #147
The problem seems to be that earmark doesn't support being called from multiple processes concurrently. If you need to use a global, named agent I would suggest starting it in the application supervisor and storing error messages for each process instead of breaking when the agent is used from two processes concurrently.

[2017-06-07 08:24] qcam commented on #147
@RobertDober @ericmj Thanks for your support.

Personally it's a yes for me, how I occasionally got this error was calling `Earmark.as_html/1` from multiple processes in compile time (I was not trying to access the agent manually).

I totally agree that failure should not fail the parsing, but in this case the error was from `GenServer` because when the agent was not found (when `Earmark_as_html()

[2017-06-07 12:13] RobertDober commented on #147
@qcam I was not aware of this restriction, and if you can go back to 1.1 (or even 1.1.x) please do so.
But I will try to follow @ericmj 's advice (thanx for your ongoing support when my ignorance strikes BTW).

Well even in great programming languages like Elixir/Erlang, Clojure and Haskell, state is still an additional hassle. But I will definitely fix it, maybe getting pure again, not sure yet.

[2017-06-23 21:40] pareeohnos commented on #145
@RobertDober just had a thought after looking through the code. Since the `Earmark.parse/2` function is already exposed, would it be easier to simply create an alternative implementation of `to_html` that accepts the block structure and context rather than a string?

Obviously this isn't strictly an AST, however for the AST to be useful, it would need to also have an input that accepts the AST ins

[2017-06-24 13:15] RobertDober commented on #145
Interesting thoughts

of course exposing an AST is not much more than _fixing_ the internal representation. However I do feel very uneasy about the _low_ access point. This shows in the fact that your code is really inside Earmark. I find it much more conforting to expose a much more Renderer, in our case HTML, related AST where all the conversion has been done.

Then again Earmark should expose m

[2017-06-24 15:01] pareeohnos commented on #145
Yeah I'm not keen on the idea of using the internal block structure, as that would leave my code fragile to any changes in that structure, whereas a public AST structure would make that substantially safer.

I made a start by effectively replicating the `HtmlRenderer` module but producing the AST structure instead which should work, it just needs something to reverse the transformation later. Do y

[2017-06-25 18:44] #147 closed

[2017-06-25 19:16] RobertDober commented on #145
I was rewriting lots of code this WE to fix #147. It stroke me that rendering an HTML AST really would not be much more work than rendering to text.

If I can do this, BTW sorry if you worked on the Renderer recently the upstream  just changed substantially and it is not over yet.

Once it is I really like the idea of rendering to a HTML Datastructure like Floki's and then transforming that to tex

[2017-06-25 20:37] pareeohnos commented on #145
That would be perfect, exactly the sort of thing I've been looking at implementing.
Is the `Earmark.Interface.html` replacing `Earmark.to_html` then?

[2017-06-26 06:40] RobertDober commented on #145
I suppose you mean `as_html`, but no.

However if now it invokes `HtmlRenderer.render` eventually it would be the code above with `do_something` being a NOP.

[2017-06-26 08:02] pareeohnos commented on #145
ah sorry, `as_html` is what I meant.
ok so I'll wait until you're done with all the changes before carrying on with things. No point doing any more if the code is changing massively. Any ETA on when the changes would be ready?

[2017-06-26 08:42] RobertDober commented on #145
Unfortunately no, however what you could do, if you want, is to duplicate `test/acceptance` into
`test/ast_acceptance`(or so) and rewrite all acceptance tests by changing the calls to `Earmark.as_html` to `Earmark.Interface.html`(easy)  and the expected string to an AST (hard).

I guess using Floki to automate the task is a good idea.

Once that in place I might have simplified `HtmlRenderer` a li

[2017-06-26 10:58] qcam commented on #147
@RobertDober Thanks for the fix :heart:

[2017-06-26 11:55] RobertDober commented on #147
@qcam can you live with the github version, or do you want @pragdave to make a release?

[2017-06-26 14:54] qcam commented on #147
@RobertDober thanks. I think I'm good with 1.1.x so you can release whenever you wish. :)

[2017-06-26 15:34] RobertDober commented on #147
We appreciate that.

[2017-06-27 07:38] pareeohnos commented on #145
Isn't that what you've already done on the as-ast-implementation branch? All the tests already in `test/ast` are the same as those in `test/acceptance`? The only difference being that they currently call `Earmark.as_ast` and not `Earmark.Interface.html` so I can change those easily enough.

[2017-06-27 08:49] RobertDober commented on #145
OMG senility lurks only two blocks away from here....
If you might change these, that would be great.

[2017-06-27 17:12] pareeohnos commented on #145
ok, all AST acceptance tests have been updated on my fork :)

[2017-06-27 17:24] RobertDober commented on #145
Great. Whenever you want I will merge PRs against the as-ast-implementation branch.

Is there a way to give commit rights for branches only? That would make our life easier.

[2017-06-27 17:57] pareeohnos commented on #145
Great, will setup a PR now.
I don't think you can grant access to a single branch, but you can do the opposite I think. You can protect branches, and only allow certain collaborators to make changes and it prevents some other stuff https://help.github.com/articles/about-protected-branches/

[2017-06-28 16:36] RobertDober commented on #145
Very interesting indeed. In our case that would not work, because @pragdave is the admin and if we protect master and maybe a couple of other branches even I could not push to them anymore 😢 .

So I will be greatfull for PRs. Actually pulling in changes from origin or from upstream if you name this repro in that way does not make much difference I guess.

[2017-06-28 17:56] RobertDober opened #150 "Html Renderer error message collection not working for parallel processing"

[2017-06-28 19:16] #150 closed

[2017-06-29 08:23] pareeohnos commented on #145
ah yeah if it's a personal repo then you don't seem to have control. Organisation repo's let you protect it, and then whitelist users. But yeah, PRs work just fine I think :)

Anything else that needs doing now?

[2017-06-29 08:31] RobertDober commented on #145
@pareeohnos I was starting to sketch out the code, would you be interested in going on from here? If so I leave it alone, if not I will progress but very slowly I guess.

[2017-06-29 10:54] pareeohnos commented on #145
Yeah would be happy to work on this. Have you got a high level overview of what you had in mind and I can try and implement it in that way? Don't wanna go and write it in a completely different way to what you had planned

[2017-06-29 12:07] RobertDober commented on #145
The basic idea is to mimic what `HtmlRenderer.render` does it is quite complicated with inline rendering. I was thinking a lot about simplifying but could not really wrap my head around it.

I am still dreaming of a v2 in which all lines are tokenized, but that is beyond the scope of this as we shall definitely start by modifiying the blocks as delivered by the parser in *this* version.

I appreci

[2017-06-29 13:13] pareeohnos commented on #145
sounds good, that's pretty much what I'd started doing initially. Do you think this should be something that is configurable in the same way the renderer can be set in the Config struct, or just keep it as something internal?

ha yeah definitely something for V2 :P

I'll have another run through the code and try and get my head around things then get stuck in :)

[2017-06-29 13:30] RobertDober commented on #145
If you want to advance as fast as possible you probably should stick with that.

OTOH If you want to write plain defs for each renderer and just call them that would be
replacing `context.options.renderer.link` by e.g. `Earmark.Renderer.Html.render_link` (of course importing it, but just to remind myself of the module layout) it is something I was thinking about for quite some time.

That said Dav

[2017-06-29 17:53] pareeohnos commented on #145
I'll stick with that for now, could always refactor later if we feel it needs changing or if Dave doesn't like it :)

[2017-07-06 07:27] pareeohnos commented on #145
hmm taking a bit longer than I'd hoped. Got the bulk of it done, but the `inline` module assumes (understandably) that the result of the renderer is HTML, and as such has a bunch of code that manipulates that HTML which breaks the AST implementation so have to get around that

[2017-07-06 08:56] RobertDober commented on #145
Yeah the recursive depth and width of the code base is complciated to handle.
But I am afraid we are dealing with domain induced complexity.
Even Dave's original code was quite complex and I added by introducing _pure error handling_ and some features...

Not sure I will have much time but I'd gladly look at your code...

[2017-07-06 08:59] pareeohnos commented on #145
It's not so much the complexity of it but rather the assumptions it makes (or rather, the assumptions I made). I had assumed that the HTMLRenderer module was the only thing responsible for rendering HTML, which is mostly true, however the Inline module seems to do a little of this as well, and because of it assuming that the renderer will always be returning HTML and not anything else, it is break

[2017-07-07 07:12] GildedHonour opened #152 "Doesn't parse everything"
Some tags are parsed correctly, some aren't:

![screenshot_2017-07-07_15-11-30](https://user-images.githubusercontent.com/2032888/27947070-fd6bb190-6326-11e7-88e1-6cbe4361f473.png)

I'm using it as    ` <%= raw(Earmark.to_html(@article.body)) %>`

[2017-07-07 10:05] RobertDober commented on #152
Thanx for your report, however I do not see the input causing the trouble. Can you provide the markdown file and indicate the error in the HTLM.

Also which version of Earmark to you use? Seems it is outdated by the usage of `to_html`

[2017-07-08 02:26] GildedHonour commented on #152
what's the markdown file? where is that mentioned in the documentation?
there's no error in HTML as you can see.

I've updagrated it to 1.2 and am using as_html!, but there's no change.

[2017-07-08 02:30] GildedHonour commented on #152
also

[code]

hasn't  setting the main module become obsolete in Elixir applications?

[2017-07-08 08:45] RobertDober commented on #152
I have no clue what problem you are talking about?
What do you want to set up?
What do you want to change in the current behavior of what application?
In which context do you run your `mix escript.build`.

May I suggest to ask on the [Elixir Forum](https://elixirforum.com/), I am no expert on Phoenix or setting up Elixir applications.

I would also suggest to give a pointer to your application.

[2017-07-08 09:54] GildedHonour commented on #152
why haven't "quote" and "header" been replaced with html?

[2017-07-08 11:40] RobertDober commented on #152
Please refer yourself to the resources I gave to you.

[2017-07-08 11:40] #152 closed

[2017-07-08 12:32] GildedHonour opened #153 "Doesn't parse everything - 2"
Some tags are parsed correctly, some aren't:

![screenshot_2017-07-07_15-11-30](https://user-images.githubusercontent.com/2032888/27947070-fd6bb190-6326-11e7-88e1-6cbe4361f473.png)

I'm using it as    ` <%= raw(Earmark.to_html(@article.body)) %>`

[2017-07-08 20:04] pragdave commented on #153
This isn't Markdown input. To get the same effect in Markdown you'd use something like

[code]

Regards

Dave Thomas

[2017-07-08 20:04] #153 closed

[2017-07-09 00:39] GildedHonour commented on #153
@pragdave that's what that is, it's just show with quotes in chrome debugger, in chrome->page->view source there're no quotes.

[2017-07-09 00:51] pragdave commented on #153
@article.body doesn't appear to be valid markdown.  It seems to have HTML
in it.

On Jul 8, 2017 19:39, "Alex Maslakov" <notifications@github.com> wrote:

[2017-07-09 01:08] GildedHonour commented on #153
thanks.

[2017-07-09 10:12] RobertDober commented on #153
Again my apologies for my terrible communication skills...

I just do not get it :(.

Take care

Robert

--
Non datemi consigli che so sbagliare da solo
(Giuseppe Di Stefano)

On Sun, Jul 9, 2017 at 3:08 AM, Alex Maslakov <notifications@github.com>
wrote:

[2017-07-18 01:52] semanticart opened #154 "Unclosed backquotes issue for text `\`"
I've pushed a failing test to [a branch](https://github.com/semanticart/earmark/commit/a5a92793e453987baedef24f7b43415509428138). That might be a poor choice of test in a poor choice of place but it will at least illustrate the issue.

I encountered this while parsing a blog post that wanted to draw special attention to the backslash character: `\`. With the simplified input

<pre>
`\`

[code]
</p

[2017-07-18 03:08] RobertDober commented on #154
Thank you for the report. Any additional help would be a PR, right now I have no idea if it is simple but I am afraid that rather not...

Worst, AFAIK, there is no workaround, meaning I did not find any input creating the output you desired, which is something like that, I guess:

[code]

[2017-07-18 11:51] semanticart commented on #154
Thanks for taking a look.

I _can_ confirm that the output you show above is more-or-less what I expect for this simplified example.

I've been able to work around this problem on my end in the meantime by replacing the `\` with `<code class="inline">\</code>`

[2017-07-22 16:11] pareeohnos commented on #145
Question in regards to the expected output. In some of the tests, the expected result has all HTML converted to AST, even if it was in raw HTML to start with. However, in one of the tests (`footnotes_test`) the result it is expecting contains the raw `&nbsp;` value. Is this correct? Given that the AST should contain unconverted HTML, I'm not sure if this is correct?

I've added Floki to the deps t

[2017-07-25 19:34] RobertDober commented on #145
Sorry for the delay, quite busy now, i'll take a look at this anomaly to eradicate it if necessary.
However my first prio right now is to check if we are green with Elixir 1.5.

[2017-07-25 21:37] pareeohnos commented on #145
no problem :) yeah that's fine, I've mostly sorted it now. Down to 6 failing tests :)

[2017-07-26 04:37] RobertDober commented on #145
Well, naïvely, I would expect the AST to have legal HTML nodes. That implies of course that the text is escaped **before** creating the AST.

But IIRC we do not provide an AST --> HTML converter for now, all we will be doing is to expose the AST in a way that makes it easy to convert it to text, or did you plan to include such a converter in your PR?

Unless the latter is the case I strongly advoc

[2017-07-26 08:11] pareeohnos commented on #145
Yeah that was my thought, and that's what I went with. All entities are being esaped, all normal HTML is being left as is, and then parsed into AST using Floki.

I was going to give 2 PR's I think. The first being the generation of the AST, and the second being one that converts that to HTML.

[2017-07-26 09:22] RobertDober commented on #154
I am afraid we have to pass on CommonMark compliance here. Unless introducing backward incompatibilities - and quite a bit of work - we shall not remove the escaping function of `\` before `\`` (let's see how Github renders these ;)).

However we definitely need to render `\`\\\\\`` accordingly.

[2017-08-02 17:39] tmbb opened #155 "External code renderers"
I have an external `render_code` function I want to hook to earmark. The problam is that earmark seems to assume that code will be served in plaintext and highlighted by javascript. My function highlights code with HTML and CSS. That y itself is not a problem. The problem is that you enforce these delimiters:

[code]

I want to have a common code class, independent of the language, say, `"highligh

[2017-08-02 20:04] RobertDober commented on #155
Thanx for your report.

Right now, all you can do is this

    iex(3)> x="""
    ...(3)> ```
    ...(3)>    def a
    ...(3)> ```
    ...(3)> {:class=highlight}
    ...(3)> """
     "```\n   def a\n```\n{:class=highlight}\n"
     iex(4)> Earmark.as_html(x)
     {:ok, "<pre class=\"highlight\"><code class=\"\">   def a</code></pre>\n", []}

Not _exactly what you want but maybe you cannot.

However

[2017-08-02 20:21] tmbb commented on #155
Hm... #145 is something else entirely. You have (wisely) provided an extension point for earmark with the `render_code` function. I just think you've made a design mistake by making too many assumptionson how the code is meant to be rendered. You hardcode the pre tag and the classes. IMO it makes more sense to have that part generated by the `render_code` function. I can already produce exactly th

[2017-08-03 08:21] RobertDober commented on #155
The useless tag, could it not be removed in #145? However I will keep this open unless #145 is implemented then we will see clearer.

I need to stay very superficial right now in my analysis, lack of time. :sob:

[2017-08-07 08:25] GildedHonour opened #156 "How to extend it, does it support extentions -- pre/post-process markdown on save/edit/show?"
Say, I don't want to store a full url of an image in database because all the images will be with a common prefix such "https://example.com/images/articles". And thus I want to cut off that prefix when I'm adding/editing an article with an image and also dynamically add that prefix when I'm showing that article. In other words, I want to pre- and post-process markdown. It may not be only "img" but

[2017-08-07 08:37] RobertDober commented on #156
Short answer: No. Earmark is a Markdown converter, and AFAIK that is nothing Markdown is designed to do.

But asI completely understand the itch you want to scratch I want to give a long answer too :wink:

 I believe that the general way to do this is by implementing post processors.

Again, AFAIK there is no standardized AST representation of a Markdown document and I am very excited about exposi

[2017-08-10 09:05] #156 closed

[2017-08-10 09:05] #155 closed

[2017-08-13 04:13] #154 closed

[2017-08-13 04:15] RobertDober commented on #154
Actually I missed a level of escaping in IEx. There was no bug.

Please have a look to the regression test for details. https://github.com/pragdave/earmark/blob/master/test/regressions/i154_escape_single_backslash_insided_inline_code_test.exs

[2017-08-15 15:57] mfergu opened #157 "Is there a way to use an older version of :earmark? I'm not looking to possibly break my VM just to run it with ex_doc"
/Documents/udemy/elixir/cards$ mix deps.update earmark
Running dependency resolution...
Dependency resolution completed:
  earmark 1.2.3
  ex_doc 0.16.2

/Documents/udemy/elixir/cards$ lsb_release -c
Codename:	vivid

/Documents/udemy/elixir/cards$ mix docs==> earmark
warning: the dependency :earmark requires Elixir "~> 1.4" but you are running on v1.2.3
Compiled lib/earmark/helpers.ex
Compiled lib

[2017-08-15 19:32] RobertDober commented on #157
I guess that your Earmark version results from the ex_doc dependenc, if that is untrue please post your mix.exs.

If it is true try to downgrade ex_doc until you find a compatible Earmark version which should be 1.1.1.

You can also force Earmark to 1.1.1 in your mix.exs and see what happens.

It might be difficult to find support for such an old Elixir version, any particular reason you cannot up

[2017-08-23 00:23] #157 closed

[2017-09-14 09:36] shisongsong commented on #89
I got the same problem,  how about now?
How to make it work

[2017-09-14 09:42] RobertDober commented on #89
Actually the behavior now is what we want
[code]
maybe just upgrade?

[2017-09-14 11:21] shisongsong opened #158 "how to recognize pure link string?"
I found that link strings can not be recognized with Earmark.as_html!(), did I miss something?

The given content is:
\* http:\/\/stackoverflow.com/questions/32481035/how-to-provide-correct-hostname-in-gitlab-confirmation-email\r\n

I hope it shows this:
*  http://stackoverflow.com/questions/32481035/how-to-provide-correct-hostname-in-gitlab-confirmation-email

But it displays without link highlig

[2017-09-14 12:21] RobertDober commented on #158
Hmm I am not sure what input are you refering to? The source of the SO question you referenced above.
I suggest you paste the markdown which causes you trouble and tell us the html you would like to see generated for it.

[2017-09-15 01:37] ericmj commented on #158
I think the problem is that pure links in markdown i.e. `http://exapmple.com/foo/bar` does not render as a `<a>` link. It's unclear to me if markdown supports this but github does in its markdown rendering.

[2017-09-15 01:38] ericmj commented on #158
Given the markdown: `http://example.com/foo/bar`.

Should produce: `<a href="http://example.com/foo/bar">http://example.com/foo/bar</a>`.

If you want to support this feature.

[2017-09-15 02:14] shisongsong commented on #158
@ericmj Yes, thank you very much, that's what I want, but when I use the `Earmark.as_html!`, it doesn't produce   `<a href="http://example.com/foo/bar">http://example.com/foo/bar</a>`, it will produce just `http://example.com/foo/bar` @RobertDober

[2017-09-15 07:13] RobertDober commented on #158
Ah pure links, thank you @ericmj for getting me into the context.

I am not against it, I guess it would be a valuable feature.

[2017-09-15 07:55] shisongsong commented on #158
Okay, now you understand what I mean, thanks anyway, both of you are so nice people. @RobertDober @ericmj

[2017-09-21 10:01] balexand opened #159 "Block level HTML containing newline messes up formatting"
This test reproduces the problem:

[code]

[code]

This seems to happen with any block level element:

[code]

[code]

As a workaround, the markdown can be formatted differently:

[code]

I've compared this behavior to [Kramdown](https://kramdown.gettalong.org), [Redcarpet](https://github.com/vmg/redcarpet), and [Maruku](https://github.com/bhollis/maruku). Those libraries all render this markdown

[2017-09-25 06:18] RobertDober commented on #159
@balexand Thank you for reporting this, hopefully finding some time soon ...

[2017-09-25 06:29] #143 closed

[2017-09-25 06:29] #137 closed

[2017-09-26 17:11] RobertDober commented on #159
@balexand I just realised during writing the test cases that you _forgot_ to put the closing blocklevel tag on its own line.
I reckon that the doc only explains that for **nested block elements** but actually that is true for all blocklevel tags. I will update the docs accordingly.

[2017-10-11 08:00] LostKobrakai commented on #126
It would be nice if the readme would at least mention that gfm is only partially supported. Currently I'd expect it to enable all the gfm extentions.

[2017-10-11 09:09] RobertDober commented on #126
@LostKobrakai sorry you were misslead, I'll have a look at that. Gfm is a fast moving target so I guess we should definitely clarify.

[2017-10-11 09:12] RobertDober opened #161 "Be clear in README which parts of GFM are supported."
as mentioned in  https://github.com/pragdave/earmark/issues/126#issuecomment-335722014 users might expect a more complete implementation of GFM features.

GFM will probably evolve so mentioning the exact features implemented is a good idea.

[2017-11-26 21:15] RobertDober opened #166 "Check if `Earmark.Context.clear/1` behaves properly"
Quoting @asummers from PR #165

While doing so, I noticed Earmark.Context.clear/1 was not piping the context through to put_in/3 so it was losing the clearing of value. Not sure what bugs that caused for others, but I'm not sure that has worked properly.

[2017-11-26 21:17] RobertDober opened #167 "Fix hex badge in README"

[2017-11-27 17:03] #166 closed

[2017-11-27 17:04] RobertDober commented on #166
Fixed in #165

[2017-11-30 07:44] RobertDober commented on #167
fixed by https://github.com/badges/shields/issues/1285#issuecomment-347990969
reactivated badges in README

[2017-11-30 07:44] #167 closed

[2017-12-01 09:41] christhekeele opened #168 "Underline-style h2 after list interpreted as hr"
The `---` form for h2 headers are treated as horizontal rules when immediately following a list.

For example:

[code]

correctly becomes:

[code]

However:

[code]

incorrectly becomes:

[code]

[2017-12-01 10:01] christhekeele commented on #168
It looks like even this suffers from it:

[code]

[2017-12-02 07:37] RobertDober commented on #168
@christhekeele thank you for your report, both cases are clear bugs, however it seems that your second example is fixed in 1.2.4, but, alas, not the first case.

[2017-12-02 17:22] #168 closed

[2017-12-03 11:08] RobertDober opened #171 "Fix typespecs"

[2017-12-13 09:12] christhekeele commented on #168
💟

[2017-12-21 14:34] sebastiandedeyne commented on #171
Dialyzer is giving me a "The created fun has no local return" where I'm calling `Earmark.as_hmtl`, is this related to that error? If yes, is there anything I can do in the mean time to silence it?

[2017-12-21 15:22] RobertDober commented on #171
https://github.com/pragdave/earmark/tree/dialyzer, waaaay to go, but not forgotten.

You can adapt your own `mix.exs`to something like that
https://github.com/pragdave/earmark/blob/dialyzer/mix.exs#L34 but then you need to copy all messages to be ignored into the file in question.

There might be a better way I am not aware of.

[2017-12-21 17:02] sebastiandedeyne commented on #171
Didn't know about that option, that'll do it for now, thanks!

[2018-01-04 06:39] RobertDober opened #172 "Development Environment replace `:file.explain_error`"
# DOES NOT CONCERN RELEASES

only in dev env in case README.md cannot be written, e.g.

[code]

[2018-01-04 06:55] #172 closed

[2018-01-13 04:37] Schultzer opened #173 "set class attributes on paragraf tag.?"
Is there any convenient way to prefix all paragraph tag  class attributes

## Example
[code]

[2018-01-13 21:28] RobertDober commented on #173
No, there is not, and this is not part of any Markdown extension I am aware of.

I cannot imagine that Earmark will support that kind of _postprocessing_.

Talking about _postprocessing_, this idea #145 might be of interest for you.

[2018-01-13 21:28] #173 closed

[2018-03-06 12:56] Crissov opened #176 "Commonmark conformance"
The README claims only support for Gruber’s original Markdown and documents extensions and implementation choices from the, but GFM compatibility is clearly intended as well. Since GitHub switched to a [Commonmark compliant parser](https://GitHub.com/commonmark/cmark) in 2017, could you please document how Earmark differs from the CM spec (even if it is still not quite at v1.0 yet)?

[2018-03-06 19:30] RobertDober commented on #176
absolutely, please see #161

Allow me to close this as it is a doubleton I believe.

[2018-03-06 19:30] #176 closed

[2018-03-06 19:46] Crissov commented on #176
Sure, I only searched for _commonmark_, which is not mentioned in that issue, but I agree that it is a duplicate. Thanks.

[2018-03-06 19:47] RobertDober commented on #176
No problem feel free to add your thoughts/wishes to #161

[2018-03-06 19:48] Crissov commented on #161
As mentioned in #176, this effectively means also documenting the differences from Commonmark because GFM now builds upon that.

[2018-03-08 21:20] pragdave commented on #161
This looks good to me.

A thought: if the moduledoc for earmark.ex is just the README, we could replace it with

[code]

so there'd only be one place to change it.

DRY, you know... :)

[2018-03-08 21:32] RobertDober commented on #161
It is supposed to work the other way, README.md contains docstrings so to reflect the hexdocs.

[2018-03-08 22:40] pragdave commented on #161
But the readme has to be static. The hexdocs are dynamic

On Mar 8, 2018 15:32, "Robert Dober" <notifications@github.com> wrote:

[2018-03-09 05:17] RobertDober commented on #161
I am confused Dave.

The mix task readme imports selected docstrings into the README.md. I always was under the impression that your goal was to have a README that will be synchronized with the docs at hex.pm.

I took this even as an inspiration to write this https://github.com/RobertDober/read_doc :blush:

Surely we could read the README.md into the moduledoc of  earmark.ex, why not we could lose

[2018-03-09 13:40] pragdave commented on #161
You are right, of course. I'd forgotten about the mix task.

I really am sorry to have wasted your time.

On Mar 8, 2018 23:17, "Robert Dober" <notifications@github.com> wrote:

[2018-03-09 13:50] RobertDober commented on #161
No need to be.

--
Non datemi consigli che so sbagliare da solo
(Giuseppe Di Stefano)

On Fri, Mar 9, 2018 at 2:41 PM, Dave Thoms <notifications@github.com> wrote:

[2018-03-09 15:37] #161 closed

[2018-03-22 08:27] RobertDober opened #179 "Explain README generation to avoid changes inside README in PRs"
Quite some PRs correct errors or improve parts of the README that are overwritten from docstrings during the build.

Add a **Contributing** section (to the static part ;)) of the README to explain where to change these parts.

[2018-03-23 10:21] #179 closed

[2018-03-23 10:25] RobertDober opened #181 "Remove typespecs for the 1.2.5 release (master)."
As typespecs will not be fixed in 1.2.5 yet let us remove all `@specs` from master to avoid troubles for our users - they are of course kept in feature branch #171

[2018-03-23 18:59] #181 closed

[2018-03-24 06:23] RobertDober opened #184 "README generation task `readme` is broken."
Seems the info about the `moduledoc` inside README created another moduledoc

I'll try to fix and enhance the `readme` task, this has no impact on the release.

[2018-03-24 06:24] RobertDober opened #185 "README generation task `readme` is broken. **No Impact On Releases**"
Seems the info about the `moduledoc` inside README created another moduledoc

I'll try to fix and enhance the `readme` task, this has no impact on the release.

[2018-03-25 17:11] pragdave commented on #185
I've (finally) got hex.pm access. When I release, I get

[code]

Any ideas?

On Sat, Mar 24, 2018 at 6:24 AM, Robert Dober <notifications@github.com>
wrote:

[2018-03-26 06:50] RobertDober commented on #185
Hi Dave

just come back from the weekend, I'll have a look at this A.S.A.P.

I do not think this is related to this bug which _just_ corrupts the README, but we will see.

[2018-03-26 08:57] RobertDober commented on #185
Strange I could not reproduce the error with `mix hex.build` (Elixir 1.6.4/ OTP 20.3)

Here is the built .tar, in case it is of any help for you

[earmark-1.2.5.tar.zip](https://github.com/pragdave/earmark/files/1847085/earmark-1.2.5.tar.zip)

[2018-03-28 14:23] RobertDober commented on #185
@pragdave anything else I can do?

[2018-03-28 23:10] pragdave commented on #185
hex.build doesn't produce the docs.

The problem is in a typespec somewhere, but the error is not particularly
helpful.

On Wed, Mar 28, 2018 at 3:23 PM, Robert Dober <notifications@github.com>
wrote:

[2018-03-29 06:21] RobertDober commented on #185
oh sorry I see, now I need to get rid of asdf to be able to reproduce the error (as asdf does not put the escipts into `$HOME/.mix` this will take some time, but I am on it...

[2018-03-29 17:56] RobertDober commented on #185
@pragdave seems I got down to it.

The kind folks of ex_doc are already working on the bugfix and I have identified ex_doc version `0.18.1` to be working

May I suggest the following procedure

* clone ex_doc
* `git checkout v0.18.3`
* `mix escript.build`
And now inside Elixir with a small modification that I pushed to master (needed for ASDF)
* `EX_DOC_ESCRIPT=full-path-to-buit-ex-doc mix hex.pub

[2018-03-30 06:32] RobertDober commented on #185
@pragdave ex_doc fixed in master no need to do anything special anymore

[2018-04-03 08:47] #185 closed

[2018-04-03 08:50] #184 closed

[2018-05-16 22:37] ConnorRigby opened #187 "hexdocs not found"
https://hexdocs.pm/earmark/1.2.5/Earmark.html Points to a 404.

[2018-05-25 09:00] RobertDober commented on #187
Thank you for the report and sorry for the late reply. Offline Vacations !!!

@pragdave I admit I did not check the docs link after the last release, is this an error from our side?

[2018-05-25 19:29] pragdave commented on #187
I don't remember any error when we released it.

Should we push a point release?

On Fri, May 25, 2018 at 4:00 AM Robert Dober <notifications@github.com>
wrote:

[2018-05-25 20:17] ericmj commented on #187
You can try building the docs locally with `mix docs`, you can also reupload only docs without cutting a new release by running `mix hex.publish docs`,

[2018-05-26 13:55] RobertDober commented on #187
@pragdave I got it working again locally by updating my env (skipped to 1.6.5 and installed ex_doc as an escript from master)

[code]

Can you please adapt this to your env and push the hex docs?

Thanks

I also guess our procedure is somehow hazardous, can we count on `ex_doc`
master to work correctly, probably I should have taken the commit with the version tag of the latest released version, la

[2018-05-28 16:56] RobertDober commented on #187
@pragdave sorry for pushing, but it is my understanding that this 404 is a little bit disturbing. Is there anything else I can do by myself

[2018-06-06 17:22] #187 closed

[2018-06-06 17:22] #159 closed

[2018-07-12 14:40] claytongentry opened #188 "Passing context to inline renderers"
Hi guys,

Love earmark!

I have a use case where having access to context in the inline renderer functions makes my life much easier. In this case, I'm using context to pass my own additional options into the renderer.

[code]

Then in my ~link/3~ link/4 function, I'm essentially doing
[code]

Wondering how this strikes you, and if others would find this useful. I've gone ahead and branched my for

[2018-07-12 15:56] RobertDober commented on #188
I am afraid, it is who needs guidance. ;)

If I understand correctly your PR makes *only* sense if you plug a different `HtlmRenderer` into `%Earmark.Options{}` correct?

So we would assume a new contract for `HtmlRenderer` so to allow to plug a different one, and that implicitly and without doc.

But if I interpret your message correctly you would like to pass context into all public renderer fun

[2018-07-13 09:10] pareeohnos commented on #145
So REALLY long time of silence (sorry!) and I'm having another look at this. I actually got about 95% implemented but had an issue where a couple of tests were always failing, because the changes I was making would always be wrong for either HTML or AST and I never found a nice solution.

Having briefly thought about this, I think a slightly larger refactor might be needed for this to work without

[2018-07-13 14:16] claytongentry commented on #188
@RobertDober I very much like the direction of the discussion in #145, and on further consideration I think transforming an AST is a more elegant solution than abusing context or the inline renderer APIs.

Will close this in favor of the changes proposed in #145.

Thanks!

[2018-07-13 14:16] #188 closed

[2018-07-13 16:18] RobertDober commented on #145
Sounds all quite reasonable to me, it does not really matter that 99% of the renderes will be rendering HTML, what I really like is to expose the AST so that custom renderes can be easily written and modified too.

Just recently @claytongentry exposed a way to close dependency between the built in `HtmlRenderer` and the code it uses, e.g. `Earmark.Inline`.  In order to remove this connascence an e

[2018-07-14 10:28] pareeohnos commented on #145
I’ll setup a PR shortly. Although if the main goal initially is to expose an AST then it might be more straight forward to instead expose the internal parsed structure. Whilst it’s not strictly an AST it does describe the structure that needs to be output and could be used in exactly the same was as an AST and would also remove the need for a step to turn this structure into AST. Any parser could

[2018-07-19 23:02] kipcole9 opened #190 "Don't include generated src/*.erl in the package()"
`leex` and `yecc` generate files that have a reference to an Erlang version specific `.hrl` file.  Therefore when moving to Erlang/OTP 21 there is an Erlang compiler warning in `earmark` since the included `.erl` was generated on an earlier version.

If the *.erl files are not included in the `package()` definition in `mix.exs` then they will be generated on the current Erlang version without erro

[2018-07-20 06:36] RobertDober commented on #190
I'd appreciate a PR, help's always welcome, thank you for the report in any case.

[2018-07-22 10:07] #190 closed

[2018-07-27 22:43] fivetanley opened #191 "allow configurable timeout for parallel rendering"
Sometimes, one has a large amount of markdown parsing to do and the default timeout of `Task.await` (5000ms) is not long enough to do it. It would be great to be able to [configure the timeout passed to `Task.await`](https://github.com/pragdave/earmark/blob/8de6f9186a55b3fad00295d2d25bdfe6cf4c54cb/lib/earmark.ex#L372) instead of [overriding `pmap`](https://github.com/pragdave/earmark/blob/8de6f918

[2018-07-29 06:54] RobertDober commented on #191
Yes indeed that is something we want, well need, if you have hit that hard limit.

I am certainly interested in a PR, the idea would be to instrument `Task.await`with a timeout from `Earmark.Options` which should also be implemented as a CLI argument for the escript.

That said I am a little bit intrigued where you hit that limit. In the line scanner (https://github.com/pragdave/earmark/blob/maste

[2018-07-29 06:55] RobertDober commented on #191
Oh sorry I missed that you were aware of the workaround, bad communication skills 😢

[2018-08-04 07:39] RobertDober commented on #191
I am afraid that my implementation of this feature, which was simple, beware of simple solutions, right :face_with_head_bandage:  ...

ran into a regression issue.

The failing test in the PR demonstrates it quite clearly
https://github.com/pragdave/earmark/pull/192/files#diff-6f64bf9186d7d3e3eb5b310ab391cf4aR12

I think you need to override `%Options{mapper:...}` after all, as it is, technically

[2018-08-04 08:54] RobertDober commented on #191
here is something which might work (far from elegant though)

https://github.com/pragdave/earmark/pull/193

I feel however that it is kludgy and really would like @pragdave 's opinion on this.

[2018-08-07 16:34] fivetanley commented on #191
@RobertDober thanks for looking into this! we ended overriding the `mapper` for now, and it's good to have a maintainer's blessing on doing so if it's technically public. :)

[2018-08-08 08:43] RobertDober commented on #191
please let me know if it is enough, because `Line.scan_lines` uses `Earmark.pmap/2` with the 5000ms hardcoded timeout, I will definitely change this, but being quite busy this might need some time to be done.

So you actually hit a _bug_ that I had not even seen in the first analysis of the issue.

[2018-08-11 10:28] LostKobrakai opened #194 "IAL do not support inline code"
Seems like earmark does not support the following, while it does support IAL for links.
[code]

v 1.2.5

[2018-08-11 14:44] RobertDober commented on #194
I merged your PR and therfore close this.

Vielen Dank für den Bugfix.

[2018-08-11 14:44] #194 closed

[2018-08-11 19:56] RobertDober commented on #194
@LostKobrakai fyi although you are correct that the following renders illegal HTML...

[code]
it is under the user's control.

In this version of Earmark we do not (yet I hope) lexically analyse input like raw html and we would need to reparse yet again to sanitize the html.

You took care of two import cases
1. The inline class we add to inline code blocks and a potential _IALled_ class
1. multip

[2018-08-11 19:58] #191 closed

[2018-08-12 09:03] RobertDober opened #197 "README task does not work in Elixir 1.7 anymore"

[2018-08-12 12:08] #197 closed

[2018-08-17 08:28] hrynek opened #198 "Links with escaped chars are suffixed with end of url"
[code]
is rendered as
[code]

I would expect no `d)` after link. Number of appended chars is equal to number of escaped chars.

[2018-08-17 08:35] hrynek commented on #198
And, of course, \<code\> should not be rendered at all :-)

[2018-08-17 12:53] RobertDober commented on #198
@hrynek thank you for the bug report, yes it seems that we have two problems here.

[2018-08-17 17:59] RobertDober commented on #198
should make it into 1.2.6 after all :grinning:

[2018-08-17 18:08] #198 closed

[2018-08-20 13:08] hrynek commented on #198
Thanks for fast fix, but unfortunately escaped square brackets still cause same problem:
[code]

[2018-08-20 15:16] RobertDober commented on #198
hmm why did I treat them as exceptions? I'll check it out and let you know.

[2018-08-20 19:56] RobertDober commented on #198
@hrynek just merged the _refix_

[2018-08-21 06:37] hrynek commented on #198
Everything is OK now. Thank you.

[2018-08-21 16:19] pragdave commented on #198
Robert:

I'm here. Can you do the release?

On Tue, Aug 21, 2018 at 3:22 AM Robert Dober <notifications@github.com>
wrote:

[2018-08-21 16:49] RobertDober commented on #198
@pragdave with pleasure

[2018-08-21 17:04] RobertDober commented on #198
Published

[2018-08-23 07:52] pareeohnos commented on #145
ok @RobertDober I THINK I'm basically done with this. All green with AST and HTML rendering. Will setup a new PR for you to look at

[2018-08-24 19:02] RobertDober opened #203 "escript does not report file name in error messages"

[2018-08-25 19:59] RobertDober opened #204 "Indented Code Blocks after List Headers are not rendered as code blocks"
[code]

is not rendered correctly, while

[code]
is

[2018-08-25 20:46] pragdave commented on #204
There's an extra indentation requirement if it thinks you're in a list,
because list continuation lines can be indented.

This might be what you;re seeing.

On Sat, Aug 25, 2018 at 2:59 PM Robert Dober <notifications@github.com>
wrote:

[2018-08-26 12:10] RobertDober commented on #204
Great relieve I had been misscounting, thanks

[2018-08-26 12:10] #204 closed

[2018-08-28 14:11] GildedHonour opened #205 "Does it support img?"
Does it support img?

[2018-08-28 17:01] RobertDober commented on #205
[code]

[2018-08-29 01:28] GildedHonour commented on #205
thx

[2018-08-29 01:28] #205 closed

[2018-08-29 01:29] GildedHonour commented on #205
audio, video aren't supported?

[2018-08-29 07:56] RobertDober commented on #205
Not that I am aware of, please do not forget that you still can use raw HTML in your markdown doc.

[2018-09-20 01:31] thecodeboss opened #206 "Pipe characters `|` in a table break outputted HTML"
## Description

When placing `|` characters in a markdown table, inside a code block, it should render a table correctly. However, the `|` characters get interpreted as table separators, breaking the output.

I am aware I could use `\|` to insert pipe characters, however I want them to be inside backticks, and if I attempt to escape it like `` `\|\|` ``, it will render incorrectly.

## To reproduc

[2018-09-20 09:00] RobertDober commented on #206
Thank you for reporting this.

[2018-09-23 07:32] RobertDober commented on #206
@pragdave this is a tricky one.
In theory we should implement this feature only if `gfm: false` (or is it a bug in GFM?)
and only if we want this kind of commonmark compliance.

Personally I like it, but I would prefer to implement it for the default behavior too. `ex_doc` will certainly not set `gfm: false` so the usefullness would be limited.

Furthermore it is not a oneline fix either :cry:

He

[2018-09-26 03:36] thecodeboss commented on #206
I did some investigation in GFM, and found this not a bug. They have [this example in the spec](https://github.github.com/gfm/#example-193):

The behaviour when using `\|` seems to vary a lot though (see [Babelmark 3](https://babelmark.github.io/?text=%7C+Operator+%7C+Description+++%7C+Example++++++++%7C+Result+%7C%0A%7C+--------+%7C+-------------+%7C+--------------+%7C+------+%7C%0A%7C+%60%5C%7C%

[2018-09-26 03:36] #206 closed

[2018-10-08 14:01] sn3p opened #207 "How to "override" renderer functions?"
For example, I like to render custom links based on the app host name (similar to #145):

[code]

**What is best practice for a use case like this?**

- I know about [IAL](https://github.com/pragdave/earmark#adding-html-attributes-with-the-ial-extension), but I don't want to bother users with "advanced" features like this.
[code]
- I prefer not to use a [plugin](https://github.com/pragdave/earmark

[2018-10-08 15:07] RobertDober commented on #207
I am afraid that this is quite complicated, even with #145 in place (certainly not this year, maybe never) you still would need to customize the whole HTML Renderer, which, of course would be much easier to do.

The question is, and I will give you some thought for sure, how we could expose that kind of feature so that you need to define only, say, the LinkRenderer, maybe protocols, maybe pluggabl

[2018-10-09 11:03] sn3p commented on #207
@RobertDober thanks for considering this. Output manipulation (#145) would be great, although in some cases it would make more sense to override the render functions.

I think it should be possible making the renderer functions overridable using [`defoverridable/1`](https://hexdocs.pm/elixir/Kernel.html#defoverridable/1).
Also see https://elixirforum.com/t/behaviours-defoverridable-and-implementat

[2018-11-12 12:22] josevalim opened #208 "Wrong rendering when a list item terminates with a escaped backtick"
The following code:

[code]

prints:

[code]

As you can see, it warns that we have unclosed backticks but backticks cannot be escaped with `\` according to the spec. See common mark: https://spec.commonmark.org/0.28/#backslash-escapes

See this Elixir issues too: https://github.com/elixir-lang/elixir/issues/8382

Thanks for the great project! :heart:

[2018-11-12 12:54] RobertDober commented on #208
This is tricky because the potential change will not be backwards compatible.

@pragdave  will correct me if I remember wrongly but Commonmark compliance was not really a goal of Earmark.

As I cannot see any working workaround short of this (adding a space)...

[code]

... I will tag this as a bug for now and will try to free some time to look into it.

@josevalim thanks for your kind words, but

[2018-11-12 13:21] josevalim commented on #208
Fixed the link, thanks!

[2018-11-12 17:24] RobertDober commented on #208
I just realized, that we, strip the whitespace at the beginning and ending of code spans in the workaround proposed above.

(Which is also in accordance with Commonmark https://spec.commonmark.org/0.28/#code-spans)

However we do not collapse whitespace inside code spans, right now!

So that might help you to get the documentation right without waiting for a 1.3 release...

[2018-11-14 19:59] RobertDober commented on #208
@pragdave I have fixed this and prepared a release as v1.3 as we are having two mild backwards incompatibilities here. This issue and #90.

Ok for you?

[2018-11-14 19:59] #208 closed

[2018-11-14 22:33] pragdave commented on #208
fine by me. thanks again for all you do.

On Wed, Nov 14, 2018 at 1:59 PM Robert Dober <notifications@github.com>
wrote:

[2018-11-15 08:35] #90 closed

[2018-11-15 08:35] #203 closed

[2018-11-15 08:48] RobertDober commented on #208
1.3.0 published

[2018-11-29 20:52] axelson opened #210 "Is it possible to configure automatic smart quotes separately from automatic em dash and en dash?"
Currently the `smartypants` option controls curly quotes, en dash, and em dash. I would like to be able to disable only curly quotes while keeping en dash and em dash support. I think the best way to support that would be to split `smartypants` into three separate configuration options. Is that something that would be accepted as a PR?

related: https://github.com/elixir-lang/ex_doc/issues/928, ht

[2018-11-30 17:12] RobertDober commented on #210
Hmm I do not know, I have two small issues with this:

- options creep

- and is the behavior even _wrong_ ? https://babelmark.github.io/?text=for+example+%22room%3A*%22%2C+%22users%3A*%22%2C+%22system%22

   - maruku does what we do
   - pandoc does an interesting thing
   - blackfriday, kramdown and s9e get it _right_

_ Will be edited vvvvv _

for example "room:*", "users:*", "system"

[2018-11-30 17:34] RichMorin opened #211 "error diagnostics need love"
While parsing a Markdown document, I got this result:

    [:error, <input text>,
      {:warning, 78, "Closing unclosed backquotes ` at end of input"}
    ]

I'm not sure what the value 78 refers to, but in any event, having the line number for the opening backquote would have been useful in diagnosing the problem. Indeed, all such warnings should contain this sort of location information.

[2018-11-30 17:49] RobertDober commented on #211
78 is the line number you are looking for,

e.g.

[code]

I'll check if the documentation concerning error messages can be improved.

**N.B.**

By running `as_html!` the error message is _human readable_

[code]

[2018-11-30 17:58] #211 closed

[2018-11-30 19:35] axelson commented on #210
I'm not sure about any precedents for something like this and I can understand the concern about options creep. For a project that is rendering information about programming I'm always against introducing smart quotes since it is rarely what is wanted and often breaks code snippets (or makes it more difficult to use as a documentation system since you need to know how to avoid smart quotes, or tha

[2018-11-30 19:49] RobertDober commented on #210
I agree with what you say.

I really cannot grasp what the emphasis around quotes shall express, so I will not insist, just thought I had maybe figured it out LOL :blush:

If @pragdave  agrees I will implement just one option, that should not be too bad, say `edashes` **better name very welcome**  and then `ex_doc` should use `smartypants: false, edashes: true` if they want.

That would be backwar

[2018-11-30 21:07] pragdave commented on #210
Isn't smartypants disabled inside code fragments?

On Sat, Dec 1, 2018 at 6:49 AM Robert Dober <notifications@github.com>
wrote:

[2018-11-30 21:38] axelson commented on #210
Yes, I believe that it is. In the original version of the phoenix doc code there was no code block (although there should have been)

[2018-12-02 01:49] lobo-tuerto opened #212 "Double space at the end won't translate to <br />"
In the **README** it's mentioned that **Earmark** supports [Standard Gruber markdown.](https://daringfireball.net/projects/markdown/syntax)

And it's mentioned [there](https://daringfireball.net/projects/markdown/syntax#p) that:

So, I'm trying this:
(Notice the two spaces at the end of the first line)

[code]

So, doing this:

[code]

Am I missing some option so it translates two ---or more--- co

[2018-12-02 10:49] RobertDober commented on #212
No you are not missing anything, this is indeed a bug, thank you for reporting it.

[2018-12-02 14:46] #212 closed

[2018-12-11 19:57] RobertDober commented on #135
As recently discussed this would add even more options...
An `EarmarkWrapper` (a very original name indeed) could very simply be a preprocessor that eventually calls `Earmark.as_html` and integrates its output into the preprocessor's output.

[2018-12-11 19:57] #135 closed

[2018-12-16 18:24] RobertDober opened #214 "Remove CLI and Plugin from Earmark --> EarmarkCLI"
@pragdave I had been closing the issue #135 as it stroke me that it would add quite some functionality
to `Earmark` that is not used by our _poweruser_ `ex_doc` when thinking about it I realized that the CLI and plugins part of `Earmark` too are completely unnecessary for them.

As a proof of concept, and because I need it ;), I just created https://github.com/RobertDober/EarmarkWrapper which allo

[2018-12-16 22:48] pragdave commented on #210
I don't think this is an issue, as long as we don't do the conversion to
curly quotes in between backticks.

On Sun, Dec 16, 2018, 12:27 Robert Dober <notifications@github.com wrote:

[2018-12-17 07:02] RobertDober commented on #210
we do not and I agree.

[2018-12-17 07:02] #210 closed

[2018-12-19 06:22] lobo-tuerto commented on #212
@RobertDober Sorry to ask about this, but when are you going to push a new release that incorporates this fix?

[2018-12-20 17:49] lex111 opened #215 "Open external links in a new tab"
Hello @RobertDober,

How can I do that?

[2018-12-20 21:55] pragdave commented on #215
Alt click?

On Thu, Dec 20, 2018 at 11:49 AM Alexey Pyltsyn <notifications@github.com>
wrote:

[2018-12-20 22:35] lex111 commented on #215
I meant how to make links automatically put a `target` attribute with the value `_blank`.

[2018-12-21 00:49] pragdave commented on #215
I think that's frowned upon.... :)

On Thu, Dec 20, 2018 at 4:35 PM Alexey Pyltsyn <notifications@github.com>
wrote:

[2018-12-21 08:11] RobertDober commented on #212
I was planning to add #158 and maybe #171 to 1.3.1 before releasing. Now I can definitely push #171 to 1.3.2 if it shall take long. I'd say ETA of the release, maybe mid January.

But if this is urgent for you I guess I can release 1.3.1 in its current state. Ok for you @pragdave ?

[2018-12-21 08:15] RobertDober commented on #215
Definitely not something we shall implement, however @lex111 you can put the link as html into a single line to achieve this.

[2018-12-21 14:33] pragdave commented on #212
Absolutely.

On Fri, Dec 21, 2018, 02:11 Robert Dober <notifications@github.com wrote:

[2018-12-21 17:16] lobo-tuerto commented on #212
Thanks @RobertDober!

[2018-12-21 21:10] RobertDober commented on #212
published

[2018-12-21 21:13] RobertDober opened #216 "Fix documentation in API description"
as one can see here https://hexdocs.pm/earmark/Earmark.html  the code describing the result of `as_html` is not in a code block

[2018-12-23 12:38] lex111 commented on #215
And how can this be automated? Using plugins?

[2018-12-23 15:44] pragdave commented on #215
I think what we're saying is that it is considered to be impolite for the creator of a page to open links in new tabs: if the reader wants that behavior they can simply right click out whatever.

We won't be supporting this in Earmark

[2018-12-23 18:07] RobertDober commented on #215
I meant that for any reason, e.g. because you are the user of the output or your customer wants that behavior, you can write your markdown differently

Instead of

[code]

you write

[code]

Of course if you transform already existing markdown, sorry :blush:

[2018-12-23 18:13] #215 closed

[2018-12-23 18:30] RobertDober opened #217 "Deprecate old Autolink behavior to prepare implementation of autolinks à la GFM"
This shall prepare the implementation of #158, scheduled for v1.4

[2018-12-23 18:55] lex111 commented on #215
Fine, thanks.

[2019-01-07 12:54] RobertDober commented on #214
I have created, but not released yet, another hex package which could render __Earmark__ smaller.

[Extractly](https://github.com/RobertDober/extractly)

This is basically your `readme` task but using an `.eex` template and a CLI that allows to use any template and output.

However, again, I feel it is necessary to ask your permission to release this package as the core code is from you, which is

[2019-03-05 07:36] gertjana opened #219 "using <pre> with a newline in between gives an error"
Hi,
I'm writing a markdown based blog and when importing stuff from my old blog i'm noticing some weird behaviour which can be reproduced by the following:
[code]

[code]

[2019-03-05 07:38] gertjana commented on #219
nvm just read they need to be on a new line

[2019-03-05 07:38] #219 closed

[2019-03-10 08:35] RichMorin opened #220 "Earmark does only render first link with a title of a line correctly."
A single link with a title works fine:

    iex(1)> m1 = "[a link](/a_link 'a title')"
    "[a link](/a_link 'a title')"

    iex(2)> Earmark.as_html(m1)
    {:ok, "<p><a href=\"/a_link\" title=\"a title\">a link</a></p>\n", []}

However, a pair of links with titles (on the same line) fails:

    iex(3)> m2 = "#{ m1 } #{ m1 }"
    "[a link](/a_link 'a title') [a link](/a_link 'a title')"

    iex(

[2019-03-10 15:43] RobertDober commented on #220
Some more examples

[code]

[2019-03-11 21:35] RichMorin opened #222 "Trailing spaces can cause Earmark to emit spurious "br" tags."
If paragraph input text contains two or more trailing spaces on an interior line, Earmark will emit a spurious `br` tag:

    iex(1)> "L1\nL2\n" |> Earmark.as_html()
    {:ok, "<p>L1\nL2</p>\n", []}

    iex(2)> "L1 \nL2\n" |> Earmark.as_html()
    {:ok, "<p>L1 \nL2</p>\n", []}

    iex(3)> "L1  \nL2\n" |> Earmark.as_html()
    {:ok, "<p>L1<br>L2</p>\n", []}

    iex(4)> "L1   \nL2\n" |> Earmark.a

[2019-03-11 22:11] pragdave commented on #222
that’s correct.
On Mar 11, 2019, 4:35 PM -0500, Rich Morin <notifications@github.com>, wrote:

[2019-03-11 22:15] pragdave commented on #222
sorry, I meant to add

https://daringfireball.net/projects/markdown/syntax#p

On Mar 11, 2019, 5:11 PM -0500, Dave Thomas <pragdave@gmail.com>, wrote:

[2019-03-11 23:51] RichMorin commented on #222
Yow!  I had no idea that was a Markdown "feature".  So, Earmark is simply acting
according to Gruber's design.  Learn something new every day...

Whether that's a _good_ part of the design is, of course, arguable.  Languages
that change their behavior based on invisible syntax differences are (IMNSHO)
setting the programmer up for failure, eg:

- the required use of leading tabs in make(1)
  (usin

[2019-03-12 16:32] RobertDober commented on #222
No problem at all @RichMorin let me just add that there are many things in  Markdown which are all but __good__ (just substitiute the "d" by an "f", simple typo making lots of sense).

BTW you forgot "git warning about files with trailing whitespace".

I believe you had a look at the link acceptance tests, you might have seen some strange things there :cry:

Can I close the issue?

[2019-03-12 17:18] RichMorin commented on #222
Yes (sigh).

-r

[2019-03-13 08:29] RobertDober commented on #222
c'on it's not our fault 😉
Thank you

[2019-03-13 08:29] #222 closed

[2019-03-13 08:41] #220 closed

[2019-03-14 09:36] RichMorin opened #224 "Handling of link title syntax gets confused"
I have discovered a situation where Earmark's handling of link title syntax gets confused. I've boiled it down to two very similar input strings. One succeeds; the other fails:

    iex(1)> s = "The [Foo](/dash 'foo') page in \"bar\"\n"
    "The [Foo](/dash 'foo') page in \"bar\"\n"
    iex(2)> Earmark.as_html(s)
    {:ok, "<p>The <a href=\"/dash\" title=\"foo\">Foo</a> page in “bar”</p>\n", []}

[2019-03-15 18:35] RobertDober commented on #224
Which case is failing? I feel the output is correct.

See also

https://babelmark.github.io/?text=The+%5BFoo%5D(%2Fdash+%27foo%27)+page+(in+%5C%22bar%5C%22)

[2019-03-15 21:12] RichMorin commented on #224
Sorry; I thought about pointing out the difference, but didn't get around to doing so.  In the first case, the requested title (foo) is present in the HTML title attribute.  In the second case, "bar" shows up as the title. The only difference in the input Markdown is the presence of parentheses around "<<in “bar”>>.

[2019-03-16 09:02] RobertDober commented on #224
I apologize, as I am on leave I did not look at it as well as I should have.

I will take care of it as soon as I have time to do it correctly.

Thank you for your understanding.

[2019-03-16 15:18] RichMorin commented on #224
No problem; enjoy your leave!

[2019-03-16 21:41] #224 closed

[2019-03-18 02:30] RichMorin commented on #224
I edited my mix.exs file as follows and the problem seems to have gone away:

      { :earmark, override: true,
          git: "https://github.com/pragdave/earmark.git" },

[2019-03-18 02:30] RichMorin commented on #220
I edited my mix.exs file as follows and the problem seems to have gone away:

      { :earmark, override: true,
          git: "https://github.com/pragdave/earmark.git" },

[2019-03-23 18:21] RobertDober commented on #171
Still waiting for dialyxir

[2019-03-23 21:28] RobertDober commented on #224
@RichMorin I just released https://hex.pm/packages/earmark/1.3.2

[2019-03-31 02:42] ndreynolds opened #226 "List item content wrapped in paragraphs"
I noticed an interesting discrepancy between Earmark and other markdown parsers I've tried.  Probably related to #93, but it seems a bit different.  Take the following Markdown example:

[code]

Pandoc, CommonMark, Python Markdown, and redcarpet all produce the following HTML:

[code]

whereas Earmark produces this:

[code]

You can see that Earkmark adds paragraph tags whenever the list item cont

[2019-03-31 06:37] RobertDober commented on #226
Thank you for putting this to our attention.
I guess the `<p>`s around are indeed not the best way of rendering and I would be very glad to accept PRs in general.
However there might be a major issue with backwards compatibility, especially with ex_doc.
Maybe we should discuss it there firstly?

[2019-03-31 06:42] RobertDober commented on #226
@ndreynolds on a personal note

Babelmark 2 has been a most valuable tool (and I had an Earmark dingus running for a couple of years)
now it seems that it is outdated and I usually use [Babelmark III](https://babelmark.github.io/), which does confirm your findings too BTW :grin:.
Sadly I do not have the time to setup a dingus right now, would be nice exposure of Elixir, but time is such a sparse r

[2019-03-31 15:26] RichMorin opened #227 "Git repo in earmark distribution?"
I recently set up a new Git repo for a project and got the following warnings:

    $ git init
    Initialized empty Git repository in .../from_spot/PA_all/.git/
    $ git add .
    warning: adding embedded git repository: PA_elixir/phx_http/deps/earmark
    hint: You've added another git repository inside your current repository.
    hint: Clones of the outer repository will not contain the conte

[2019-03-31 15:33] RobertDober commented on #227
A quick check reveals nothing, I cannot really see where your submodule comes from.

I just installed Earmark in a mix project and everything is ok.

Any artefacts?

[2019-03-31 21:13] ndreynolds commented on #226
Sure, then I'll open a similar issue in ExDoc to start the discussion, and we can go from there.

I can set one up.  I saw Gigalixir has a free tier, which seems like a good fit for this.  It would certainly be helpful to have when testing this.  Will give it a go later.

[2019-03-31 21:19] RobertDober commented on #226
That would just be great.

--
Non datemi consigli che so sbagliare da solo
(Giuseppe Di Stefano)

On Sun, Mar 31, 2019 at 11:13 PM Nick Reynolds <notifications@github.com>
wrote:

[2019-04-01 06:46] RobertDober commented on #226
Backward incompatibility accepted [here](https://github.com/elixir-lang/ex_doc/issues/989#issuecomment-478448286) by @josevalim.
@ndreynolds shall I assign myself or do you want to prepare a PR. That will not be an easy one I am afraid.

[2019-04-01 15:33] ndreynolds commented on #226
@RobertDober I'd be happy to take on the challenge if you don't mind.  I have some time this week.

It seems like this is where I ought to start looking:

https://github.com/pragdave/earmark/blob/master/lib/earmark/html_renderer.ex#L129

I'd play with it some today and try to understand what would need to be changed.

[2019-04-01 17:09] RobertDober commented on #226
@ndreynolds looks about the right spot. I appreciate who you handled this so far and do not mind at all if you take this on.

[2019-04-02 14:00] cw789 opened #228 "Block-level HTML formatting missing"
Hi. In the following Block-level HTML contexts I don't get any markdown formatting.
Is there something, I'm doing wrong?

[code]

[code]

[2019-04-02 19:56] RobertDober commented on #228
Short answer: nothing
Long answer: Thank you for reporting this ;)

[2019-04-02 20:00] RobertDober commented on #228
And as a side note

[code]

should be written as

[code]

as indicated in the docs, unless my fix eliminates that restriction, which is unlikely I believe.

[2019-04-03 02:22] ndreynolds commented on #226
I dug into this a bit more and found this in the CommonMark spec:

https://spec.commonmark.org/0.28/#loose

So it's a bit more nuanced than I thought, but this is pretty clear from an implementation standpoint.  I think it means we need to identify whether the list is loose or tight and then apply (or not apply) the `<p>` tags  accordingly.  I'll keep working on it this week, hope to have a PR soo

[2019-04-03 07:06] RobertDober commented on #226
Great
Maybe we should start with adapting the acceptance tests to the behavior we want?
Shall I try to find some time to do that, or can you start your PR with it, so that we agree on it before you start implementation?

[2019-04-03 07:17] RobertDober commented on #226
Please make your PR against https://github.com/pragdave/earmark/tree/226-loose-tight-lists
so that I can merge with the tests failing.

[2019-04-03 07:17] cw789 commented on #228
Have to say thank you to you!
In case any help is needed - just give me a hint where to start.

[2019-04-03 07:28] RobertDober commented on #228
You certainly do not need to say thank you, but it surly is appreciated \o/

It seems that I (I am 100% sure that this is a regression I inflicted to Dave's code, so there are some tests missing too) removed the recursive rendering [here](https://github.com/pragdave/earmark/blob/228-bad-rendering-inside-html/lib/earmark/html_renderer.ex#L40-L46).

Might be an easy fix, but as we say in our mothert

[2019-04-03 09:00] cw789 commented on #228
Ok, this took my a while to understand it (in the code).
What was the intention for removing the recursive rendering?

You may be right - this could be too easy.
PS: Nice to hear some home dialect in here.

[2019-04-03 09:53] RobertDober commented on #228
I do not think it was on purpose, I will look at the history if I find some time and keep you updated

[2019-04-03 12:21] RobertDober commented on #228
apparently this was never implemented...
@cw789 are you going for it?

[2019-04-03 14:34] cw789 commented on #228
I can try if I'm able to do. But will possibly take me some time to start with it.

[2019-04-03 14:50] RobertDober commented on #228
Hmm I do not want to step on your toes, but I might find some time to do it this week, I'll ping you before starting.

[2019-04-03 16:27] pragdave commented on #228
Some markdown parsers (such as Kramdown) explicitly do not format stuff inside HTML blocks, the thinking being that it it’s HTML, it’s HTML.

I can see an argument both ways, and I may well have just copied Kramdowns behavior.

Dave
On Apr 3, 2019, 9:50 AM -0500, Robert Dober <notifications@github.com>, wrote:

[2019-04-03 17:22] RobertDober commented on #228
Hmm I did file it as a bug because of the overwhelming majority of implementations doing this.

Maybe complexity of the implementation should break the tie. If @cw789 or YHS come up with something simple ok, if the code becomes overly complex --> WONTFIX

[2019-04-03 21:40] ndreynolds commented on #226
@RobertDober done, I created #229 with failing tests, so we can discuss further there if you like.

[2019-04-04 06:17] RobertDober commented on #227
@RichMorin I would like to close this, any objections?

[2019-04-04 08:32] cw789 commented on #228
This is in no way stepping onto my toes.

**Back to topic**
I also like the thinking of "that it's HTML, it's HTML".
But sadly lots of markdown formatted files doesn't treat it like that.
I think this is the cause, why it's now so common in other implementations.

I'm not seeing a really simple solution right now for a complete formatting inside HTML.

But we could try somehow to wrap text nodes i

[2019-04-04 11:38] RobertDober commented on #228
Let me indulge myself by __talking__ a little bit about my vision.

Surprisingly I hate Markdown, (it is however a little bit like democracy according to Winston Churchill's definition, "bad but the best we have").

To be precise, I dislike its structural shortcomings especially the complex semantics. However I like its inline semantics for emphasis, strong, links, etc.

That said, why would one w

[2019-04-04 15:11] RichMorin commented on #227
Feel free to close it; I assume it's a local issue.

-r

[2019-04-04 16:45] RobertDober commented on #227
I guess so, as I did not succeed in reproducing it, reopen if you can reproduce in a new project please.

[2019-04-04 16:45] #227 closed

[2019-04-05 07:41] RobertDober commented on #228
Looking at some examples right now, e.g.

https://babelmark.github.io/?text=%3Csection%3E%0A%23+headline%0A++__bold__%0A++%3Cnav%3E%0A++++%5Bhello%5D(%23world)%0A++++++++++%3C%2Fnav%3E%0A+++++++%3C%2Fsection%3E

**WOOOW**

Let us try the same in this comment

<section>
# headline
  __bold__
  <nav>
    [hello](#world)
          </nav>
       </section>

[2019-04-05 07:42] RobertDober commented on #228
Maybe we should stick with GFM which does pretty much the same we do...

[2019-04-05 07:54] RobertDober commented on #228
@cw789 the rendering is not the only thing to change, we need to parse differently.
Although it might be structurally a consistent update, why not parse recursively up to the end of the tag like say we parse lists, I am not sure that the added value justifies the effort.

That said, I changed assignments and labels but will keep two things open, my mind and this issue :wink:.

Therefor I will be g

[2019-04-05 11:50] sn3p commented on #158
Just curious, how does implementing the [autolink extension](https://github.github.com/gfm/#autolinks-extension-) break the current behaviour? The [standard autolink](https://github.github.com/gfm/#autolink) is still valid in GFM. So no need to deprecate, or am I missing something?

Btw I would love this feature in Earmark 😎

[2019-04-05 13:04] RobertDober commented on #158
It simply changes the former behavior, maybe I am little bit paranoid (10+ years of sysadmin) but you can get an idea of how much work that is [here](https://github.com/pragdave/earmark/pull/231/files#diff-8b0ee31e0381f6629afe7e51ab301cc8) and I have only speced about 50% (IIRC) of the GFM examples during my X-mas break.

It also might be that some input we autolink now will not be autolinked unde

[2019-04-09 10:11] RobertDober commented on #207
I am **really**, **really** afraid to close ourselves into an exposed API.

If @pragdave made the renderer pluggable and not extendable I suspect that it was for that reason. I just do not want to close ourselves into a cage here, because if we made all render functions public and overrideable that seems too fat an API too me.

The more I think about this, the more I believe that Earmark shall not

[2019-04-09 10:11] #207 closed

[2019-04-09 10:17] RobertDober commented on #158
depends on #217

[2019-04-09 20:22] pragdave commented on #207
I think that's a really good call.

Dave

On Tue, Apr 9, 2019 at 5:12 AM Robert Dober <notifications@github.com>
wrote:

[2019-04-16 02:01] RichMorin opened #233 "tables don't work when wrapped in a div"
Earmark's tables don't work when wrapped in a `div`, e.g.:

    <div style="width: 600">
    | OS Variant   | Command                       |
    | ------------ | ----------------------------- |
    | Arch Linux   | `pacman -S alacritty`         |
    | Debian       | `apt install alacritty`       |
    | FreeBSD      | `pkg install alacritty`       |
    </div>

The result is that the Markdown so

[2019-04-16 09:28] RobertDober commented on #233
Actually this is a double of #228 but it is not clear if and when #228 will be implemented.

For your special use case however an IAL will do the job

[code]
[code]

[2019-04-16 09:32] RobertDober commented on #233
oh sorry you cannot put a `<div style="....` around the table so I am not sure that adding the style to the table is good enough.

Please participate in the discussion on #228  to underline your use cases.

I will leave this issue open for some time if you have any questions or suggestions.

[2019-04-16 15:18] RichMorin commented on #228
Issue #228 seems to be closely related, but is complicated enough that I'll keep the details there.

[2019-04-16 15:30] RichMorin commented on #233
I was interested to learn about the IAL syntax; that's new to me. However, although it does add a style attribute to the table tag, it doesn't resolve my use case.  Apparently, there is some interaction with tablesorter, CSS, etc. Specifically, although I was able to change the text color using the IAL, trying to change the width had no effect as long as tablesorter was active.

Here is some relev

[2019-04-16 16:11] RobertDober commented on #228
Indeed, quite thoughtful of you.

Yeah I was afraid that the IAL would not cut it.

I believe that #228 is a really worthy goal, but it is a little bit complicated.
I will have some time during my vacations end of April hopefully but I'd prefer to work on exposing the AST #145, so I'll check with @cw789 if he is making progress on #228 or if I shall take it over?

[2019-04-17 07:11] cw789 commented on #233
As long as #228 is unresolved & you're able to edit the given markdown,
surrounding your table additionally with a HTML `<pre>` tag would make your table at least readable.

[code]

Or alternativ with an additional style.
[code]
This both workarounds are only working as long as your table is aligned with white spaces.

[2019-04-17 07:19] cw789 commented on #228
So I'm still in. But sadly wasn't able to start jet.
I can spend some time in May, as a polishing task for a documentation I have to deliver.

It's currently concerning myself by only one generated markdown file - I'm not able to edit.

[2019-04-17 07:24] RobertDober commented on #228
It would really be great to have a PR of that size from somebody other than Dave or YHS ;)
The community is great and I have no complaints whatsoever but OSS lives from collaboration, so I will keep this issue assigned to you and will take on #145 myself.

Looking forward to seeing more code ...

[2019-04-17 07:26] RobertDober commented on #233
@RichMorin sorry replied in the wrong issue LOL

In case you did not see my reply here it goes again:

Indeed, quite thoughtful of you.

Yeah I was afraid that the IAL would not cut it.

I believe that #228 is a really worthy goal, but it is a little bit complicated.
I will have some time during my vacations end of April hopefully but I'd prefer to work on exposing the AST #145, so I'll check with

[2019-04-17 07:29] cw789 commented on #228
Perfect.

[2019-04-25 19:10] surprisetalk opened #234 "Markdown Metadata"
Thank you so much for making Earmark!

I'm looking to parse a metadata header (something like [this](https://stackoverflow.com/questions/44215896/markdown-metadata-format)).

It would be amazing to have something like:
[code]

Have any thougts? I'm willing to make a PR if you think this would benefit other Earmark users.

[2019-04-29 10:44] RobertDober commented on #234
Interesting, but I do not really see why the Markdown parser should do this, you can easily parse the header for yourself and then the rest with `Earmark`.

Are any other common markdown implementations implementing this?

[2019-05-08 21:30] surprisetalk commented on #234
Most markdown parsers that support metadata (usually called "frontmatter") use a YAML header like this:

[code]

- [Multimarkdown](http://fletcher.github.io/MultiMarkdown-5/metadata.html)'s parser omits the `---` and has a slightly tweaked version of YAML
- [Jekyll](https://jekyllrb.com/docs/front-matter/)
- [DocFX](https://dotnet.github.io/docfx/spec/metadata_format_spec.html#3-work-with-metadata

[2019-05-09 16:47] RobertDober commented on #234
Sorry to turn you down, but with no major implementation supporting this, and with zero added value for `ex_doc` I have to reject this feature.

However why not create a nice little hex project wrapping `Earmark` in order to achieve this.

This would put no burden on `Earmark`  or  `ex_doc` while providing exactly the service you ask for.

[2019-05-16 01:58] surprisetalk commented on #234
No worries! Thanks for the consideration.

And once again, thanks again for contributing to such a wonderful library!

[2019-05-16 01:58] #234 closed

[2019-05-17 08:20] mrifat commented on #158
@RobertDober this issues seems old and not yet implemented, are you dropping it or is there another way to handle this that does not require this update anymore?

[2019-05-17 08:40] RobertDober commented on #158
I am overworked and trying to figure out what to prioritize, but definitely not dropping it.

I wanted to get a clear shot at this, and if you look at #217 the spec is quite large, maybe I could just get some autolinks working say whatever corresponds to

      ```%r{\bhttps?://\S+\b}```

❓

[2019-05-17 14:12] mrifat commented on #158
Sorry for the late reply, overworked here as well.
Yeah that would work for most of the spec, it'd also give you extra time to support whatever breaks this pattern when users report them, which might not be soon 🤞

Also thanks for doing this ❤️

[2019-05-18 08:19] RobertDober opened #236 "Deprecate plugins"
Seems I am the only one who uses them (and not often) so deprecation will prepare to remove plugins, (no use for ex_doc) and if anyone wants them, they could be implemented _around_ Earmark instead of _in_ Earmark.

[2019-05-18 08:50] RobertDober opened #237 "Add convenience Keyword param to `as_html` and `as_html!`"
Instead of

Now:

[code]
Then:
[code]

[2019-05-18 10:51] RobertDober opened #238 "Implement Deprecation for Pure Link Strings"
* Change default of option `pure_links` to `true`.
* Remove deprecation warning in the case `pure_links` is falsy.

Related to #158

[2019-05-18 20:34] RobertDober opened #240 "Code Blocks inside list items do not render correctly"
Here is an example from Babelmark

https://babelmark.github.io/?text=*+li%0A%0A++Desc%0A%0A+++++++++++Code%0A

[2019-05-18 20:43] #158 closed

[2019-05-18 20:43] #237 closed

[2019-06-13 13:43] AcMaSven opened #241 "Documentation not up to date"
The linked documentation on hexdocs.pm is not up to date with the last release. You can see here https://github.com/pragdave/earmark/blob/7cab6b3b059ada2bf0a4560038f4761c6202262b/lib/earmark.ex#L294 that as_html returns {:ok,html_doc,messages}. But the documentation on hexdocs says it returns {:ok,html_doc} https://hexdocs.pm/earmark/Earmark.html#as_html/2 .

[2019-06-13 13:57] RobertDober commented on #241
Thank you for reporting this, it is already fixed.

[2019-06-13 13:57] #241 closed

[2019-06-18 14:25] cw789 commented on #228
I just started to make my first changes regarding this issue [Commit](https://github.com/cw789/earmark/commit/4efd27270e68bbf43077c4636be0cb0158903d2a).
But I'm afraid I still miss some deeper understanding of `eamark` to soon make any progress.

[2019-06-18 18:11] nicklayb opened #242 "Allowing only bold, italics and underline"
We are currently facing an issue where we only want to parse bold, italics and underline. Anything else should not be converted as HTML.

I don't see any option to do it. Is it possible?

Thank you!

[2019-06-18 20:05] RobertDober commented on #242
I am quite sure that this is not possible, however can you give me an example, so that I am sure not to misunderstand what you are asking for?

[2019-06-21 16:22] StephaneRob opened #243 "Pure links causes UnicodeConversionError on sanitize"
Can't sanitize html after converting from markdown.

ex:

[code]

If i try to sanitize the second example I get `invalid encoding starting at <<226, 34>>`

**UPDATE**

If I sanitize before converting from markdown, I get `** (Jason.EncodeError) invalid byte` when render json view on phoenix

[2019-06-22 14:09] RobertDober commented on #243
@StephaneRob that is a nice catch of you
I have an idea, (the yecc parser might not like utf8 too match) but I will keep investigating.

Please let me know about the priority of this, I'd love to release 1.3.3 with #240 but biting on nails right now.

However if this is a serious problem (actually it is, but not bugging anyone so far I guess :blush:) I will try to make a hotfix release.

[2019-06-22 18:54] StephaneRob commented on #243
@RobertDober thank you very much for this fast answer.

It is actually a serious problem for me, but I also understand that you have lot of to do.
Tell me I can submit a PR to help.

[2019-06-23 06:16] RobertDober commented on #243
I was wondering, if you do not use pure links you could use 1.3.2 from hex instead master from github however there might be more non utf8 regexen and I guess there is a reason you used pure_links.
But just to mention it.

A PR would be welcome, if you have few time just adding the `u` flags to all regexen concerned should be sufficient.
If you have more time adding some tests, either in `acceptan

[2019-07-04 18:03] RobertDober commented on #243
Thanx again for your PR

[2019-07-04 18:03] #243 closed

[2019-07-08 05:49] #242 closed

[2019-07-08 09:12] #240 closed

[2019-07-08 09:14] RobertDober commented on #217
Partially fixed

[2019-07-08 09:14] #217 closed

[2019-07-08 18:46] crertel opened #247 "Custom resolver for links and images"
When using Earmark for blog posts or images, I've resorted to crawling the generated HTML with Floki and doing [weird in-place transforms](https://github.com/crertel/zamrazac/blob/master/lib/floki_util.ex#L12) and re-rendering the HTML.

If I had a way of consuming the referenced URLs for links and images, in some sort of middleware or similar, I wouldn't have had to do this.

This biggest applica

[2019-07-08 19:22] RobertDober commented on #247
If I understand correctly exposing an AST as foreseen in #145 should do the trick.

Hopefully I will get to it in the nearer future.

If 145 cuts it, please close this issue, if not please explain what else would be a good solution for you?

[2019-07-08 19:24] RobertDober commented on #247
or would you just want `[this](#whatever)` to create `<a href="#whatever">this</a>` :question:

[2019-07-08 19:32] crertel commented on #247
I'd ideally like to be able to do this without touching an AST--that being the solution I've already got in place via Floki.

It feels like there should be an "easy" way of registering a module that is called with image and link resources paths (typically just URLs, but again that need not be the case, see the hypothetical `[wiki](#wiki)` syntax.

[2019-07-08 19:38] crertel commented on #247
Like, a hacky version demonstrating this would just be to modify the [link and image helpers](https://github.com/pragdave/earmark/blob/master/lib/earmark/html_renderer.ex#L211) to interpolate from a helper passed the link string instead of directly interpolating the link address itself.

Basically:

[code]

...could become...

[code]

With `resolve_path/1` looking like:

[code]

Obviously just a s

[2019-07-08 20:21] RobertDober commented on #247
Actually I am confused, how will you get the `:resource_lookup` into `Earmark's` environment?

[2019-07-08 22:12] crertel commented on #247
Oh I have no idea!

In some other language (say, C or JS or whatever) there'd be a function where you could register a handler. I don't know the Earmark codebase well enough to sketch out how that might be implemented.

[2019-07-09 05:42] RobertDober commented on #247
To my knowledge it is impossible from a client library, but my knowledge is limited, I need to investigate.

[2019-07-09 07:20] RobertDober opened #249 "Better GFM List Compliance"
During the fix for #240 I realized that quite a lot of the GFM list behavior is not implemented in Earmark.

While complete compliance is not our primary goal GFM is what many editors of Markdown expect today (e.g. autolinks as in #217)

Therefore I consider this a feature and not a bug.

Here are the specs to be used as guidelines

https://github.github.com/gfm/#lists
https://github.github.com/gf

[2019-07-13 15:43] tensiondriven commented on #238
"Imlement" in the title should be "Implement"

[2019-07-14 14:23] rajasekharponakala opened #250 "Packaging to Debian"
Hey, any progress on the Debian packaging so far?, found this RFP in the Debian bugs.

RFP bug: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=795501

[2019-07-14 14:52] RobertDober commented on #250
I do not understand what you would like us to do? I guess you need to ask the Debian folks about this.

[2019-07-14 14:55] rajasekharponakala commented on #250
@RobertDober, hi.
Yeah, you are right, just want to know if anyone from this project has worked

[2019-07-14 15:00] RobertDober commented on #250
No we are not involved with Debian, sorry.

[2019-07-14 15:00] #250 closed

[2019-07-22 03:36] logicmason opened #251 "Support for Kramdown's markdown="1" flag"
There are many cases where it's useful to use markdown inside a block element. The way Kramdown handles this is with an attribute placed on the HTML element.

Example:
[code]

https://kylebebak.github.io/post/mixing-markdown-html

[2019-07-22 10:49] RobertDober commented on #251
I do not like this, but keep my mind and the ticket open.

Right now the parsers is written in a way that this will become extremely difficult to implement.
But if, and that is a big if, one day I rewrite the parser, I still do not believe that this is a good idea.

[2019-07-22 16:36] logicmason commented on #251
I may be overly influenced by familiarity with Github pages and Jekyll. Is there another way of accomplishing this that I'm missing?

It seems like styling a list is a fairly mainstream use someone must have run into already.

[2019-07-22 17:40] pragdave commented on #251
I've been using Kramdown for years (the Pragmatic Bookshelf toolchain uses
it), and I agree that being able to mix markdown and HTML block elements is
useful.

However, I also find the Kramdown approach to be problematic. The semantics
of nested blocks is unclear, and  things such as indentation are
inconsistent.'

So while I'd love to see the ability to mix the two, I don't think the
Kramdown way

[2019-07-22 20:36] RobertDober commented on #251
Hmm if we had an explicit way to express a `<div>` we could annotate it with an IAL

That would be something like

[code]
**only** available by setting an option (e.g. `explicit_divs: true`) to protect ex_doc.

BTW @pragdave do I have a green light for the release of 1.3.3? I sent you a mail a couple of weeks ago.

[2019-07-22 20:55] pragdave commented on #251
Oh, sorry. Of course...

On Mon, Jul 22, 2019, 15:36 Robert Dober <notifications@github.com> wrote:

[2019-07-23 00:07] logicmason commented on #251
That's almost exactly what I'm doing now as a work-around in a wrapper. I'm using `::div` to open it and `:/div` to close it like this:

[code]

Being able to use IAL is more flexible and an improvement over this, though.

[2019-07-23 07:30] garthk opened #252 "Fenced code block for UML"
I'd like to replace fenced code blocks with the `plantuml` language with SVGs generated by that tool, e.g.:

[code]
→
![](http://s.plantuml.com/imgw/graphviz-dot-4zfzrtjl.png)

My editors and history rely on fenced code blocks, so I'm afraid the `$$` plugin syntax is a show-stopper. Would you take a PR on invoking plugins using fenced code block syntax with the plugin name as the "language"?

Is t

[2019-07-23 07:49] RobertDober commented on #252
I will deprecate plugins anyway.

I guess #145 would really be the way to go, but my plan is to expose an AST and not to worry about a zillion of possible granularity and performance issues.

Would the exposure of an AST solve your problem, somehow I guess not, right?

But imagine the exposure of an AST with a configurable conversion tool, **outisde** of Earmark, I believe that would cut it nicely

[2019-07-23 23:03] garthk commented on #252
It's plausible: just a matter of replacing nodes representing the fenced code block with other nodes representing `![alt text](https://example.com/4zfzrtjl.png)`. Are there nodes suitable for writing the image to disk? That'd feel better than predicting the destination path and writing it, especially as it'd permit some subsequent AST transform in the chain to move, rename, or modify the file if r

[2019-07-24 01:18] pragdave commented on #252
We do stuff like this all the time at the Bookshelf. We often inject
generated content into books.

However, our approach is not too have one-tool-to-rule-them-all. Instead we
have a multi stage pipeline, where each book writer can create their own
stages for their own particular needs. In our case, the result is XML, not
HTML, but the principle it's the same.

The nice thing about this approach i

[2019-07-27 12:40] sn3p opened #254 "Markdown links with URL as text break with pure_links enabled"
When parsing markdown links where the text is an URL:

[code]

It outputs nested links:

[code]

[2019-07-27 13:22] RobertDober commented on #254
Nice catch thank you

I believe that this double link actually is probably not much of an issue in most browsers, but nevertheless I'll fix it ASAP.

[2019-07-27 14:21] #254 closed

[2019-07-27 17:01] sn3p commented on #254
Thank for fixing!

You're right, links will not rendered nested in most browsers, instead it renders an additional empty link which doesn't take any space. But in our case we render an additional "external link" icon. It was rendering twice so that's how I find out, otherwise I probably wouldn't have noticed 😄

[2019-07-27 17:14] RobertDober commented on #254
Aha would you need a release? Or can you work from master, which we keep green as much as we can!

[2019-07-27 17:16] sn3p commented on #254
Release would be great, but guess we could work from master for a bit 👍

[2019-07-27 18:02] RobertDober commented on #254
ok @pragdave I know this would be a tiny release but I do not see why not helping out our users. Do I have a go?

[2019-07-28 13:13] RobertDober opened #256 "Align Needed Elixir Version with ex_doc"
Right now [ex_doc v0.21.2](https://github.com/elixir-lang/ex_doc/blob/v0.21.1/mix.exs) requireves Elixir '~> 1.7'

Given that `ex_doc` is our primary customer and that `Earmark 1.3` is stable I'd like to increase the needed Elixir version for `Earmark 1.4` to `1.7` too.

Ok with your philosophy @pragdave ?

[2019-07-28 18:36] pragdave commented on #256
Yeah, that sounds like a good plan

On Sun, Jul 28, 2019 at 8:13 AM Robert Dober <notifications@github.com>
wrote:

[2019-07-28 18:37] pragdave commented on #254
You _always_ have a go. It's your project :)

On Sat, Jul 27, 2019 at 1:02 PM Robert Dober <notifications@github.com>
wrote:

[2019-07-29 06:20] RobertDober commented on #254
Thank you @pragdave, your guidance is always appreciated!

[2019-07-29 06:29] RobertDober commented on #254
@sn3p released

[2019-07-29 09:12] sn3p commented on #254
Many thanks @RobertDober !!

[2019-07-29 11:03] sn3p opened #257 "Deprecate `sanitize` option? [was: Add documentation for `sanitize` option]"
README [says](https://github.com/pragdave/earmark#security):

Please be aware that Markdown is not a secure format. It produces HTML from Markdown and HTML. It is your job to sanitize and or filter the output of Earmark.as_html if you cannot trust the input and are to serve the produced HTML on the Web.

But it doesn't mention the `sanitize` option. Seems that it escapes HTML?

[code]

[code]

[2019-07-29 11:28] RobertDober commented on #257
Oh that is great, I completely had forgotten about that option.

I am however quite sure that it will not be sufficient in its current state...

[code]

I guess I'll rather deprecate the option than to fix it, IIUC most markdown converters do not sanitize.

That said, it would be a great tool to have but reliable sanitization is a small and moving target and I prefer to say clearly that you must n

[2019-07-29 12:00] sn3p commented on #257
Agree. Deprecating the `sanitize` option sounds like the best course of action.
Also escaping HTML alone is not enough, for example this is still allowed:

[code]

marked.js did the same, they added a deprecation note for the `sanitize` option [in the docs](https://marked.js.org/#/USING_ADVANCED.md#options) and added some recommendations.

I've been using [html_sanitize_ex](https://github.com/rrre

[2019-07-29 12:13] sn3p commented on #257
By the way, the reason I'm still using the `sanitize` options is that it escapes HTML.
[html_sanitize_ex](https://github.com/rrrene/html_sanitize_ex) only strips HTML but [has no option to escape](https://github.com/rrrene/html_sanitize_ex/issues/37).

[2019-07-29 12:47] RobertDober commented on #257
Good to know that there are tools for the job in question.

[2019-07-29 12:52] RobertDober commented on #226
Redundant to #249

[2019-07-29 12:52] #226 closed

[2019-07-29 12:54] #252 closed

[2019-07-29 12:55] RobertDober commented on #247
As discussed in many related issues this shall be covered by an exposed AST as sketched in #145

[2019-07-29 12:55] #247 closed

[2019-07-29 12:56] #233 closed

[2019-07-29 12:57] #251 closed

[2019-07-29 13:24] #257 closed

[2019-07-29 13:29] RobertDober opened #259 "Remove deprecated option sanitize"
As followup of #257.

[2019-07-29 13:51] #236 closed

[2019-07-29 13:52] RobertDober opened #261 "Remove Plugins"
Followup of #236 to be removed in 1.4

[2019-07-31 15:27] milmazz opened #262 "Additional <colgroup><col><col></colgroup> block after parsing a table"
Assume this table from the Elixir [Compatibility and Deprecations](https://github.com/elixir-lang/elixir/blob/master/lib/elixir/pages/Compatibility%20and%20Deprecations.md) guide as an input example:

[code]

Earmark produce the following output as HTML:

[code]

The problem with the previous output is the fragment `<colgroup><col><col></colgroup>`, why is that block needed?

When ExDoc produces a

[2019-07-31 16:25] RobertDober commented on #262
Seems indeed that `<colgroup>` is completely useless, I'll look into removing it...

[2019-08-01 08:31] stefanchrobot opened #264 "Earmark.parse/2 disappeared in 1.3.3"
It's here: https://hexdocs.pm/earmark/1.3.2/Earmark.html#functions
But not here: https://hexdocs.pm/earmark/1.3.3/Earmark.html#functions

I'm using Earmark to transform MD to HTML and plaintext. I'm using `Earmark.parse/2` for that. I've bumped my deps from 1.3.2 to 1.3.4 and my code does not compile anymore. I think it would be nicer to deprecate this function instead of just removing it in a pat

[2019-08-01 10:30] RobertDober commented on #264
`Earmark.parse` is not part of the public API. Sorry if that was not clear.
I will see what I can do for a quickfix, and I will assure that `@doc false`  is correctly used.

Be aware though, that deprecation is not possible, my error was not to ensure `@doc false`.

So it will go away in 1.4 w/o warning.

Again apologies for my oversight.

[2019-08-01 10:33] #262 closed

[2019-08-01 10:36] #264 closed

[2019-08-01 10:47] RobertDober opened #265 "Remove deprecated public fn Earmark.parse/2"
c.f. #264

[2019-08-01 22:52] milmazz commented on #262
@RobertDober Thanks for taking care of this issue 👍

[2019-08-02 07:12] RobertDober commented on #262
No problem, just out of curiosity, I removed it because it was useless, however it seems it was perfectly legal HTML5, is this correct?

[2019-08-02 14:57] milmazz commented on #262
@RobertDober ExDoc can produce HTML documents like the ones you normally see on [hexdocs](https://hexdocs.pm/elixir/Kernel.html). ExDoc is also able to produce EPUB documents.

The _Content Documents_ of an EPUB file, which internally is a zip file that follows a given structure according to its specification, are also HTML documents, but in this particular case the document must conform with the

[2019-08-02 17:38] RobertDober commented on #262
:sweat:
Earmark is **not** XHTML compliant
:cry:

[code]

[2019-08-02 17:42] RobertDober opened #266 "Make HTML conformant to the W3C Style Guide"
This will make our output better suited for other tools, e.g. epub.

Reference: https://www.w3schools.com/html/html5_syntax.asp

[2019-08-02 17:46] RobertDober commented on #262
c.f. #266

[2019-08-02 19:27] pragdave commented on #262
Let's not lose HTML5 compatibility, though...

On Fri, Aug 2, 2019 at 12:46 PM Robert Dober <notifications@github.com>
wrote:

[2019-08-02 21:46] RobertDober commented on #262
@pragdave I was worried about that at first too, but to my surprise I discovered that the [HTML5 style guide](https://www.w3schools.com/html/html5_syntax.asp) encourages max XHTML compatibility.

I guess w/o having checked the whole code base is to change `<br>` to '<br />` , `<img ...>` to `<img... />` and so on.

As much as I personally hate these `.. />` suffixes.

That said I agree with you in

[2019-08-03 11:07] #266 closed

[2019-08-03 13:22] milmazz commented on #262
@RobertDober on the contrary, I'm happy to see that you'll increase the compatibility with XHTML. Thanks for your hard work too!

-------- Original Message --------
On Aug 2, 2019, 16:46, Robert Dober wrote:

[2019-08-06 16:50] redrabbit commented on #261
I'd like to customise/extend Earmark to support different things. For example, auto-link specific characters (`@` mention) or support emojis.

What would be the best way to customise the output outside of Earmark?

Let's say to support emojis, i'd like to implement a simple syntax alà `:+1:`. Now this still needs to be escaped when in `<code>` or `<pre>` blocks.

[2019-08-06 19:14] RobertDober commented on #261
I am working on exposing the AST right now, I hope to release an experimental AST exposure in 1.3.6.

A plugin was not really suited for your use case anyway, as you would have needed to preprocess the input and then recursively call `as_html` but as you pointed out correctly the preprocessor needed intimite knowledge of the document structure.

That is where AST exposure shines, traverse the AST

[2019-08-22 18:32] ZombieHarvester opened #268 "Bare url in table leads to crash / memory leak"
contents of `test.md`:

[code]

`Earmark.as_html(File.read!("test.md"))` leads to crash in v1.3.5. Works in v1.3.2
[code]

Beam hogs all system resources, screenshot from observer:

![image](https://user-images.githubusercontent.com/923510/63539807-95d80400-c523-11e9-8049-79aa3739c63e.png)

With smaller amount of rows in the table it returns a couple of screens of deprecation messages (though its

[2019-08-22 20:48] RobertDober commented on #268
Thank you for the report.

[2019-08-29 18:37] RobertDober opened #270 "Deprecation warning concerning autolinks always show the same, incorrect link"
As reported here https://github.com/elixir-lang/ex_doc/issues/1085

The link reported is not the link in the code but a hardcoded `https://github.com/pragdave/earmark\`

[2019-08-29 20:49] #270 closed

[2019-08-30 06:39] RobertDober commented on #268
@ZombieHarvester I see the problem with the deprecation message, which seems to be emitted in an exponential function of the table lines.
As I can not reproduce the crash, could you do the following please
[code]
this shall not crash and work with linear performance.

[2019-08-30 10:55] RobertDober commented on #268
@ZombieHarvester never mind, it is pretty clear why we had exponential growth of deprecation messages and the fix is waiting for a merge already 😄

[2019-08-30 11:57] #268 closed

[2019-08-30 12:18] ZombieHarvester commented on #268
@RobertDober issue is fixed, thanks!

[2019-09-03 14:36] RobertDober commented on #112
Plugins just went the way of the dinosaurs.  :cry:

[2019-09-03 14:36] #112 closed

[2019-09-03 14:42] RobertDober commented on #256
Done in expose_ast

[2019-09-03 14:42] #256 closed

[2019-09-03 15:28] RobertDober commented on #145
It is a little bit sad, that it took me more than 2 years, but eventually it is done.

`Earmark.as_ast` has been merged into master, 1.4 release upcoming this week, I hope.

[2019-09-03 15:28] #145 closed

[2019-09-03 16:30] pareeohnos commented on #145
ah awesome! Nice one

[2019-09-04 18:52] #265 closed

[2019-09-04 19:17] #238 closed

[2019-09-04 19:31] #259 closed

[2019-09-04 19:44] #261 closed

[2019-09-06 22:09] chazsconi commented on #261
@RobertDober great that you now have the AST exposed, but after manipulating the AST is there a way to then render it as HTML?

[2019-09-07 06:08] RobertDober commented on #261
@chazsconi not yet
I guess I have to open a FR

[2019-09-07 06:10] RobertDober opened #277 "Expose a function that transforms the AST to HTML"
Eventually that function will be used in `as_html` and the `HtmlRenderer` will become obsolete.

[2019-09-17 20:14] chengyin opened #278 "Missing GFM table support"
Earmark requires extra space around `|`, while GitHub doesn't:

[code]

GitHub Render test:

#### works

State | Abbrev
----- | ------
Texas | TX

#### doesn't work

State | Abbrev
------|-------
Texas | TX

[2019-09-18 01:16] chengyin opened #279 "Wrong render result when setting syntax highlight language to `C#`"
Using `C#` as the syntax highlight language will lead to wrong render result.

<pre>
markdown = """
[code]
  """

Earmark.as_html!(markdown)
</pre>

Will produce inline code with C# in content:
`<p><code class="inline">C# var optional = Some(123);</code></p>`

In GitHub it renders correctly:

[code]

[2019-09-18 09:11] RobertDober commented on #278
Thank you for reporting this.

We are definitely going for maximal GFM compatibility however this seems a minor difference to me, is this an issue for you?

I will definitely keep this open but assign it low priority for now.

If this is a problem for your application, please tell me more.

Thx again

[2019-09-18 09:13] RobertDober commented on #279
Well you should not use `C#`...

**just kidding**.  Thank you for this I will try to fix this soon, hopefully low hanging fruit.

[2019-09-18 17:30] chengyin commented on #278
Hey Robert, thank you for responding! Our application allows importing markdown files, so the input is entirely out of our control. It does present a problem when the user expects to the same render result as in GitHub.

FYI, both this bug and #279 were caught through https://github.com/louthy/language-ext/blob/master/README.md.

[2019-09-18 20:17] RobertDober commented on #278
Ok if I can adapt the table behavior to the GFM behavior I will, however this was never foreseen to be done,  if it breaks old behavior I am afraid you will be out of luck, but why be pessimistic.

[2019-09-22 07:30] RobertDober opened #280 "Lone double quote conversion to smartypants broken in AST Transformer"
this can be seen here

[code]

This has **zero impact** on `Earmark.as_html`

[2019-09-22 19:19] myfreeweb opened #281 "Double URL encoding/escaping"
Having links with URL-encoded params e.g.

[code]

breaks the links by encoding again:

[code]

[2019-09-22 20:23] RobertDober commented on #281
Ooops I messed up, it is not Earmark's responsibility to URL-encode the links...
Thank you for reporting this

[2019-09-23 07:16] RobertDober opened #282 "create a <tbody> for tables having a <thead>"
This seems to be required in HTML5 https://www.w3schools.com/tags/tag_tbody.asp

[2019-09-23 09:42] #277 closed

[2019-09-23 14:10] #279 closed

[2019-09-23 16:50] #281 closed

[2019-09-23 17:47] RobertDober commented on #278
I have been giving this some thought.
I am afraid of backwards incompatibilities and have therefore implemented only with the new option `gfm_tables`

[code]
I hope that will be good for you.

Hopefully GFM compatibility will advance and with issuing deprecations before adapting this behavior as default we might get to this as a default

[2019-09-23 19:05] #278 closed

[2019-09-23 19:42] #282 closed

[2019-09-24 08:29] RobertDober opened #288 "Allow metadata in the ast passed into the transformer"
The idea is to adapt `Earmark.Transform.transform` to accept not only the types emitted by `Earmark.to_ast` but also tuples of the form `{binary|:comment, list, list, %{custom:, _}}`

This has two benefits
* It would still allow to extend the ast, e.g. by adding a `meta` key to the map (e.g. to solve the html tag problem #289)
* It allows filters to pass in a filtered / modified ast without an unn

[2019-09-24 08:42] RobertDober opened #289 "The _HTML Problem_ in the AST"
Right now the following AST may come from two different inputs
[code]
I call this the _HTML Problem_

Why this is a problem can be demonstrated as follows
[code]
Obviously `where?` got lost.
While this might be a reasonable behavior this needs deprecation warnings to be removed.
Alternatives are available of course, like complicating the AST Parser or creating annotations in the AST as suggested i

[2019-09-24 13:26] jdanielnd opened #290 "Rendering Elixir code inside Markdown"
We're using Earmark to render markdown, but one thing we often need to do is **include helper elixir functions** to encapsulate recurrent present logic. This behavior is inspired by [shortcodes](https://gohugo.io/content-management/shortcodes/) from [Hugo](https://gohugo.io/).

For example, we want to link external contents with a specific class, so that our tracking JS know it should track those

[2019-09-24 14:16] jdanielnd commented on #290
Simple example: https://github.com/jdanielnd/eex_markdown

[2019-09-25 08:03] RobertDober opened #291 "Transformer whitespace inside / around <code> <pre> tags"
As reported by @redrabbit additional whitespace around `<code>` denaturates the output.
Desired output
[code]
because that's what we do

[code]
and what GFM defines https://github.github.com/gfm/#fenced-code-blocks

However https://babelmark.github.io/?text=----%0A%60%60%60elixir%0AHello+World5%0A%60%60%60 quite a surprise to me.

So we are about the only one to get it right.

[2019-09-25 11:26] #291 closed

[2019-09-30 17:54] jmn opened #295 "Heading id:s anchors"
Would it be possible to have `Earmark.as_html("##Foo")` generate `<h2 id="foo">Foo</h2>` so you can navigate the document to section headings (e.g. /document.html#foo"). Pandex (Pandoc) currently does this.

[2019-09-30 18:05] RobertDober commented on #295
I like the idea. But I need to give it some thoughts, because I am very vulnerable to feature creep.
Another point is that we risk creating conflicting id's what would you think about the alternative of being GFM compliant https://babelmark.github.io/?text=%23%23+hello and therefore generating

[code]
That would also be better because as far as I understand @josevalim is rather pro GFM compliance

[2019-09-30 18:15] josevalim commented on #295
We already do it for ExDoc, so if it is added, we would need to make it opt-in or opt-out to not break our references. We pretty much have to namespace all of our ids by the module or function name, because the chance of conflicts is high.

[2019-09-30 19:42] RobertDober commented on #295
Thx for the update  @josevalim. So there _could_ be an option for that, but there are a great many already.... hmm I still see the value of the feature and it is easy to implement, but code is
**always** a liability.

Would using the evolving API with `as_ast |> your_filter |> transform` be an option @jmn ?

I'd love to see people develop that kind of filter for all to use and to take some burden

[2019-09-30 19:48] RobertDober commented on #295
Just an idea. After 1.5 is released it would be nice to create a hex package EarmarkFilters which would test their filters against `Earmark.Transform.transform`. I _could_ own such a package but would surely prefer to be a humble contributor if needed.

[2019-10-01 06:30] #295 closed

[2019-10-01 06:39] RobertDober commented on #290
Sorry as I fail to understand why your example above needs any changes in Earmark I am closing this issue now. Feel free to reopen if there is anything I missed.

[2019-10-01 06:39] #290 closed

[2019-10-14 10:31] RobertDober commented on #214
Plugin has already been removed, however we will follow the following strategy to remove CLI, citing mail, before I forget

Dave:
[code]
me:
[code]

[2019-10-14 10:34] RobertDober opened #296 "Remove `tasks` from `package`"
As mentioned in #214, but forgotten to do so.

[2019-10-14 14:20] #289 closed

[2019-10-14 14:20] #288 closed

[2019-10-14 14:29] #296 closed

[2019-10-21 02:46] thth opened #298 "Blockquotes nested in lists only work with an indentation of 2 spaces"
### Input:
[code]

---

### Expected Output:
HTML output from [Daring Fireball](https://daringfireball.net/projects/markdown/dingus):
[code]
GFM:

- list

    text indented with 4 spaces

---

### Actual Output:
[code]
- list

  text indented with 4 spaces

  &gt; nested blockquote indented with 4 spaces

---

Playing around with other markdown parsers, it seems any number of spaces should produce

[2019-10-21 13:29] RobertDober commented on #298
Thank you for reporting this, this is definitely related to #249

Meaning that by implementing #249 this bug shall go away automatically. However if I can not allocate time to work on this rather complex ticket I might make a bug fix release for this.

Alas, right now I'll not even have the time to look into this, but I will treat it with the high priority it deserves.

[2019-10-31 13:02] josevalim opened #300 "Thoughts into the Earmark.as_ast"
So it turns out that, in an interesting plot of destiny, ExDoc may end-up using the `as_ast` API. So thanks for working on that @RobertDober!

The reason is because we are looking into rendering documentation from other languages and they likely won't provide Markdown but likely an HTML AST.

We are not sure how their AST will look like but I wanted to start this conversation before. In any case,

[2019-10-31 13:45] RobertDober commented on #300
Great, that is why I have introduced the AST **slowly** and as experimental. My roadmap is to have a **stable** AST with 1.5 or 1.6. (1) and there is no hurry.

I love to have that kind of feedback, and I am looking forward to more exchanges on this.
I could definitely render tags as atoms , I would have done it by default, had it not been for Floki.

I also have some ideas about resolving the amb

[2019-10-31 14:03] josevalim commented on #300
Great!

And generating atoms from user input is not the safe too. So even if someone does HTML sanitization, if you generated atoms, they would be vulnerable to atom leakage attacks.

This is not supported by SemVer and it is nothing something that `~> 1.2` in Elixir would know about, so I don't think it would be a good fit.

[2019-10-31 15:23] pragdave commented on #300
Although how likely is an atomic attack? (Sorry)

In order to do damage, they'd have to feed megabytes of stuff into the
code. That would either be from local files (in which case they already
have access) or (if remotely) over HTTP. So simply limiting upload sizes
would ameliorate that vector.

If instead they went to botnet approach, then I'm thinking they'd kill the
app from CPU usage well befo

[2019-10-31 15:33] OvermindDL1 commented on #300
For note, I use earmark to handle markdown for a messaging system, so I definitely want it user-markdown-safe by default and anything that breaks that to be super well documented as such.  ^.^